
<div class="insideCard-gridview">
    <div class="cls-td">
        <label>Product</label>
    </div>
    <div class="productDiv">
        <label class="productName">
            Avg. Autocall
        </label>
    </div>
    <div>
        <select>
            <option>Semiannually</option>
        </select>
    </div>

    <div class="cls-td">
        <label>Underlying</label>
    </div>
    <div class="underlyingDiv">
        <input type="text" value="ADBE.OQ" class="InputClass">
    </div>
    
    

    <div class="cls-td">
        <label>Notional / Ccy / Solve for</label>
    </div>
    <div>
        <input type="text" value="1,000,000.00" class="InputClass">
    </div>
    <div class="">
        <select>
            <option>
                EUR
            </option>
        </select>
    </div>
    <div class="">
       <select>
            <option>KO Coupon(%)</option>
       </select>
    </div>

    <div class="cls-td">
        <label>Tenor / Upfront / No KO Coupon (%)</label>
    </div>
    <div  class="tenorDiv">
        <select class="selecttenor">
            <option>9M</option>
        </select>
        <label class="datelabel">05-Aug-2022</label>
    </div>
    <div class="">
        <input type="text" value="0.50" class="InputClass upfrontDiv">%
    </div>
    <div class="">
        <input type="text" value="3.00" class="InputClass upfrontDiv">%
    </div>
  
    <div class="cls-td">
        <label>KO (%)/KO Coupon (%) / Observation</label>
    </div>
    <div class="">
        <input type = "text" value="100" class="InputClass upfrontDiv" disabled/>%
        <!-- <input type = "text" value="" class="InputClass"/>% -->
    </div>
    <div class="columnspan">
        <select>
            <option>Average(3 Business Days)</option>
        </select>
    </div>
   <!--
    <div class="cls-td">
        <label>Principal Protection / Funding Rate</label>
    </div>
    <div>
        <input type = "text" value="100.00" class="InputClass"/>%
    </div>
    <div>
        <input type = "text" value="1MSHIBOR" class="InputClass" disabled/>+
    </div>
    <div>
        <input type = "text" value="310" class="InputClass"/>bps
    </div> -->


</div>

<div class="pricingTile">
    <div class="pricing-div">
        <div>

        </div>
        <div>
            <button class="btn-price">Price</button>
        </div>
        <div>
            <button class="btn-price">Email</button>
        </div>
        <div>
            <button class="btn-price">Order</button>
        </div>
    </div>   

    <div class="pricing-card">
        <div>

        </div>
    </div>
</div> 