// :host {
//     // overflow: hidden !important;
// }
$assetPath: "http://52.187.114.119";
// .page-title{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }
.workflowblotter-component {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: column;
    font-size: 15px;
    width: calc(100%);
}

.content-container {
    // margin-left: 20px;
    overflow-x: scroll;
    width: calc(100%);
    // Changed by MohanP | 2 Feb'22
    padding: 0px 10px;
    // margin: 15px 40px 0px;
}

td {
    font-size: 15px;
    padding: 10px 8px;
    margin: 0px !important;
    vertical-align: center;
}

// .padding-40px{
//   padding-left: 40px;
//   padding-right: 40px;
// }
.maxwidth100 {
    max-width: 100px !important;
    min-width: 100px !important;
}

.maxwidth120 {
    max-width: 120px !important;
    min-width: 120px !important;
}

.maxwidth150 {
    max-width: 150px !important;
    min-width: 150px !important;
}

.minwidth600 {
    max-width: 350px !important;
    min-width: 350px !important;
    white-space: pre-line;
}

.maxwidth120 {
    max-width: 120px !important;
    min-width: 120px !important;
}

.maxwidth200 {
    max-width: 180px !important;
    min-width: 180px !important;
    white-space: pre-line;
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    .maxwidth100 {
        max-width: 95px !important;
        min-width: 95px !important;
        font-size: 13px !important;
    }
    .maxwidth120 {
        max-width: 105px !important;
        min-width: 105px !important;
        font-size: 13px !important;
        white-space: pre-line;
    }
    .maxwidth150 {
        max-width: 120px !important;
        min-width: 120px !important;
        font-size: 13px !important;
    }
    .minwidth600 {
        max-width: 300px !important;
        min-width: 300px !important;
        white-space: pre-line;
        font-size: 13px !important;
    }
    .maxwidth120 {
        max-width: 100px !important;
        min-width: 100px !important;
        font-size: 13px !important;
        white-space: pre-line;
    }
    .maxwidth200 {
        max-width: 130px !important;
        min-width: 130px !important;
        font-size: 13px !important;
        white-space: pre-line;
    }
    td {
        font-size: 12px;
    }
}

@media screen and (max-width: 1600px) {
    .maxwidth100 {
        max-width: 95px !important;
        min-width: 95px !important;
        font-size: 13px !important;
    }
    .maxwidth120 {
        max-width: 105px !important;
        min-width: 105px !important;
        font-size: 13px !important;
        white-space: pre-line;
    }
    .maxwidth150 {
        max-width: 120px !important;
        min-width: 120px !important;
        font-size: 13px !important;
    }
    .minwidth600 {
        max-width: 220px !important;
        min-width: 220px !important;
        white-space: pre-line;
        font-size: 13px !important;
    }
    .maxwidth120 {
        max-width: 100px !important;
        min-width: 100px !important;
        font-size: 13px !important;
        white-space: pre-line;
    }
    .maxwidth200 {
        max-width: 100px !important;
        min-width: 100px !important;
        font-size: 13px !important;
        white-space: pre-line;
    }
    td {
        font-size: 12px;
    }
}

@media screen and (max-width: 1440px) {
    .content-container {
        // margin-left: 20px;
        overflow-x: scroll;
        width: 100%;
        zoom: 90%;
    }
    .maxwidth100 {
        // max-width: 100px !important;
        width: 100px !important;
        font-size: 13px !important;
    }
    .maxwidth120 {
        // max-width: 120px !important;
        width: 100px !important;
        font-size: 13px !important;
        white-space: pre-line;
    }
    .maxwidth150 {
        // max-width: 150px !important;
        width: 110px !important;
        font-size: 13px !important;
    }
    .minwidth600 {
        // max-width: 350px !important;
        width: 200px !important;
        white-space: pre-line;
        font-size: 13px !important;
    }
    .maxwidth120 {
        // max-width: 120px !important;
        width: 100px !important;
        font-size: 13px !important;
        white-space: pre-line;
    }
    .maxwidth200 {
        // max-width: 180px !important;
        width: 120px !important;
        font-size: 13px !important;
        white-space: pre-line;
    }
    td {
        font-size: 12px;
    }
}

@media screen and (max-width: 1280px) {
    .content-container {
        // margin-left: 20px;
        overflow-x: scroll;
        width: 100%;
        zoom: 82%;
    }
    td {
        font-size: 12px;
    }
    .filter-tabs {
        .filter-tab {
            width: 100px !important;
        }
    }
}

thead,
tbody {
    display: block;
}

tbody {
    /*height: 800px;
     Just for the demo          */
    height: auto !important;
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
    /* Hide the horizontal scroll */
}

.loader {
    img {
        height: 100px;
        width: 100px;
    }
}

.loaderdiv {
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

.filter-container {
    display: grid;
    grid-template-columns: 10% auto;
    /* row-gap: 10px; */
    // -moz-column-gap: 20px;
    /* column-gap: 20px; */
    padding: 20px;
    letter-spacing: 0.72px;
    border-radius: 10px;
    margin-left: 5px;
    width: 100%;
    background-color: white;
    padding-bottom: 15px;
    box-shadow: var(--box-shadow-thin);
    transition: 0.3s;
    background: var(--containers);
    margin-left: 20px !important;
    margin-bottom: 24px;
    border-radius: 4px;
    // margin: 10px;
    .filter-row {
        display: grid;
        // row-gap: 10px;
        // grid-template-columns: 40% 60% ;
        // grid-template-columns: 30% 30% 30% 35%;
        // grid-template-columns: 40% 40% 40% auto;
        grid-template-columns: 50px 15% auto;
    }
    .filter-row1 {
        display: grid;
        row-gap: 10px;
        grid-template-columns: 20% 50% 30%;
    }
    .input-dob {
        position: relative;
        width: 100%;
        height: 35px;
        color: white;
    }
    .input-dob:before {
        position: absolute;
        top: 10px;
        left: 5px;
        content: attr(data-date);
        display: inline-block;
        color: black;
    }
    .input-dob::-webkit-datetime-edit,
    .input-dob::-webkit-inner-spin-button,
    .input-dob::-webkit-clear-button {
        display: none;
    }
    .input-dob::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 8px;
        right: 0;
        color: black;
        opacity: 1;
    }
}

.blotter {
    display: flex;
    background-color: var(--containers);
    flex-direction: column;
    font-size: 15px;
    margin: 0px 40px;
    min-height: calc( 100vh - 230px); // Edited by Rohit T. Asked by Parikshit K. 01-Feb-2021
    border-radius: 0px 0px 4px 4px;
    // width: calc(100vw - 290px);
    // margin: 0px 40px 0px 40px;
}

.collapsed-blotter {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: column;
    font-size: 15px;
    width: 68vw;
    // margin-left: 17%;
}

.collapsed-container {
    display: flex;
    // grid-template-columns: 0.1% 99.9%;\
}

.wf-queues {
    // display: grid;
    //   padding: 34px;
    //   grid-gap: 10px;
    //   background-color: #fafafa;
    //   box-shadow: var(--box-shadow);
    //   /* margin-top: 10px; */
    //   width: max-content;
    //   height: max-content;
    //   margin-left: 5px;
    display: flex;
    padding: 34px;
    display: flow-root;
    background-color: #fafafa;
    box-shadow: var(--box-shadow);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: 90vh;
    margin-left: 5px;
}

.queue-element {
    display: grid;
    margin-top: 15px;
    grid-template-columns: 15% auto 10%;
    align-items: center;
    font-variant: small-caps;
    // margin-bottom: 17px;
}

.back-icon {
    margin-right: -3px;
    float: right;
    padding: 0px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    margin-top: -30px;
    background: url(#{$assetPath}/assets/pin.png) no-repeat scroll calc(50%) center/20px auto !important;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    position: relative;
}

//changes done
.filters {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // margin-left: 10px;
    // align-items: center;
    display: grid;
    //  grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    padding: 5px 0px 10px 0px;
    letter-spacing: 0.72px;
    border-radius: 10px;
    // margin-left: 5px;
    // /* width: 10px;
    // background-color: white;
    // /* padding-bottom: 15px;
    // box-shadow: var(--box-shadow-thin);
    transition: 0.3s;
    // background: var(--containers);
    // margin-left: 20px !important;
    // margin-bottom: 24px;
    border-radius: 4px;
    // margin: 0px 2px;
    // /* height: 10px;
    margin-bottom: 0px;
    // margin: 0px 40px;
}

.filter-element1 {
    display: flex;
    padding-left: 10px;
    // grid-template-columns: 3% 90%;
}

.right-col {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    margin-left: 10px;
    align-items: baseline;
    gap: 35px;
}

.product-filter {
    display: grid;
    // grid-template-columns:  10% 30% 6% 30% 24%;
    grid-template-columns: 90px auto;
    // grid-template-columns: 10% 30% 10% 30% 6% 30% 24%;
    align-items: center;
}

.dateFilter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    input[type="date"] {
        // width: 18%;
        width: 150px;
        line-height: 18px;
        text-indent: 6px;
        // margin-inline: 2%;
        // padding-left: 17px;
    }
    // label{
    //   margin-right: 10px
    // }
}

.periodFilter {
    display: grid;
    // grid-template-columns:  10% 30% 6% 30% 24%;
    grid-template-columns: 90px auto;
    // grid-template-columns: 10% 30% 10% 30% 6% 30% 24%;
    align-items: center;
    // margin-top: -1%;
    // input[type = "date"] {
    //   // width: 18%;
    //   width: 150px;
    // // margin-inline: 2%;
    // // padding-left: 17px;
    // }
}

.edit-icon {
    float: right;
    padding: 0px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    // margin: -17px !important;
    background: url(#{$assetPath}/assets/edit.png) no-repeat scroll calc(50%) center/20px auto !important;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin: 6px 0px 6px 0px;
}

.filterBox {
    width: 135px;
    position: absolute;
    z-index: 10;
}

.filterCross {
    z-index: 10;
    position: absolute;
    margin-left: 116px;
    margin-top: 5px;
}

.tabs-pages {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    height: 50px;
    grid-gap: var(--tab-gap);
    background: var(--containers);
    gap: var(--tab-gap);
    /* padding: 0px 45px 0px 45px; */
    border-radius: 4px;
    .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid var(--inactive-tab-border);
        height: 3em;
        text-decoration: underline;
        text-underline-offset: 4px;
        font-weight: 400;
        box-shadow: var(--neumorphic-up);
        border-radius: var(--tab-radius);
    }
    .tabs:hover {
        border-bottom: 2px solid var(--inactive-tab-border);
    }
    .tab-active {
        font-weight: 500;
        border-bottom: var(--border-tabs) !important;
        box-shadow: var(--neumorphic-down);
        border-radius: var(--tab-radius);
    }
}

.tabs-padding {
    padding: 0px 40px 0px 40px;
}

// .tabs-pages {
//     display: flex;
//     justify-content: space-around;
//     font-size: 15px;
//     margin-bottom: 10px;
//     height: 50px;
//     margin: 0px 40px 0px 40px;
//     gap: var(--tab-gap); // box-shadow: var(--neumorphic-up);
//     // border-radius: var(--tab-radius);
//     .tabs {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 100%;
//         cursor: pointer;
//         border-bottom: 1px solid var(--inactive-tab-border);
//         height: 3em;
//         text-decoration: underline;
//         text-underline-offset: 4px;
//         font-weight: 400;
//         box-shadow: var(--neumorphic-up);
//         border-radius: var(--tab-radius);
//     }
//     .tabs:hover {
//         border-bottom: 2px solid var(--inactive-tab-border);
//     }
//     .tab-active {
//         font-weight: 500;
//         border-bottom: var(--border-tabs) !important;
//         box-shadow: var(--neumorphic-down);
//         border-radius: var(--tab-radius);
//     }
// }
.FXHeader {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.2fr 1.2fr 1.2fr 1fr 1.6fr 1fr 1.6fr 1.2fr 1.4fr 1.4fr; // Edited by Rohit T. Asked by Parikshit K. 01-Feb-2021
    width: 100%;
    margin-bottom: 2px;
    // padding-bottom: 20px;
}

// Edited by Rohit T. Asked by Parikshit K. 01-Feb-2021
.status {
    padding: 6px 1px;
    width: 110px;
    height: 30px;
    cursor: default;
    margin: auto;
    border-radius: 3px;
    line-height: 17px;
}

.Confirmed {
    background-color: var(--green-bg);
    // color: var(--green);
    // background-color: var(--green);
    color: var(--white);
}

.Created {
    background-color: var(--blue-bg);
    // color: var(--blue);
    // background-color: var(--blue);
    color: var(--white);
}

.submitted {
    background-color: var(--light-brown-bg);
    // color: var(--light-brown);
    // background-color: var(--light-brown);
    color: var(--white);
    // width: 100px;
}

.verified {
    background-color: var(--purple-bg);
    // color: var(--purple);  
    // background-color: var(--purple);
    color: var(--white);
}

.cancelled {
    background-color: var(--brown-bg);
    // color: var(--brown);
    // background-color: var(--brown);
    color: var(--white);
}

.rejected {
    background-color: var(--red-bg);
    // color: var(--red);
    // background-color: var(--red);
    color: var(--white);
}

.filled {
    background-color: #4ac2ff34;
    color: var(--white);
}

.Confirmed-tag {
    // background-color: var(--green-bg);
    color: var(--green);
    border: 1px solid var(--green);
    // color: var(--white);
}

.Created-tag {
    // background-color: var(--blue-bg);
    color: var(--blue);
    border: 1px solid var(--blue);
    // color: var(--white);
}

.submitted-tag {
    // background-color: var(--light-brown-bg);
    color: var(--light-brown);
    border: 1px solid var(--light-brown);
    // color: var(--white);
}

.verified-tag {
    // background-color: var(--purple-bg);
    color: var(--purple);
    border: 1px solid var(--purple);
    // color: var(--white);  
}

.cancelled-tag {
    // background-color: var(--brown-bg);
    color: var(--brown);
    border: 1px solid var(--brown);
    // color: var(--white);
}

.rejected-tag {
    // background-color: var(--red-bg);
    color: var(--red);
    border: 1px solid var(--red);
    // color: var(--white);
}

.filled-tag {
    color: var(--light-blue);
    // color: #4ac2ff87;
    border: 1px solid var(--light-blue);
}

.fully-filled-tag {
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.part-filled-tag {
    color: var(--light-blue);
    // color: #4ac2ff87;
    border: 1px solid var(--light-blue);
}

// .submitted:hover {
//     border: solid var(--brown) 1px;
//     border-radius: 3px;
//     color: var(--white);
//     background-color: var(--brown);
//     padding: 4px;
//     width: 90px;
//     height: 30px;
// }
// .verified:hover {
//     border: solid var(--red) 1px;
//     border-radius: 3px;
//     color: var(--white);
//     background-color: var(--red);
//     padding: 4px;
//     width: 90px;
//     height: 30px;
// }
// .Created:hover {
//     border: solid var(--blue) 1px;
//     border-radius: 3px;
//     color: var(--white);
//     background-color: var(--blue);
//     padding: 4px;
//     width: 90px;
//     height: 30px;
// }
// .Confirmed:hover {
//     border: solid var(--green) 1px;
//     border-radius: 3px;
//     color: var(--white);
//     background-color: var(--green);
//     padding: 4px;
//     width: 90px;
//     height: 30px;
// }
// .cancelled:hover {
//     border: solid var(--disabled) 1px;
//     border-radius: 3px;
//     color: var(--white);
//     background-color: var(--disabled);
//     padding: 4px;
//     width: 90px;
//     height: 30px;
// }
// .rejected:hover {
//     border: solid var(--red) 1px;
//     border-radius: 3px;
//     color: var(--white);
//     background-color: var(--red);
//     padding: 4px;
//     width: 90px;
//     height: 30px;
// }
// Ended by Rohit T. Asked by Parikshit K. 01-Feb-2021
.imgclass {
    height: 1.7em;
}

.pdfcsv {
    margin-left: 1em;
    padding-top: 0.3em;
    font-size: 0.9em;
}

.filter {
    /* border-bottom: var(--midgrey) 1px solid; */
    padding: 0.5em 0em;
}

.download {
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.investment-table-body {
    width: fit-content;
    height: 60vh !important;
}

.fx-table-body {
    // width: 95%;
    height: auto !important;
}

.pdf-class {
    color: black !important;
}

// .fx-table-body td {
//     padding: 2px !important;
//     margin: 0px !important;
// }
.investment-table-body::-webkit-scrollbar {
    width: 2px;
}

.fx-table-body::-webkit-scrollbar {
    width: 2px;
}

@media screen and (max-width: 1614px) {
    .dateclass {
        font-size: 0.9em;
        padding: 0;
        margin-left: 0.6em;
    }
    .imgclass {
        height: 1.2em;
        font-size: 0.9em;
    }
    .download {
        padding: 0;
        display: flex;
        align-items: flex-start;
        cursor: pointer;
    }
    .pdfcsv {
        margin-left: 0.5em;
    }
}

.orders {
    display: grid;
    // grid-template-columns: 70px 100px 120px 1fr 1fr 2fr 1.5fr 0.5fr 1fr 0.75fr 1fr 1.5fr;  //Changed by rohit T. 04-Feb-2021
    // grid-template-columns: 60px 115px 100px 110px 18% 50px 100px 8% 100px 100px 10%;
    grid-template-columns: 70px 100px 120px 1fr 1.2fr 2fr 1.5fr 0.5fr 1fr 0.75fr 0.8fr 1fr 2fr; //Changed by Alolika G | 15-06-2022
    word-wrap: break-word;
}

.ordersRM {
    display: grid;
    grid-template-columns: 70px 100px 120px 1fr 1.4fr 2fr 1.4fr 1.5fr 0.7fr 1.4fr 0.8fr 1fr 1fr; //Changed by rohit T. 04-Feb-2021
    word-wrap: break-word;
}

tr {
    height: max-content !important;
}

::ng-deep .mat-tab-header-pagination-chevron {
    border-color: var(--mattab-text-chevron) !important;
}

::ng-deep .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
    border-color: var(--mattab-text-chevron-disabled) !important;
}

::ng-deep .ngx-pagination {
    float: left;
}

::ng-deep .ngx-pagination .current {
    background: var(--pagination-current-tab) !important;
    border-radius: 4px;
}

::ng-deep .ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: var(--pagination-hover) !important;
    border-radius: 5px;
}

::ng-deep .ngx-pagination a,
.ngx-pagination button {
    cursor: pointer;
    color: #7d7d74 !important;
}

::ng-deep .ngx-pagination .current {
    color: #cacaca !important;
}

.pagination {
    padding-left: 10px;
}

.svgAlign {
    align-self: center;
}

// .cursor{
//     cursor: pointer;
// }
// Added by Rohit T. Asked by Parikshit K. 01-Feb-2021
.empty-state {
    display: flex;
    width: 100%;
    margin: 8% auto;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .state-big {
        font-size: 15px;
        color: var(--table-header-text);
    }
    .state-small {
        font-size: 15px;
        color: var(--table-header-text);
    }
}

.filter-tabs {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    .filter-tab {
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        // background-color: var(--input-bg);
        color: var(-text);
        box-shadow: var(--neumorphic-up);
        border-radius: 4px;
        width: 110px;
        // border: 1px solid var(--btn-border);
        cursor: pointer;
        .filter-title {
            cursor: pointer;
            font-size: 13px;
        }
        .filter-value {
            cursor: pointer;
            font-size: 18px;
        }
    }
    .filter-tab.active {
        background-color: var(--selected-box);
        border: 1px solid var(--btn-bg);
        color: var(--text); // Changed by Rohit T. | 03-Feb-2021
        box-shadow: var(--neumorphic-down);
    }
}

.all {
    background-color: var(--select-bg);
}

.Confirmed.active {
    background-color: var(--green-bg) !important;
    // color: var(--green);
    border: 1px solid var(--green) !important;
    color: var(--white);
}

.Created.active {
    background-color: var(--blue-bg) !important;
    // color: var(--blue);
    border: 1px solid var(--blue) !important;
    color: var(--white);
}

.submitted.active {
    background-color: var(--light-brown-bg) !important;
    // color: var(--light-brown);
    border: 1px solid var(--light-brown) !important;
    color: var(--white);
}

.verified.active {
    background-color: var(--purple-bg) !important;
    // color: var(--purple);  
    border: 1px solid var(--purple) !important;
    color: var(--white);
}

.cancelled.active {
    background-color: var(--brown-bg) !important;
    // color: var(--brown);
    border: 1px solid var(--brown) !important;
    color: var(--white);
}

.rejected.active {
    background-color: var(--red-bg) !important;
    // color: var(--red);
    border: 1px solid var(--red) !important;
    color: var(--white);
}

.filled.active {
    background-color: #4ac2ff34 !important;
    border: 1px solid #4ac2ff87 !important;
    color: var(--white);
}

// Ended by Rohit T. Asked by Parikshit K. 01-Feb-2021