<!-- <p>view-orders works!</p> -->
<div class="viewOrder-container">
    <h4>Orders List:</h4>
    <div  *ngIf = "!loader">        
        <table>
            <thead>
                <th>Deal No</th>
                <th>Customer Name</th>
                <th>Nominal Amount</th>
                <th>Note Price (%)</th>
                <th>Trade Date</th>
                <th>Client/Cpty Dir.</th>
            </thead>
            <tbody>
                <tr *ngFor="let orders of ordersData">
                    <td class="align-center">{{orders.RO_ID}}</td>
                    <td class="textFormat">{{orders.Customer_Name}}</td>
                    <td class="align-right numberFormat">{{orders.formattedNotional}}</td>
                    <td class="align-right numberFormat">{{orders.NAV | number:'1.2-2'}}</td>
                    <td class="align-center">{{orders.formattedDate}}</td>
                    <td class="textFormat">{{orders.BS_Direction}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="loader-container"  *ngIf = "loader">
        <div class="">
          <div class="multi-ripple">
            <div></div>
            <div></div>
          </div>
        </div>
      </div>  
</div>