
<div class="insideCard-gridview">
    <div class="cls-td">
        <label>Product</label>
    </div>
    <div class="">
        <label class="productName">
            Cash FX
        </label>
    </div>
    <div>
        <select>
            <option>Spot</option>
        </select>
    </div>

    <div class="cls-td">
        <label>Pair</label>
    </div>
    <div class="">
       <select>
           <option>JPY - HKD</option>
       </select>
    </div>
    <div class="">
        <!-- <input type="text" value="1,000,000.00" class="InputClass"> -->
    </div>

    <div class="cls-td">
        <label>Contract Amt</label>
    </div>
    <div>
        <input type = "text" value="2,000,000.00" class="InputClass"/>
    </div>
    <div>
        <!-- <input type = "text" value="1.1905" class="InputClass"/> -->
    </div>

    <div class="cls-td">
        <label>Tenor</label>
    </div>
    <div>
        <select>
            <option>
                TOD
            </option>
        </select>
    </div>
    <div class="cls-td">
        <label>19-Oct-2021</label>
    </div>

    <div class="cls-td">
        <label>Spread (Pips)</label>
    </div>
    <div>
        <input type="text" value="20" class="InputClass">
    </div>
    <div class="cls-td">
        <!-- <label>19-Apr-2022</label> -->
    </div>

    <div class="cls-td">
        <label>Client / Cust. Rate</label>
    </div>
    <label class="switch">
        <input type="checkbox" id="togBtn">
        <div class="slider round">
         <span class="on buy">Buy</span>
         <span class="off sell">Sell</span>
        </div>
    </label>
    <div>
        <input type="text" value="0.0671" class="InputClass">
    </div>
   

  
   
    <!-- <div class="row-merge"></div> -->

</div>

<div class="pricingTile" >
    <div class="pricing-div">
        <div>

        </div>
        <div></div>
        <div>
            <button class="btn-price">Price</button>
        </div>
        <div>
            <button class="btn-price">Book Request</button>
        </div>
    </div>   

    <div class="pricing-card">
        <div>

        </div>
    </div>
</div> 
