<div class="loginPage">
    <div class="loginCard">
        <div class="login-header">
            <p class="form-header">Change Password</p>
        </div>

        <br>
        <form class="login-form">
            <div class="form-group">
                <input type="text" class="form-control username" placeholder="Username" required="required"
                    autocomplete="off" [ngClass]="{'input-error': isError}" [(ngModel)]="username"
                    [ngModelOptions]="{standalone: true}" (focus)="isError=false">
            </div>
            <div class="form-group">
                <div class="input-password">
                    <input [type]="isNewPasswordText?'text':'password'" class="form-control password"
                        placeholder="Old Password" required="required" autocomplete="off"
                        [ngClass]="{'input-error': isError}" [(ngModel)]="oldpassword"
                        [ngModelOptions]="{standalone: true}" (focus)="isError=false">
                    <div class="show-password" (click)="isNewPasswordText=!isNewPasswordText">
                        <span><img *ngIf="isNewPasswordText" [src]="isProd?'assets/eye.png':'../../../assets/eye.png'"
                                style="width: 20px; height: 20px;" alt=""></span>
                        <span><img *ngIf="!isNewPasswordText"
                                [src]="isProd?'assets/visibility.png':'../../../assets/visibility.png'"
                                style="width: 20px; height: 20px;" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-password">
                    <input [type]="isOldPasswordText?'text':'password'" class="form-control password"
                        placeholder="New Password" required="required" autocomplete="off"
                        [ngClass]="{'input-error': isError}" [(ngModel)]="newpassword"
                        [ngModelOptions]="{standalone: true}" (focus)="isError=false">
                    <div class="show-password" (click)="isOldPasswordText=!isOldPasswordText">
                        <span><img *ngIf="isOldPasswordText" [src]="isProd?'assets/eye.png':'../../../assets/eye.png'"
                                style="width: 20px; height: 20px;" alt=""></span>
                        <span><img *ngIf="!isOldPasswordText"
                                [src]="isProd?'assets/visibility.png':'../../../assets/visibility.png'"
                                style="width: 20px; height: 20px;" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-password">
                    <input [type]="isConfirmPasswordText?'text':'password'" class="form-control password"
                        placeholder="Confirm Password" required="required" autocomplete="off"
                        [ngClass]="{'input-error': isError}" [(ngModel)]="confirmpassword"
                        [ngModelOptions]="{standalone: true}" (focus)="isError=false">
                    <div class="show-password" (click)="isConfirmPasswordText=!isConfirmPasswordText">
                        <span><img *ngIf="isConfirmPasswordText" [src]="isProd?'assets/eye.png':'../../../assets/eye.png'"
                                style="width: 20px; height: 20px;" alt=""></span>
                        <span><img *ngIf="!isConfirmPasswordText"
                                [src]="isProd?'assets/visibility.png':'../../../assets/visibility.png'"
                                style="width: 20px; height: 20px;" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="form-group override-btn-options">
                <button type="submit" class="btn btn-login btn-block" (click)="changePassword();">Submit</button>
                <button type="submit" class="btn btn-login btn-block" (click)="cancel();">Cancel</button>
            </div>

        </form>
        <p class="error-message" *ngIf="isError" [innerHTML]="ErrorMsg"></p>
        <p class="success-message" *ngIf="isSuccess" [innerHTML]="SuccessMsg"></p>

        <br>
    </div>
</div>