<div class="page-navigation" [ngClass]="">
  <app-svg-icons
    *ngIf="!IsLandingPage"
    class="back-button"
    [icon]="'back-button'"
    [width]="'40'"
    [height]="'40'"
    [fill]="'var(--headers)'"
    (click)="closeProduct()"
  ></app-svg-icons>
  <div class="page-title">{{ pageTitle }}</div>
</div>
<div class="main-container" *ngIf="IsLandingPage">
  <div class="sub-container" *ngIf="subpages.length > 0">
    <ng-container *ngFor="let item of subpages">
      <div class="cards-container" *ngIf="item.displayYN">
        <div class="card" (click)="fnchangeProduct(item.name)">
          <app-svg-icons
            [icon]="item.name"
            [width]="'100'"
            [height]="'100'"
          ></app-svg-icons>
          <span class="card-header">{{ item.name }}</span>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="sub-container" *ngIf="subpages.length === 0">
    <div class="loaderdiv">
      <div class="loader-center">
        <div class="multi-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tabs-container" *ngIf="!IsLandingPage">
  <div *ngIf="subpages.length > 0">
    <div class="tabs-pages">
      <ng-container *ngFor="let item of subpages">
        <div
          class="tabs"
          *ngIf="item.displayYN"
          [ngClass]="{ 'tab-active': item.activeYN }"
          (click)="fnchangeProduct(item.name)"
        >
          {{ item.name }}
        </div>
      </ng-container>
    </div>
    <div *ngFor="let item of subpages">
      <ng-container [ngSwitch]="item.name">
        <ng-template [ngSwitchCase]="'ELN'" *ngIf="item.activeYN">
          <app-eln [ViewMode]="'FullPage'"></app-eln>
        </ng-template>
        <ng-template [ngSwitchCase]="'FCN'" *ngIf="item.activeYN">
          <app-fcn
            [Product_ID]="item.Product_Id"
            [Product_Code]="item.Product_Code"
            [Product_Name]="item.Product_Name"
            [Mode]="Mode"
            [UserGroup]="UserGroup"
            [PricingMode]="PricingMode"
            [AppMode]="AppMode"
          >
          </app-fcn>
        </ng-template>
        <ng-template [ngSwitchCase]="'DRA'" *ngIf="item.activeYN">
          <app-dra
            [Product_ID]="item.Product_Id"
            [Product_Code]="item.Product_Code"
            [Product_Name]="item.Product_Name"
            [Mode]="Mode"
            [UserGroup]="UserGroup"
            [PricingMode]="PricingMode"
            [AppMode]="AppMode"
            [ViewMode]="'FullPage'"
          ></app-dra>
        </ng-template>
        <ng-template [ngSwitchCase]="'Accu'" *ngIf="item.activeYN">
          <app-accu
            [Product_ID]="item.Product_Id"
            [Product_Code]="item.Product_Code"
            [Product_Name]="item.Product_Name"
            [Mode]="Mode"
            [UserGroup]="UserGroup"
            [PricingMode]="PricingMode"
            [AppMode]="AppMode"
          ></app-accu>
        </ng-template>
        <ng-template [ngSwitchCase]="'Decu'" *ngIf="item.activeYN">
          <app-decu
            [Product_ID]="item.Product_Id"
            [Product_Code]="item.Product_Code"
            [Product_Name]="item.Product_Name"
            [Mode]="Mode"
            [UserGroup]="UserGroup"
            [PricingMode]="PricingMode"
            [AppMode]="AppMode"
          >
          </app-decu>
        </ng-template>
        <ng-template [ngSwitchCase]="'Options'" *ngIf="item.activeYN">
          <app-options
            [Product_ID]="item.Product_Id"
            [Product_Code]="item.Product_Code"
            [Product_Name]="item.Product_Name"
            [Mode]="Mode"
            [UserGroup]="UserGroup"
            [PricingMode]="PricingMode"
            [AppMode]="AppMode"
          >
          </app-options>
        </ng-template>
        <ng-template [ngSwitchCase]="'BEN'" *ngIf="item.activeYN">
          <app-ben
            [Product_ID]="item.Product_Id"
            [Product_Code]="item.Product_Code"
            [Product_Name]="item.Product_Name"
            [Mode]="Mode"
            [UserGroup]="UserGroup"
            [PricingMode]="PricingMode"
            [AppMode]="AppMode"
          ></app-ben>
        </ng-template>
        <ng-template [ngSwitchCase]="'Phoenix'" *ngIf="item.activeYN">
          <app-phoenix
            [Product_ID]="item.Product_Id"
            [Product_Code]="item.Product_Code"
            [Product_Name]="item.Product_Name"
            [Mode]="Mode"
            [UserGroup]="UserGroup"
            [PricingMode]="PricingMode"
            [AppMode]="AppMode"
          ></app-phoenix>
        </ng-template>
      </ng-container>
    </div>
  </div>

  <div *ngIf="subpages.length === 0">
    <div class="loaderdiv">
      <div class="loader-center">
        <div class="multi-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
