.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    // padding-left: 5em;
}
.sub-container {
    // height: 62vh;
    // width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--gap);
    text-align: center;
}
.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    box-shadow: var(--box-shadow-thin);
    .card-header {
        width: 100%;
        font-size: larger;
        color: var(--heading-label);
        text-align: center;
        padding: 0px 0px 10px 0px;
    }
}
.card:hover {
    box-shadow: var(--box-shadow-hovered);
    cursor: pointer;
}

.container {
    height: 450px;
    position: absolute;
    width: -webkit-fill-available;
    left: 40px;
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: 300px;
    height: 300px;
    background-color: var(--containers);
    border-radius: 10px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    align-items: center;
}

.title {
    color: var(--heading-label);
    font-weight: 400;
    position: absolute;
    left: 20px;
    top: 15px;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    background-color: var(--containers);
    letter-spacing: 0.72px;
    border-radius: 4px;
    width: auto;
    box-shadow: var(--box-shadow-thin);
    height: auto;
    margin: 0px 20px;

    .tabs-pages {
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        height: 50px;
        grid-gap: var(--tab-gap);
        gap: var(--tab-gap);
        .tabs-pages-container {
            width: auto;
        }
        .tabs {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            cursor: pointer;
            border-bottom: 1px solid var(--inactive-tab-border);
            // border-bottom: none !important;
            height: 3em;
            text-decoration: none;
            text-underline-offset: 4px;
            font-weight: 400;
            box-shadow: var(--neumorphic-up);
            border-radius: var(--tab-radius);
        }
        .tabs:hover {
            border-bottom: 2px solid var(--inactive-tab-border);
        }
        .tab-active {
            font-weight: 400;
            border-bottom: var(--border-tabs) !important;
            box-shadow: var(--neumorphic-down);
            border-radius: var(--tab-radius);
        }
    }
}

.page-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 0px !important;
}

// .myButton:after {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 0%;
//     height: 100%;
//     background-color: rgba(255,255,255,0.4);
//     -webkit-transition: none;
//     -moz-transition: none;
//     -ms-transition: none;
//     -o-transition: none;
//     transition: none;

// }
// .myButton:hover:after {
//     width: 120%;
//     background-color: rgba(255,255,255,0);
//     -webkit-transition: all 0.3s ease-out;
//     -moz-transition: all 0.3s ease-out;
//     -ms-transition: all 0.3s ease-out;
//     -o-transition: all 0.3s ease-out;
//     transition: all 0.3s ease-out;
// }

.card:hover {
    // background-image: linear-gradient(to right, #2c2c2c00 0%, #2c2c2c 20%, #323232 40%, #262626 100%);
    background-image: linear-gradient(to right, #2c2c2c00 0%, #2c2c2c 20%, #323232 40%, #262626 100%);
    background-repeat: no-repeat;

    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}
.FXD-row{
    grid-template-columns: 1fr 0.7fr 1fr 0.7fr !important;
}