<div class="main-grid-container" style="padding-top: 0px !important;">
  <div class="row">

  </div>
  <div class="main-grid-item">
    <div class="box-container SaveReqs-Table order-box multiPricerDiv" #holdingsContainer>
      <div>
        <div class="product-tabs">
          <div class="innergrid">

            <label style="margin-right: 29px" class="portfolio-label">My Portfolios</label>

            <select [(ngModel)]="portfolio" (change)="portfolioChange('Owner')">
              <option value=""></option>
              <option *ngFor="let arr of portfolioIdArr" value="{{ arr.P_ID }}">
                {{ arr.P_Name }}
              </option>
            </select>

            <button style="margin-right: 46px; min-width: 170px" class="button" (click)="Delete()" [disabled]="
                  portfolio === '' || priceBtnActive === 'N' || isPortfolioShared
                ">
              <!-- <img src="{{asseturl}}delete.png" alt="" style="filter: invert(100%);width: 21px;"> -->
              <!-- <app-svg-icons [icon]="'delete'" [width]="'15'" [height]="'15'">
              </app-svg-icons> -->
              Delete Portfolio
            </button>

            <label class="portfolio-label">Portfolio Name</label>

            <input type="text" style="max-width: 16em !important" [(ngModel)]="PortFolioName" (blur)="reset()" />
  
            <div class="btn-group">
                <button type="button" class="btn button save-btn" tabindex="36" [disabled]="priceBtnActive === 'N'"
                (click)="generateXML(true)" style="width: 145px;">
                  <!-- <img src="{{ asseturl }}save.png" alt="" style="width: 21px" /> -->
                  <span style="vertical-align: middle;">Save Portfolio</span>
                </button>
                <button type="button" class="btn btn-split dropdown-toggle dropdown-toggle-split"
                style="height: 35px !important; font-size: 13px !important; width: 20px !important; margin-bottom: 2px;"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="priceBtnActive === 'N'"
                #saveButton>
                  <p #saveP><i class="arrow" #saveI></i></p>
                  <span class="sr-only" style="vertical-align: middle;">Toggle Dropdown</span>
                </button>
              <div class="ddl" *ngIf="saveoptionflag" #ddlSave>
                  <div style="float: left; padding-left: 5px;padding-right: 5px;margin-top: 5px;" *ngIf="portfolio !== '' && accessRight !== 'VIEW'">
                    <!-- <mat-icon style="
                        width: 25px !important;
                        height: 25px !important;
                        margin: 3px 5px 3px 10px;
                        font-size: 24px !important;
                      ">
                      save_alt</mat-icon> -->
                      <app-svg-icons [icon]="'update-icon'" [width]="'15'" [height]="'15'">
                      </app-svg-icons>
                  </div>
                  <div class="ddlitem" role="menuitem" style="padding-top: 5px" id="divupdateportfolio"
                    (click)="generateXML(false)" *ngIf="portfolio !== '' && accessRight !== 'VIEW'">
                    Update portfolio
                  </div>
                  <div style="float: left; padding-left: 5px;padding-right: 5px;">
                    <!-- <mat-icon style="
                        width: 25px !important;
                        height: 25px !important;
                        margin: 3px 5px 3px 10px;
                        font-size: 24px !important;
                      ">
                      save</mat-icon> -->
                      <!-- <img src="{{ asseturl }}SaveIcon.svg" alt="" style="width: 21px" /> -->
                      <!-- <img _ngcontent-bpl-c26="" alt="" style="width: 21px;" src="https://euroconnect.test-equity-connect.com/FinIQWebApp/FinIQ_Connect/dist/assets/save.png"> -->
                      <img src="{{ asseturl }}save.png" alt="" style="width: 21px" />
                      <!-- <app-svg-icons [icon]="'savePortfolio-icon'" [width]="'15'" [height]="'15'">
                      </app-svg-icons> -->

                  </div>
                  <div class="ddlitem" role="menuitem" style="padding-top: 5px" id="divsaveportfolio"
                    (click)="generateXML(true)">
                    Save New
                  </div>
                  <div style="float: left; padding-left: 5px;padding-right: 5px;margin-top: 5px;" *ngIf="accessRight !== 'VIEW'">
                    <!-- <mat-icon style="
                        width: 25px !important;
                        height: 25px !important;
                        margin: 3px 5px 3px 10px;
                        font-size: 24px !important;
                      ">
                      share</mat-icon> -->
                      <app-svg-icons [icon]="'share-icon'" [width]="'15'" [height]="'15'">
                      </app-svg-icons>
                  </div>
                  <div class="ddlitem" role="menuitem" style="padding-top: 5px" (click)="showsaveSharePopup()"
                    *ngIf="accessRight !== 'VIEW'">
                    Save and Share
                  </div>
                </div>
              </div>
  
            <div class="switch-flex">
              <img src="{{ asseturl }}Layouttype.png" alt=""
                style="filter: invert(50%); width: 30px;" />

              <mat-slide-toggle (change)="commonfunctions.changeLayout(); getToggleData($event)" [checked]="toggleCheck"
                [disabled]="toggleDisabledFlag" style="vertical-align: sub;"></mat-slide-toggle>
              <img src="{{ asseturl }}Layouttype.png" alt="" style="
                    filter: invert(50%);
                    width: 30px;
                    transform: rotate(90deg);" />
            </div>
          </div>
  
            <div class="innergrid" style="margin-top: 10px">
            <label class="portfolio-label">Shared Portfolios</label>
    
                <select [(ngModel)]="portfolio" (change)="portfolioChange('Shared')">
                  <option value=""></option>
                  <option *ngFor="let arr of sharedportfolioArr" value="{{ arr.P_ID }}">
                    {{ arr.P_Name }}
                  </option>
            </select>




              <!-- Modified width of button || PriyaL || 28Apr2022 ||Assigned by Pranav D. -->
              <span style="position: relative; display: inline-block" >
                <button style="
                    margin: 0px;
                    margin-right: 10px;
                    height: 35px;
                    width: 80px;
                    min-width: 80px;
                  " class="button" #addButton >
                  Add
                </button>
                <div class="ddl" *ngIf="addFlag" (click)="addFlag = false" #ddlAdd>
                  <div *ngIf="multiPTCArr  && multiPTCArr.length > 0" class="ddlitem" role="menuitem"
                    (click)="cloneRow()">
                    <img src="{{ asseturl }}clone.png" alt="" style="
                        filter: invert(50%);
                        width: 23px;
                        margin: 0px 8px 0px 0px;
                      " />
                    <!-- Modified label of clone action || PriyaL || 04May2022 || as asked by Milind Sir -->
                    <!-- <label style="cursor: pointer;">Clone</label> -->
                    <label style="cursor: pointer">Clone Last Row</label>
                  </div>
                  <div class="ddlitem" role="menuitem" (click)="addNewRow()">
                    <img src="{{ asseturl }}addnew.png" alt="" style="
                        filter: invert(50%);
                        width: 23px;
                        margin: 0px 8px 0px 0px;
                      " />
                    <!-- Modified label of clone action || PriyaL || 04May2022 || as asked by Milind Sir -->
                    <!-- <label style="cursor: pointer;">Add
                      New</label> -->
                    <label style="cursor: pointer">Add New Row</label>
                  </div>
                </div>
              </span>
            <!-- <button class="btnPrice" (click)="Price()">Price</button> -->
              <div class="btn-group" style="margin: 0px; margin-right: 10px; height: 35px"
                (clickOutside)="priceoptionflag = false">
                <button type="button" class="btn button" style="
                    width: 80px;
                    min-width: 80px;
                    height: 35px !important;
                    font-size: 13px;
                    margin-left: -11px;
                  " (click)="Price()" [disabled]="priceBtnActive === 'N'">
                  Price All
                </button>
              <!-- <button type="button" (click)="priceOptions()" class="btn btn-split dropdown-toggle dropdown-toggle-split"
                style="height: 35px !important; font-size: 14px !important;" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" [disabled]="priceBtnActive === 'N'">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="ddl" style="top:45px;" *ngIf="priceoptionflag">
                <div style="float: left;padding-left: 5px;">
                  <mat-icon
                    style="width:25px !important;height:25px !important;margin: 3px 5px 3px 10px;font-size: 24px!important;font-family: 'Material Icons' !important;">

                    schedule</mat-icon>
                </div>
                <div class="ddlitem" style="padding-top: 5px;" (click)="showSchedulePopup()">Schedule Price</div>
              </div> -->
            </div> 

            <div class="btn-group" style="margin: 0px; margin-right: 10px; height: 35px"
              (clickOutside)="priceoptionflag = false">
              <button type="button" class="btn button" style="
                    width: 80px;
                    min-width: 80px;
                    height: 35px !important;
                    font-size: 13px;
                    margin-left: 375px;
                  " (click)="clearPrices()" [disabled]="priceBtnActive === 'N'">
                Clear Price
              </button>
            </div>
            <div class="btn-group" style="margin: 0px; margin-right: 10px; height: 35px"
              (clickOutside)="priceoptionflag = false">
              <button type="button" class="btn button" style="
                    width: 80px;
                    min-width: 80px;
                    height: 35px !important;
                    font-size: 13px;
                    margin-left: -13px;
                  " (click)="clearData()" [disabled]="priceBtnActive === 'N'">
                Reset
              </button>
            </div>


            <!-- <label *ngIf="allBooksData.length>1">On behalf of</label> 


            <select *ngIf="allBooksData.length>1" [(ngModel)]="onBehalfOf" tabindex="" (change)="onbehalfChange();">

              <option *ngFor="let bookData of allBooksData;let i = index" [value]="bookData.BookCode">
                {{bookData.BookName }}
              </option>


            </select> -->

            <div *ngIf="ErrorMsg !== ''">
                <label style="color: #ff4545 !important; white-space: pre-line">{{
                  ErrorMsg
                  }}</label>
            </div>
              <div *ngIf="successMsg !== ''">
                <label style="font-size: 13px;color: var(--green);">{{ successMsg }}</label>
            </div>
          </div>




        </div>
        <br>
        <br>
        <!-- <div class="innergrid">
             
        
           
        </div> -->



      </div>

      <div class="tablephx" *ngIf="!commonfunctions.getLayout()">

        <table id="table1">
          <tr>
            <!-- <th rowspan="2" class="deleteCol sticky-col first-col">
            </th> -->
            <th rowspan="2" style="min-width: 100px !important;" class="sticky-col first-col">Result
            </th>
            <th rowspan="2" style="min-width: 135px !important;">Type</th>
            <th rowspan="2" class="th-large">
              Underlying</th>
            <th rowspan="2">Format</th>
            <th rowspan="2">Solve For</th>
            <th rowspan="2">Reoffer (%) or Upfront (%) /<br>Issue Price (%)</th>
            <th rowspan="2">Ccy /<br>Size</th>
            <th colspan="1" style="height: 40px;">Dates</th>
            <th colspan="4">Upside</th>
            <th colspan="3">Downside</th>
            <th colspan="2">Guaranteed Coupon</th>
            <!-- FIN1EURINT - 327 : Hide Funding Section for Bulk Pricer -->
            <th colspan="2" *ngIf="displayFundingSection">Funding</th>
          </tr>
          <tr class="trheadergeight">
            <!-- <th style="min-width: 16em !important;">Strike Date</th>
            <th style=" min-width: 16em !important;">Payment Date</th>
            <th>Tenor<img src="{{asseturl}}info.jpg" class="info">
              <div class="infodiv">
                <span class="infoNote" style="white-space: initial;width: 260px;">
                  In case you require the exact Maturity or Final Observation Date, please do not hesitate to request a
                  Termsheet.
                </span>
              </div>
            </th> -->

            <th class="th-large"> Strike Date/ <br />
              Issue Date/ <br />
              Tenor
            </th>

            <th>Strike (%) /<br>Gearing (%)</th>
            <th>Upper Strike (%) /<br>Min. Coupon (%)</th>
            <th>Barrier Type</th>
            <th>Barrier Level (%) /<br>Rebate (%)</th>
            <th>Strike (%) /<br>Lower Strike (%)</th>
            <th>Leverage Toggle / Leverage (%)</th>
            <th>Barrier Type /<br>Barrier Level (%)</th>
            <th>Capital Guaranteed Level (%)</th>
            <th>Coupon (%)/<br>Coupon Freq.</th>
            <!-- FIN1EURINT - 327 : Hide Funding Section for Bulk Pricer -->
            <th *ngIf="displayFundingSection">Type /<br>Freq.</th>
            <th *ngIf="displayFundingSection">Rate /<br>Spread (%)</th>
          </tr>




          <app-ec-submultirequest id="submitrequest{{ rowIndex }}" *ngFor="let row of multiPTCArr; let rowIndex=index;"
            [shares]="shares" [ReceivedCCY]="ReceivedCCY" [ComponentIndex]="rowIndex" [ProductName]="ProductName"
            [DisplayProductName]="DisplayProductName" [data]="row" [data1]="clone" [length1]="multiPTCArr.length"
            [mappedformatlist]="mappedformatlist" (errorMsgChanged)="errorMsgChangedHandler($event)"
            (scheduleMsgChanged)="scheduleMsgChangedHandler($event)">
          </app-ec-submultirequest>
        </table>


      </div>
      <div class="verticalTableGrid" *ngIf="commonfunctions.getLayout()">

        <div style="width: 255px;">
          <!-- <div class="submultiDivHeader deleteCol"></div> -->
          <!--sticky-col first-col class added by SandipA for FIN1EURINT-464 @16-Jun-2023  -->
          <div class="submultiDivHeader sticky-col first-col" style="min-height: 150px;">Result</div>
          <div class="submultiDivHeader">Type</div>
          <div class="submultiDivHeader" style="height: 170px;">Underlying</div>
          <div class="submultiDivHeader">Format</div>
          <div class="submultiDivHeader">Solve For</div>
          <div class="submultiDivHeader">Reoffer (%) or Upfront (%)</div>
          <div class="submultiDivHeader">Issue Price (%)</div>
          <div class="submultiDivHeader">Ccy </div>
          <div class="submultiDivHeader">Size</div>
          <div class="headerDiv" >
            <div class="submultiDivHeader headerSubDiv" style="height: auto;">Dates</div>
            <div class="subHeaderDiv">
              <div class="submultiDivHeader subDivHeader">Strike Date</div>
              <div class="submultiDivHeader subDivHeader">Payment Date</div>
              <div class="submultiDivHeader subDivHeader">Tenor
			          <!-- FIN1EURINT-453 || Participation : After transpose strike date default value changed from TOD to 0B -->
                <!-- <img src="{{asseturl}}info.jpg" class="info">
                <div class="infodiv">
                  <span class="infoNote" style="white-space: initial;width: 260px;">
                    In case you require the exact Maturity or Final Observation Date, please do not hesitate to request
                    a
                    Termsheet.
                  </span>
                </div> -->
                <!-- FIN1EURINT-453 || Participation : After transpose strike date default value changed from TOD to 0B -->
              </div>
            </div>
          </div>
          <div class="headerDiv">
            <div class="submultiDivHeader headerSubDiv" style="height: auto">Upside</div>
            <div class="subHeaderDiv">
              <div class="submultiDivHeader subDivHeader">Strike (%)</div>
              <div class="submultiDivHeader subDivHeader">Gearing (%)</div>
              <div class="submultiDivHeader subDivHeader">Upper Strike (%)</div>
              <div class="submultiDivHeader subDivHeader">Min. Coupon (%)</div>
              <div class="submultiDivHeader subDivHeader">Barrier Type</div>
              <div class="submultiDivHeader subDivHeader">Barrier Level (%)</div>
              <div class="submultiDivHeader subDivHeader">Rebate (%)</div>
            </div>
          </div>
          <div class="headerDiv">
            <div class="submultiDivHeader headerSubDiv" style="height: auto">Downside</div>
            <div class="subHeaderDiv">
              <div class="submultiDivHeader subDivHeader">Strike (%)</div>
              <div class="submultiDivHeader subDivHeader">Lower Strike (%)</div>
              <div class="submultiDivHeader subDivHeader">Leverage Toggle</div>
              <div class="submultiDivHeader subDivHeader">Leverage (%)</div>
              <div class="submultiDivHeader subDivHeader">Barrier Type</div>
              <div class="submultiDivHeader subDivHeader">Barrier Level (%)</div>

            </div>
          </div>
          <div class="headerDiv">
            <div class="submultiDivHeader headerSubDiv" style="height: auto">Guaranteed Coupon</div>
            <div class="subHeaderDiv">
              <div class="submultiDivHeader subDivHeader" style="height: 85px;">Capital Guaranteed Level (%)</div>
              <div class="submultiDivHeader subDivHeader">Coupon (%)</div>
              <div class="submultiDivHeader subDivHeader">Coupon Freq.</div>
            </div>
          </div>
          <!-- FIN1EURINT - 327 : Hide Funding Section for Bulk Pricer -->
          <div class="headerDiv" *ngIf="displayFundingSection">
            <div class="submultiDivHeader headerSubDiv" style="height: auto">Funding</div>
            <div class="subHeaderDiv">
              <div class="submultiDivHeader subDivHeader">Type</div>
              <div class="submultiDivHeader subDivHeader">Freq.</div>
              <div class="submultiDivHeader subDivHeader">Rate / Spread (%)</div>
            </div>
          </div>
        </div>

        <div style="display: flex; margin-left: 100px;">
          <app-ec-vertical-submulti-new id="submitrequest{{ rowIndex }}"
            *ngFor="let row of multiPTCArr; let rowIndex=index;" [shares]="shares" [ReceivedCCY]="ReceivedCCY"
            [ComponentIndex]="rowIndex" [ProductName]="ProductName" [DisplayProductName]="DisplayProductName"
            [data]="row" [data1]="clone" [length1]="multiPTCArr.length"
            (errorMsgChanged)="errorMsgChangedHandler($event)" (scheduleMsgChanged)="scheduleMsgChangedHandler($event)"
            [mappedformatlist]="mappedformatlist"
            style="text-align: center;max-width: 250px;min-width: 250px;">
          </app-ec-vertical-submulti-new>
        </div>
      </div>
      <br><br>
    </div>
  </div>



  <div id="schedule" *ngIf="showSchedulePopupFlag">
    <div class="schedulePopup">
      <div>
        <span style="margin-left: 10px;font-size: 20px;font-weight: 500">Pick date & time</span>
        <div class="btnClose" style="font-weight: 700;font-size:medium;float:right;"
        (click)="hideSchedulePopup()">
        X
      </div>
      </div>
      <div class="scheduleDiv">
        <div class="calendar-wrapper">
          <mat-calendar #calendar (monthSelected)="monthSelected($event)" [(selected)]="selectedDate"
            (selectedChange)="dateChanged()" [minDate]="todayDate"></mat-calendar>
        </div>
        <div>
          <input type="text" style="max-width: 240px !important;margin: 20px 0px 0px 20px !important;"
          class="scheduleInput" [(ngModel)]="inputDate"
            value="{{selectedDate | date:'dd-MMM-yyyy'}}" disabled><br />
          <!-- <input type="text" style="max-width: 240px !important;margin: 20px 0px 0px 20px !important;"
          class="scheduleInput" [(ngModel)]="inputTime" value="{{selectedDate | date:'hh:mm a'}}"> -->
          <input type="time" class="scheduleInput" style="border: none;width: 100%;color: #676765;font-size: 14px !important;" [(ngModel)]="inputTime" value="{{inputTime}}">
        </div>
      </div>
      <div class="scheduleBtnGrid">
        <div>
          <span style="color: #ff4545 !important;font-size: 14px !important;white-space: pre-line;"
            *ngIf="ErrorMsg!==''">{{ErrorMsg}}</span>
          <span class="successMsg" *ngIf="scheduleMsg!==''">{{scheduleMsg}}</span>
        </div>
        <div>
          <button class="btnPrice" (click)="hideSchedulePopup()">Cancel</button>
          <button class="btnPrice" (click)="scheduleSend()">Schedule Send</button>
        </div>
      </div>
    </div>

  </div>
  <div id="saveShare" *ngIf="showsaveSharePopupFlag">
    <div class="savesharePopup">
      <div style="text-align:center;margin-bottom: 20px;">
        <span style="margin-left: 10px;font-size: 14px;font-weight: 500">Share with Colleagues and Groups</span>
      </div>
      <div style="text-align:center;margin-bottom: 20px;">
        <!-- <input type="text" placeholder="Please enter user ID or client group" class="longText saveShareInput">  -->
        <input type="text" placeholder="Please enter user ID or client group" value="{{userName}}"
          class="saveShareInput" style="text-align: left;max-width: 100% !important;" [(ngModel)]="userName"
          maxlength="10" (keypress)="ChangeIndex($event); showSuggestions = true"
          (keydown.enter)="selectShare($event); userflag=false;" (keydown.backspace)="backKeyPress($event)"
          (keydown.delete)="backKeyPress($event)" (keydown.tab)="userflag=false;"
          (keydown.ArrowUp)="selectedBIndex = commonfunctions.moveUpSelection1($event, selectedBIndex)"
          (keydown.ArrowDown)="selectedBIndex = commonfunctions.moveDownSelection1($event, selectedBIndex)" tabindex="5"
          Id="txtUserGroup" />
        <div class="SelectorBox" *ngIf="userflag && showSuggestions" (clickOutside)="userflag=false;">
          <a *ngFor="let user of (users | searchUserGroup: userName); let i = index" (keypress)="ChangeIndex($event)"
            (keydown.enter)="selectShare($event)">
            <div *ngIf="user" [attr.data-share]="user.Code" (click)="showUnderlying($event,user)"
              [ngClass]="{HoverSuggestion: i === selectedBIndex}">
              <span>{{ user.Name }}</span>
            </div>
          </a>
        </div>

      </div>

      <div class="userListDiv" *ngFor="let u of userBasket;let i = index">
        <button class="btnDel" (click)="deleteUserfromList(i)" [disabled]="isPortfolioShared && !u.NewAddFlag">
          <!-- <img src="{{asseturl}}delete.png" width="30px" style="filter: invert(50%);cursor: pointer;" title="Delete"> -->
          <app-svg-icons [icon]="'delete'" [width]="'20'" [height]="'20'"></app-svg-icons>
        </button>
        <div style="padding-top: 5px;">
          <span style="margin-left: 10px;font-size: 14px;font-weight: 500;color: var(--links);">{{u.Name}}</span>
        </div>
        <div>
          <select id="list{{i}}" style="width:max-content !important;" (change)="changeAccessofUserGroup($event,i)"
            [attr.selected]="u.Access" [disabled]="isPortfolioShared && !u.NewAddFlag">
            <!-- <option  Value=''></option> -->
            <option *ngIf="((u.Type === 'USER' || u.Type === 'User') && !isPortfolioShared ) || (isPortfolioShared && !u.NewAddFlag)" 
            [ngValue]='u.Access'
              [attr.selected]="u.Access === 'EDIT' ? true : null">EDIT</option>
            <option [ngValue]='u.Access' [attr.selected]="u.Access === 'VIEW' ? true : null">VIEW</option>
          </select>
        </div>
      </div>

      <div style="text-align:center;margin-bottom: 15px !important;">
        <span style="margin-left: 10px;font-size: 12px;font-weight: 500">Owner:</span>
        <span style="margin-left: 10px;font-size: 12px;font-weight: 500;color: var(--links);">{{portfolioowner}}</span>
      </div>
      <div style="text-align:center;margin-bottom: 5px;">
        <button class="button" (click)="hidesaveSharePopup()" style="margin-right: 10px !important;">Cancel</button>
        <button class="button" (click)="sharePortfolio()">Share</button>
      </div>

    </div>

  </div>
