$assetPath: "https://52.187.114.119"; // do not take in stanhope

.pitchbook-component {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 18px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.page-title {
  display: grid;
  grid-template-columns: 1.5em 1fr;
  font-size: 2em;
}
.pitchbook-grid {
  display: grid;
  grid-template-columns: 1.3fr 4fr;
  gap: 20px;
  margin-top: 20px;
  overflow: hidden;
  min-height: 90vh;
  margin: 0px 40px;
  height: 90vh;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 75vh;
  margin: 0px 0px;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  // box-shadow: var(--box-shadow-thin);
}

.pagination-controls {
  display: grid;
  align-items: center;
  justify-content: center;
}

.col-span {
  grid-column: 1 / span 2;
}

.search-portfolio {
  // margin-top: 1rem;
  margin: 10px 0px;
}

// .search {
// }

.view {
  margin: 0rem 0.5rem 1rem 0.5rem;
}

.view-legend {
  color: var(--active);
  // font-weight: bold;
}

.toggle-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em 0px;
}

// .flex-table-data {
//     width: fit-content;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }

.grid-table-data {
  display: grid;
  grid-template-columns: max-content 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .read-button {
    display: flex;
    justify-content: flex-end;
  }
}

.book-name {
  font-size: 15px !important;
}
.book-count {
  font-size: 12px !important;
}

.book-btn {
  color: #000000;
  background-color: #ffffff;
}

.table-row {
  width: fit-content;
}

td {
  padding: 4px 2px;
}

.book-label {
  cursor: pointer;
}

tr {
  border-bottom: 1px solid var(--table-rowline) !important;
  cursor: pointer !important;
}

.flex-transaction-left {
  display: flex;
  text-align: center;
}

//for header
.header-topbar {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  font-size: 20px;
  position: relative;
  justify-content: center;
  height: 3.8em;
}

.header-style {
  text-align: center;
  font-size: 30px;
  width: 100%;
  padding: 20px 35px 20px 40px;
  // color: #1a3343;
  color: var(--label);
  font-weight: 400;
  font-family: bio-sans, sans-serif !important;
  font-family: var(--font-secondary) !important;
}

.select-book-flex {
  font-size: 16px !important;
  // flex-direction: row;
  text-align: left;
  padding: 2rem;
}

/* sets font color for pagination to white */
.my-pagination::ng-deep .ngx-pagination a {
  color: white;
}

/* sets font color for number color when hovering */
.my-pagination::ng-deep .ngx-pagination a:hover {
  color: var(--active);
}
.my-pagination::ng-deep .ngx-pagination .current {
  background-color: var(--active);
}

/* sets font color for disabled previous or next words */
.my-pagination::ng-deep .ngx-pagination .disabled {
  color: white !important;
}
input[type="radio"] {
  width: 15px !important;
  height: 15px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 170px);
  background-color: var(--containers);
}

.pitchbook-filter {
  display: flex;
  flex-direction: column;
  // background: var(--containers);
  letter-spacing: 0.72px;
  border-radius: 4px;
  // box-shadow: var(--box-shadow-thin);
  height: calc(100vh - 170px);
  background-color: var(--containers);
}

.pitchlist-cls {
  padding: 10px 0px;
  overflow-y: auto;
  // box-shadow: var(--box-shadow-thin);
  // border-radius: 5px;
}

.active {
  background: var(--hover-wfl);
  color: var(--text);
  border-radius: 3px;
}
.list-item {
  cursor: pointer;
  list-style-type: none;
  padding: 7px 10px;
  color: var(--text);
  font-size: 14px !important;
}

.list-item {
  cursor: pointer;
  list-style-type: none;
  padding: 8px 10px;
  margin-bottom: 5px;
}

.list-item:hover {
  background-color: rgb(124, 124, 124);
}

.pitchbook-actions {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 0;
  width: 74px;
  height: 36px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
  background-color: var(--active);
}

.layer {
  width: 100%;
  background-color: var(--containers);
  transition: 0.3s ease all;
  z-index: 1;
}
#button-13 .knobs:before,
#button-13 .knobs:after {
  color: #4e4e4e;
  z-index: 1;
}

/* Button 13 */
#button-13 .knobs:before,
#button-13 .knobs:after,
#button-13 .knobs span {
  position: absolute;
  top: 6px;
  width: 20px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-13 .knobs:before,
#button-13 .knobs:after {
  color: #4e4e4e;
  z-index: 1;
}

#button-13 .knobs:before {
  content: "🗏";
  right: 10px;
  font-size: 20px;
  top: -5px;
  color: var(--containers);

}

#button-13 .knobs:after {
  content: "🗐";
  left: 4px;
  font-size: 20px;
  top: -5px;
  color: var(--containers);
}

#button-13 .knobs span {
  width: 25px;
  left: 45px;
  background-color: var(--containers);
  z-index: 2;
}

#button-13 .checkbox:checked + .knobs span {
  left: 4px;
  background-color: var(--containers);
}

#button-13 .checkbox:checked ~ .layer {
  background-color: var(--containers);
}
