.limit-usage-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;
    position: relative;
}

.google-chart {
    position: absolute;
    height: 100%;
}

.limit-usage {
    width: 100%;
}
.limit-usage-graph-container{
    padding: 10px;
}
