
<div class="insideCard-gridview">
    <div class="cls-td">
        <label>Product</label>
    </div>
    <div class="">
        <label class="productName">
            FX DQ
        </label>
    </div>
    <div>
        <div class="">
            <select>
                <option>MAMS 1X</option>
                <option>MAMS 2X</option>
                <option>WAWS 1X</option>
                <option>WAWS 2X</option>           
            </select>
        </div>
    </div>

    <div class="cls-td">
        <label>Pair</label>
    </div>
    <div class="cls-td">
        <!-- <label>EUR - USD</label> -->
        <input type = "text" value="EUR - USD" class="InputClass"/>
    </div>
    <div class="cls-td">
        <label>1.1558/1.1558</label>
    </div>

    <div class="notional_div cls-notional">
        <label>Notional<br> <label style="font-size: 12px;">(Per Fixing)</label></label>
        <select class="notional_dropdown">
            <option>EUR</option>
            <option>USD</option>
        </select>
    </div>
    <div>
        <input type = "text" value="1,000,000.00" class="InputClass"/>
    </div>
    <div class="cls-td">
        <label>Sell EUR</label>
    </div>

    <!-- <div class="cls-td">
        <label>Tenor/G. Periods</label>
    </div>
    <div>
        <select class="tenor_dropdown">
            <option>3M</option>
            <option>6M</option>
        </select>
        <label>19-Apr-2022</label>
    </div>
    <div class="">
       <input type="text" value="1" class="InputClass">
    </div>

    <div class="cls-td">
        <label>Strike/Barrier</label>
    </div>
    <div>
        <input type = "text" value="1.1558" class="InputClass"/>
    </div>
    <div>
        <input type = "text" value="1.1221" class="InputClass"/>
    </div>
    -->
    <div class="cls-td">
        <label>No. Of Sett. <br> <label style="font-size: 12px;">(Per Fixing)</label></label>
    </div>
    <div class="cls-td">
        <label>25-Nov-2021</label>
    </div>
    <div class="cls-td">
        <label>28-Oct-2021</label>
    </div>

    <div class="cls-td">
        <label>Strike / KI</label>
    </div>
    <div class="">
        <input type = "text" value="1.1643" class="InputClass"/>
    </div>
    <div class="">
        <input type = "text" value="" class="InputClass"/>
    </div>

    <div class="cls-td">
        <label>G. Periods / Barrier</label>
    </div>
    <div class="">
        <input type = "text" value="1" class="InputClass"/>
    </div>
    <div class="">
        <input type = "text" value="1.1992" class="InputClass"/>
    </div>

</div>

<div class="pricingTile">
    <div class="pricing-div">
        <div>

        </div>
        <div></div>
        <div>
            <button class="btn-price">Best Price</button>
        </div>
        <div>
            <button class="btn-price">Book Request</button>
        </div>
    </div>   

    <div class="pricing-card">
        <div>

        </div>
    </div>
</div> 