<div class="insideCard-gridview">
    <div class="cls-td">
        <label>Product</label>
    </div>
    <div class="">
        <label class="productName">
            DRA
        </label>
    </div>
    <div>
        <div>
            <select [(ngModel)]="KOKIDropdown" (change)="changeKOKIType()"  class="InputWidth100">
                <option value="No KI / KO Daily Close">No KI / KO Daily Close</option>
                <option value="No KI / KO Period End">No KI / KO Period End</option>
                <option value="KI Day Close / KO Daily Close">KI Day Close / KO Daily Close</option>
                <option value="KI Day Close / KO Period End">KI Day Close / KO Period End</option>
                <option value="KI European / KO Daily Close">KI European / KO Daily Close</option>
                <option value="KI European / KO Period End">KI European / KO Period End</option>
            </select>
        </div>
    </div>

    <div class="cls-td ">
        <label>Underlying</label>
    </div>
    <div class="underlying" (clickOutside)="onClickedOutside($event)">
        <div class="InputClass left InputWidth100" (click)=" showSharePopup = !showSharePopup" >
            <span class="shareListName" *ngFor = "let share of BasketSplit"> {{ share }} <span (click) = "removeShare(share)">&nbsp; X</span></span> 
            <!-- <span  class="" (click) = "sharelistpopup = !sharelistpopup">  <input type = "text" class="shareInputFCN" placeholder="Select share" (keypress)="searchShare($event)" (keydown.backspace)="searchShare($event)" /></span>  -->
            
        </div>
        <div class="share-popup" *ngIf = "showSharePopup">
            <div class = "pair" *ngFor = "let basket of basketArray" (click)="fnShowSharePopup(basket.Basket)">
                {{basket.Basket}}
            </div>
            <div class="pair" (click) = "showSearchShare = !showSearchShare " >
                More>>>
            </div>
            <!-- <div>
                <input type = "text" class="searchShare" placeholder="Select share" (keypress)="searchShare($event)" (keydown.backspace)="searchShare($event)" />
            </div> -->
            <div class="Searchshare-popup sharelistpopup" *ngIf = "sharelistpopup">
                <div  class = "sharelist" *ngFor = "let sharelist of FilterSharesDRA" (click) = "selectShareFromDropdown(sharelist)">
                    {{sharelist.LongName}}
                </div>
            </div>
        </div>
    </div>
  

    <div class="cls-td">
        <label>Contract Amt. / Ccy / Solve for</label>
    </div>
    <div class="" (clickOutside)="onClickedOutsideAmt($event)">
        <input type = "text" [(ngModel)]="notional" class="InputClass" (click)=" showAmountPopup = !showAmountPopup " (change) = "getNotional($event)" />
        <div class="share-popup" *ngIf = "showAmountPopup">
            <div class = "pair-amt" *ngFor = "let notional of AmountArray" (click)="fnShowAmountPopup(notional)">
              <div>  {{notional.Amount}} </div>
            </div>
            <div class="pair-amt" (click) = "showSearchAmount = !showSearchAmount " >
                More>>>
            </div>
            <div class="Searchshare-popup" *ngIf = "showSearchAmount" style="left:2px !important">
                <input type = "text" class="searchShare" placeholder="Enter Notional" (change)="getNotional($event)"/>
            </div>
           
        </div>
    </div>
    <div class="gridView-2">
        <div>
            <select>
                <option *ngFor = "let c of currencyList[0]" [value]="c.Ccy">{{c.Ccy}}</option>
            </select>
        </div>
        <div>
            <select class="InputWidth100" [(ngModel)]="solveForDRA">
                <option value="CONVERSION_STRIKE">Strike (%)</option>
                <option value="COUPON">Coupon (%)</option>
                <option value="PRICE">IB Price (%)</option>
            </select>
        </div>
       
    </div>

    <div class="cls-td">
        <label>Tenor / Strike / IB Price</label>
    </div>
    <div>
        <select class="select-tenor" [(ngModel)]="selectedTenor" (change)="changeTenor()">
            <option *ngFor = "let tenor of tenor" [value]="tenor.Tenor" >{{tenor.Tenor}}</option>
        </select>
        {{MaturityDate}}
    </div>
    <div class="gridView-2"> 
        <div>
            <input type = "text" [(ngModel)]="StrikeDRA" class="InputClass InputWidth" *ngIf = "solveForDRA === 'COUPON' || solveForDRA === 'PRICE' "/>
            <input type = "text"  class="InputClass InputWidth" *ngIf = "solveForDRA === 'CONVERSION_STRIKE' " disabled/>
            <span class="PerPaddingLeft">%</span>
        </div>
      <div>
        <input type = "text" [(ngModel)]="IBPriceDRA" class="InputClass InputWidth" *ngIf = "solveForDRA === 'COUPON' || solveForDRA === 'CONVERSION_STRIKE' "/>
        <input type = "text"  class="InputClass InputWidth" *ngIf = "solveForDRA === 'PRICE' " disabled/>
        <span class="PerPaddingLeft">%</span>
      </div>
     
    </div>
    <div class="cls-td">
        <label>Frequency / Coupon / Guarantee</label>
    </div>
    <div>
        <select>
            <option value="MONTHLY" *ngIf="(this.tenor_DRA >= 1)"  selected class="option-FCN">Monthly</option>
            <option value="BIMONTHLY" *ngIf="(this.tenor_DRA >= 2 && this.tenor_DRA % 2 === 0)" class="option-FCN">Two-Monthly</option>
            <option value="QUARTERLY"  *ngIf="(this.tenor_DRA >= 1 && this.tenor_DRA % 3 === 0)" class="option-FCN">Quarterly</option>
            <option value="SEMIANNUALLY" *ngIf="(this.tenor_DRA >= 1 && this.tenor_DRA % 6 === 0)" class="option-FCN">Semiannually</option>
            <option value="ANNUALLY" *ngIf="(this.tenor_DRA >= 12 && this.tenor_DRA % 12 === 0)" class="option-FCN">Annually</option>
        </select>
      
    </div>
    <div  class = "gridView-2">
        <div>
            <input type = "text" value="" class="InputClass InputWidth" *ngIf = "solveForDRA === 'PRICE' || solveForDRA === 'CONVERSION_STRIKE' "/>
            <input type = "text"  class="InputClass InputWidth" *ngIf = "solveForDRA === 'COUPON' " disabled/>
            <span class="PerPaddingLeft">%</span>
        </div>
       <div>
            <input type = "text" value="1" class="InputClass InputWidth"/>
            <!-- <span class="PerPaddingLeft">%</span> -->
       </div>
       
    </div>
    <div class="cls-td">
        <label>KO / KI</label>
    </div>
    <div>
        <input type = "text" [(ngModel)]="KOPercDRA" class="InputClass" *ngIf = "KOTypeDRA !== '' "/>
        <input type = "text" class="InputClass" *ngIf = "KOTypeDRA === '' " disabled/>
        <span class="PerPaddingLeft">%</span>
    </div>
    <div>
        <input type = "text" [(ngModel)]="KIPercDRA" class="InputClass" *ngIf = "KITypeDRA !== '' "/>
        <input type = "text" class="InputClass" *ngIf = "KITypeDRA === '' " disabled/>
        <span class="PerPaddingLeft">%</span>
    </div>
   
    
</div>

<div class="pricing-div">
    <div>

    </div>
    <div>
        <button class="btn-price">Price</button>
    </div>
    <div>
        <button class="btn-price">Email</button>
    </div>
    <div>
        <button class="btn-price">Order</button>
    </div>
</div>   

<div class="pricing-card">
    <div>

    </div>
</div>

