<div class="maple-gridview" >
   
    <div class="Dark-grass cardView">
        <div >
        <app-fi-bonds></app-fi-bonds>
        </div>
    </div>
    <div class="Dark-blue cardView">
        <div>
            <app-cash-equities></app-cash-equities>
        </div>
    </div>  
    <div class="Dark-cacao cardView">
        <div>
            <app-mutual-funds></app-mutual-funds>
        </div>
    </div>
    <div class="Dark-purpleFlash cardView">
        <div>
            <app-deposit></app-deposit>
        </div>
    </div>
    <div class="Dark-Saint cardView">
        <div>
            <app-maple-insurance></app-maple-insurance>
        </div>
    </div>
    <div class="Dark-Vermillion cardView">
        <div>
            <app-maple-eli></app-maple-eli>
        </div>
    </div>
    <div class="Dark-Verde cardView">
        <div>
            <app-range-accrual></app-range-accrual>
        </div>
    </div> 
    <div class="Dark-grass cardView">
        <div>
           <app-snowball></app-snowball>
        </div>
    </div>
    <div class="Dark-blue cardView">
        <div>
            <app-wob-autocall></app-wob-autocall>
        </div>
    </div> 
    <div class="Dark-cacao cardView">
        <div>
            <app-avg-autocall></app-avg-autocall>
        </div>
    </div>
    <div class="Dark-purpleFlash cardView">
        <div>
            <app-elci></app-elci>
        </div>
    </div>
    <div class="Dark-Saint cardView">
        <div>
            <app-relci></app-relci>
        </div>
    </div>
    <div class="Dark-Vermillion cardView">
        <div>
            <app-twin-win></app-twin-win>
        </div>
    </div>
    <div class="Dark-Verde cardView">
        <div>
            <app-bei></app-bei>
        </div>
    </div>
    <div class="Dark-cacao cardView">
        <div>
            <app-sps></app-sps>
        </div>
    </div>
    <div class="Dark-purpleFlash cardView">
        <div>
            <app-fci></app-fci>
        </div>
    </div>
    <div class="Dark-grass cardView">
        <div>
        <app-maple-cash-fx></app-maple-cash-fx>
        </div>
    </div>

</div>
