<!-- <div class="gridss" [style.grid-template-columns]="setGrid()" [ngStyle]="{'width':selectedProduct === 'Bonds' ? '1800px' : '1200px' }"> -->
<div>
    <div class="gridss " [style.grid-template-columns]="setGrid()">
        <div class="first-row" style="display: flex; grid-column: 1/-1; ">


            <div *ngFor="let d of getFirstRowData(); let i = index" style="height: 50px;"><!-- [ngStyle]="{'grid-row': d.gridRow, 'grid-column': d.gridColumn}"-->
                <span *ngIf="d.FieldType !== 'ImageLabel'">
                    <div *ngIf="d.ImageDataField !== ''" class="merge"
                        style="flex-direction: row; align-items: center; color: rgb(189, 91, 12) !important;">
                        <div *ngIf="addImage(d,  'textImage');">
                            <img width="30" height="30" src='{{d.image}}'>
                        </div>
                        <div *ngIf="!addImage(d,  'textImage');">
                            <span style="color: rgb(189, 91, 12) !important;"></span>
                        </div>
                        <div *ngIf="addData(d,i);">
                            <p [ngStyle]="createStyle(d.FieldStyle)" style="color: rgb(189, 91, 12) !important;">
                                {{d.FieldDisplayName}}
                            </p>
                        </div>
                    </div>
                    <div *ngIf="d.DesignLabelID === 'Label0002'" style="position: relative;
bottom: 10%;
right: 10%;">
                        <div *ngIf="d.ImageDataField === ''" class="merge">

                            <div *ngIf="addData(d,i);">
                                <p [ngStyle]="createStyle(d.FieldStyle)" style="margin-top: 6px;">
                                    ({{d.FieldDisplayName}})
                                </p>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="d.DesignLabelID !== 'Label0002'">
                        <div *ngIf="d.ImageDataField === ''" class="merge">
                            <div *ngIf="addData(d,i);">
                                <p [ngStyle]="createStyle(d.FieldStyle)" style="margin-top: 6px;">
                                    {{d.FieldDisplayName}}
                                </p>
                            </div>
                        </div>
                    </div>
                </span>
                <span *ngIf="d.FieldType === 'ImageLabel'">
                    <div *ngIf="addImage(d, 'Imagepath');">
                        <img width="30" height="30" src={{d.image}} (click)="imageClick(d)" style="cursor: pointer;">
                    </div>
                    <div *ngIf="!addImage(d,  'Imagepath');">
                        <span></span>
                    </div>
                </span>
            </div>
        </div>


        <div *ngFor="let d of getSecondRowDataArray; let i = index" style="height: 40px;" class="headers">

            <div *ngIf="addData(d,i);">
                <p [ngStyle]="createStyle(d.FieldStyle)" style="margin-top: 3px;">
                    {{d.FieldDisplayName}}
                </p>
            </div>

        </div>

        <div *ngFor="let d of getThirdRowDataArray; let i = index" style="height: 20px;">
            <span *ngIf="d.FieldType !== 'ImageLabel'">
                <div *ngIf="d.ImageDataField !== ''" class="merge">
                    <div *ngIf="addImage(d,  'textImage');">
                        <img width="30" height="20" src='{{d.image}}'>
                    </div>
                    <div *ngIf="!addImage(d,  'textImage');">
                        <span></span>
                    </div>
                    <div *ngIf="addData(d,i);">
                        <div class="merge" *ngIf="d.mergeData !== ''">
                            <p [ngStyle]="createStyle(d.FieldStyle)">
                                <span
                                    *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                                <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                                <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                    date:'dd-MMM-yyyy'}}</span>
                            </p>
                            <p [ngStyle]="createStyle(d.mergeStyle)">
                                {{d.mergeData}}
                            </p>
                        </div>

                        <p [ngStyle]="createStyle(d.FieldStyle)" *ngIf="d.mergeData === '' && d.column !== '99'">
                            <span
                                *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                            <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                            <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                date:'dd-MMM-yyyy'}}</span>

                        </p>
                    </div>
                </div>
                <div *ngIf="d.ImageDataField === ''" class="merge">
                    <div *ngIf="addData(d,i);">
                        <div class="merge" *ngIf="d.mergeData !== ''">
                            <p [ngStyle]="createStyle(d.FieldStyle)">
                                <span
                                    *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                                <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                                <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                    date:'dd-MMM-yyyy'}}</span>

                            </p>
                            <p [ngStyle]="createStyle(d.mergeStyle)">
                                {{d.mergeData}}
                            </p>
                        </div>

                        <p [ngStyle]="createStyle(d.FieldStyle)" *ngIf="d.mergeData === '' && d.column !== '99'">
                            <span
                                *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                            <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                            <span
                                *ngIf="d.FieldDataType === 'Date' && product !== 'NiftyParticipation' && product !== 'EquityAutocallableNote'">
                                {{d.FieldDisplayName |
                                date:'dd-MMM-yyyy'}}</span>
                            <span
                                *ngIf="d.FieldDataType === 'Date' && product === 'NiftyParticipation' && d.TargetField !== 'NM.Debit_CutOff_Date'">
                                {{d.FieldDisplayName |
                                date:'dd-MMM-yyyy'}}</span>
                            <span
                                *ngIf="d.FieldDataType === 'Date' && product === 'NiftyParticipation' && d.TargetField === 'NM.Debit_CutOff_Date'">
                                {{convertdate(d.FieldDisplayName) |date:'dd-MMM-yyyy'}}</span>

                                <span
                                *ngIf="d.FieldDataType === 'Date' && product === 'EquityAutocallableNote' && d.TargetField !== 'NM.Debit_CutOff_Date'">
                                {{d.FieldDisplayName |
                                date:'dd-MMM-yyyy'}}</span>
                            <span
                                *ngIf="d.FieldDataType === 'Date' && product === 'EquityAutocallableNote' && d.TargetField === 'NM.Debit_CutOff_Date'">
                                {{convertdate(d.FieldDisplayName) |date:'dd-MMM-yyyy'}}</span>
                        </p>
                    </div>
                </div>


            </span>
            <span *ngIf="d.FieldType === 'ImageLabel'">
                <div *ngIf="addImage(d, 'Imagepath');">
                    <img width="30" height="20" src={{d.image}}>
                </div>
                <div *ngIf="!addImage(d,  'Imagepath');">
                    <span></span>
                </div>
            </span>


        </div>
        <div *ngFor="let d of getFourthRowDataArray; let i = index" style="height: 20px;">
            <span *ngIf="d.FieldType !== 'ImageLabel'">
                <div *ngIf="d.ImageDataField !== ''" class="merge">
                    <div *ngIf="addImage(d,  'textImage');">
                        <img width="30" height="20" src='{{d.image}}'>
                    </div>
                    <div *ngIf="!addImage(d,  'textImage');">
                        <span></span>
                    </div>
                    <div *ngIf="addData(d,i);">
                        <div class="merge" *ngIf="d.mergeData !== ''">
                            <p [ngStyle]="createStyle(d.FieldStyle)">
                                <span
                                    *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                                <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                                <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                    date:'dd-MMM-yyyy'}}</span>
                            </p>
                            <p [ngStyle]="createStyle(d.mergeStyle)">
                                {{d.mergeData}}
                            </p>
                        </div>

                        <p [ngStyle]="createStyle(d.FieldStyle)" *ngIf="d.mergeData === '' && d.column !== '99'">
                            <span
                                *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                            <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                            <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                date:'dd-MMM-yyyy'}}</span>

                        </p>
                    </div>
                </div>
                <div *ngIf="d.ImageDataField === ''" class="merge">
                    <div *ngIf="addData(d,i);">
                        <div class="merge" *ngIf="d.mergeData !== ''">
                            <p [ngStyle]="createStyle(d.FieldStyle)">
                                <span
                                    *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                                <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                                <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                    date:'dd-MMM-yyyy'}}</span>

                            </p>
                            <p [ngStyle]="createStyle(d.mergeStyle)">
                                {{d.mergeData}}
                            </p>
                        </div>

                        <p [ngStyle]="createStyle(d.FieldStyle)" *ngIf="d.mergeData === '' && d.column !== '99'">
                            <span
                                *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                            <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                            <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                date:'dd-MMM-yyyy'}}</span>
                        </p>
                    </div>
                </div>


            </span>
            <span *ngIf="d.FieldType === 'ImageLabel'">
                <div *ngIf="addImage(d, 'Imagepath');">
                    <img width="30" height="20" src={{d.image}}>
                </div>
                <div *ngIf="!addImage(d,  'Imagepath');">
                    <span></span>
                </div>
            </span>


        </div>
        <div *ngFor="let d of getFifthRowDataArray; let i = index" style="height: 20px;">
            <span *ngIf="d.FieldType !== 'ImageLabel'">
                <div *ngIf="d.ImageDataField !== ''" class="merge">
                    <div *ngIf="addImage(d,  'textImage');">
                        <img width="30" height="20" src='{{d.image}}'>
                    </div>
                    <div *ngIf="!addImage(d,  'textImage');">
                        <span></span>
                    </div>
                    <div *ngIf="addData(d,i);">
                        <div class="merge" *ngIf="d.mergeData !== ''">
                            <p [ngStyle]="createStyle(d.FieldStyle)">
                                <span
                                    *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                                <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                                <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                    date:'dd-MMM-yyyy'}}</span>
                            </p>
                            <p [ngStyle]="createStyle(d.mergeStyle)">
                                {{d.mergeData}}
                            </p>
                        </div>

                        <p [ngStyle]="createStyle(d.FieldStyle)" *ngIf="d.mergeData === '' && d.column !== '99'">
                            <span
                                *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                            <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                            <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                date:'dd-MMM-yyyy'}}</span>

                        </p>
                    </div>
                </div>
                <div *ngIf="d.ImageDataField === ''" class="merge">
                    <div *ngIf="addData(d,i);">
                        <div class="merge" *ngIf="d.mergeData !== ''">
                            <p [ngStyle]="createStyle(d.FieldStyle)">
                                <span
                                    *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                                <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                                <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                    date:'dd-MMM-yyyy'}}</span>

                            </p>
                            <p [ngStyle]="createStyle(d.mergeStyle)">
                                {{d.mergeData}}
                            </p>
                        </div>

                        <p [ngStyle]="createStyle(d.FieldStyle)" *ngIf="d.mergeData === '' && d.column !== '99'">
                            <span
                                *ngIf="d.FieldDataType === 'Number'">{{this.cfs.FormatNumberr(d.FieldDisplayName)}}</span>
                            <span *ngIf="d.FieldDataType === 'Text'"> {{d.FieldDisplayName}}</span>
                            <span *ngIf="d.FieldDataType === 'Date'"> {{d.FieldDisplayName |
                                date:'dd-MMM-yyyy'}}</span>
                        </p>
                    </div>
                </div>


            </span>
            <span *ngIf="d.FieldType === 'ImageLabel'">
                <div *ngIf="addImage(d, 'Imagepath');">
                    <img width="30" height="20" src={{d.image}}>
                </div>
                <div *ngIf="!addImage(d,  'Imagepath');">
                    <span></span>
                </div>
            </span>


        </div>
    </div>
    <div class="links" style="height: 50px; align-items: center;">
        <div>
            <img [src]="isProd ? 'assets/App_Resources/App_Resources/Thumb_up_golden.png':'../../../../assets/App_Resources/App_Resources/Thumb_up_golden.png'"
                width="20" height="20" *ngIf="!like" (click)="likeUnlikeProduct()">
            <img [src]="isProd ? 'assets/App_Resources/App_Resources/thumb_up.png':'../../../../assets/App_Resources/App_Resources/thumb_up.png'"
                width="20" height="20" *ngIf="like" (click)="likeUnlikeProduct()">
        </div>
        <div class="linkstyle" *ngIf="this.product === 'Fund_Setup'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;" (click)="linkClick('Fund Details')">
                <!--[routerLink]="['/fundDetails']"-->
                <u>Fund Details</u>
            </span>
        </div>
        <!-- <div class="linkstyle" *ngIf="this.product === 'Fund_Setup'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;" (click)="linkClick('New Fund Details')"
                [routerLink]="['/newFundDetails']">
                <u>New Fund Details</u>
            </span>
        </div> -->
        <div class="linkstyle" *ngIf="this.product === 'Bonds'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;" (click)="linkClick('Bond Details')"
                [routerLink]="['/bondDetails']">
                <u>Bond Details</u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product !== 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;" (click)="linkClick('Factsheet')">
                <u>Factsheet</u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product !== 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;"
                (click)="showOrderEntry = !showOrderEntry;linkClick('Order Entry')">
                <u>Order Entry</u>
            </span>
        </div>

        <div *ngIf="this.product === '' ">
            <button> WhatIf ? </button>
        </div>

        <!--Added by Alolika G | 16-02-2022-- START -->
        <!-- <div class="linkstyle" *ngIf="this.product === 'FundsBundle'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;"
                (click)="showOrderEntry = !showOrderEntry;linkClick('Order Entry')">
                <u>Order Entry</u>
            </span>
        </div> -->
        
        <!--Added by Alolika G | 16-02-2022-- END -->
        <div class="linkstyle" *ngIf="this.product === 'Fund_Setup' || this.product === 'FundsBundle'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;"
                (click)="showOrderEntry = !showOrderEntry;linkClick('SIP Order Entry')">
                <u>SIP Order Entry</u>
            </span>
        </div>

        <div class="linkstyle" *ngIf="this.product === 'Bonds'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;" (click)="linkClick('Recommendations')">
                <u>Recommendations</u>
            </span>
        </div>

        <!-- Added on 25th Jul 2022 -->
        <div class="linkstyle" *ngIf="this.product === 'Bonds'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;" (click)="showStressTest = !showStressTest">
                <u>LifeCycle|Analytics</u>
            </span>
        </div>

        <div class="linkstyle" *ngIf="this.product === 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;">
                <u>Ref. Docs</u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product === 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;">
                <u>Product Info </u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product === 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;">
                <!--(click)="showOrderEntry = !showOrderEntry;linkClick('Order Entry')"-->
                <u>New Order </u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product === 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;">
                <u>View Orders </u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product === 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;">
                <u>What If+Backtest </u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product === 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;">
                <u>Payout Scenarios </u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product === 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;">
                <u>Gen. Termsheet </u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product === 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;">
                <u>Backtest </u>
            </span>
        </div>
        <div class="linkstyle" *ngIf="this.product === 'NiftyParticipation'">
            <span style="cursor: pointer;padding: 0px 0px 0px 30px;">
                <u>Life Cycle Analytics</u>
            </span>
        </div>
    </div>
    <div *ngIf="showFactsheet">
        <div class="factsheet"> Following documents are attached:</div>

        <div class="doc">
            <div class="" *ngIf="factsheetdata.length">
                Uploaded/Generated Documents</div>

            <table *ngIf="factsheetdata.length" style="margin:10px;">
                <thead>
                    <th>Show File</th>
                    <th>File Name</th>
                </thead>
                <tbody *ngFor="let data of factsheetdata">
                    <td (click)="showFile(data.DGT_ID,data.Note_Ref_ID)"><u>Show</u></td>
                    <td> {{data.Document_Output_Path}}</td>
                </tbody>
            </table>
            <div *ngIf="factsheetdata.length === 0">
                No documents attached.
            </div>
        </div>
    </div>
    <div *ngIf="showRecommendations ">
        <div class="recommended-products-container">
            <div class="recommended-products"> Recommended Products:</div>
            <div class="recommended-products-list-wrapper">
                <div class="recommended-products-list-container" *ngIf="recommendedProductsList.length>0">
                    <!-- <swiper [slidesPerView]="3" [spaceBetween]="10" (swiper)="setControlledSwiper($event)" [navigation]="{}" [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }" [watchSlidesVisibility]="true" [watchSlidesProgress]="false">
                    <div class="recommended-products-list" *ngFor="let recprod of recommendedProductsList">
                        <ng-template swiperSlide class="recommended-products-list-box">
                            <div class="recommended-products-header">
                                <div for="" class="label" [title]="recprod.Product_Name">
                                    {{recprod.Product_Name}}</div>
                                <span>({{recprod.ISIN}})</span>
                            </div>
                            <div class="recommended-products-body">
                                <div class="recommended-products-values">
                                    <label for="">Issuer</label>
                                    <span [title]="recprod.Issuer">{{recprod.Issuer}}</span>
                                </div>
                                <div class="recommended-products-values">
                                    <label for="">Ccy</label>
                                    <span>{{recprod.currency}}</span>
                                </div>
                                <div class="recommended-products-values">
                                    <label for="">Tenor Left</label>
                                    <span>{{recprod.tenor}}D</span>
                                </div>
                                <div class="recommended-products-values">
                                    <label for="">Coupon</label>
                                    <span>{{recprod.coupon}}% p.a.
                                                            {{recprod.Coupon_Frequency}}</span>
                                </div>
                                <div class="recommended-products-values">
                                    <label for="">LTV (%)</label>
                                    <span>{{recprod.LTV | number:'1.2-2'}}</span>
                                </div>
                                <div class="recommended-products-values">
                                    <label for="">PRR</label>
                                    <span>{{recprod.PRR}}</span>
                                </div>
                            </div>
                        </ng-template>

                    </div>

                </swiper> -->
                    <!-- <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
                </div>
                <div class="recommended-products-list-message" *ngIf="recommendedProductsList.length===0">
                    {{recommendatioMsg}}
                </div>
            </div>

        </div>

    </div>
    <div *ngIf="showOrderEntry" class="overlay">
        <div class="page-content-container-popup">

            <div class="recommended-products">
                <div *ngIf="this.product === 'Bonds'">
                    <div class="tabs tab-active">
                        <div >Bonds</div>

                        <!-- <div class="closebtn" (click)="showOrderEntry = false">X</div> -->
                        <app-svg-icons class="closebtn" [icon]="'cancel-icon'" [width]="'15'" [height]="'15'"
                            (click)="showOrderEntry = false">
                        </app-svg-icons>
                    </div>
                    <app-bonds [displaySearch]=true [noteMasterId]=data.Note_Master_ID></app-bonds>

                </div>
                <div *ngIf="this.product === 'Fund_Setup' && !showSIP">
                    <div class="tabs tab-active">
                        <div >Funds</div>
                        <!-- <div class="closebtn" (click)="showOrderEntry = false">X</div> -->
                        <app-svg-icons class="closebtn" [icon]="'cancel-icon'" [width]="'15'" [height]="'15'"
                            (click)="showOrderEntry = false">
                        </app-svg-icons>
                    </div>
                    <app-mutualfunds [displaySearch]=true [noteMasterId]=data.Note_Master_ID></app-mutualfunds>
                </div>

                <!--Added by AlolikaG on 16-02-2022. Assigned by ParikshitK --START-->
                <div *ngIf="this.product === 'FundsBundle' && !showSIP">
                    <div class="tabs tab-active">
                        <div >Signature Funds</div>
                        <!-- <div class="closebtn" (click)="showOrderEntry = false">X</div> -->
                        <app-svg-icons class="closebtn" [icon]="'cancel-icon'" [width]="'15'" [height]="'15'"
                            (click)="showOrderEntry = false; showbundle = false">
                        </app-svg-icons>
                    </div>
                    <app-signature-funds [displaySearch]=true [Ccy]="this.data['Currency']"></app-signature-funds>
                </div>
                <!--Added by AlolikaG on 16-02-2022. Assigned by ParikshitK --END-->

                <!--Added by AlolikaG on 31st Jan 2022. Assigned by ParikshitK --START-->
                <div *ngIf="this.product === 'Fund_Setup' && showSIP">
                    <div class="tabs tab-active">
                        <div >SIP</div>
                        <!-- <div class="closebtn" (click)="showOrderEntry = false">X</div> -->
                        <app-svg-icons class="closebtn" [icon]="'cancel-icon'" [width]="'15'" [height]="'15'"
                            (click)="showOrderEntry = false; showSIP = false">
                        </app-svg-icons>
                    </div>
                    <app-sip [displaySearch]=true [Ccy]="this.data['Currency']"></app-sip>

                </div>
                <!--Added by AlolikaG on 31st Jan 2022. Assigned by ParikshitK --END-->

                <!--Added by AlolikaG on 17-02-2022. Assigned by ParikshitK --START-->
                <div *ngIf="this.product === 'FundsBundle' && showSIP">
                    <div class="tabs tab-active">
                        <div >SIP</div>
                        <!-- <div class="closebtn" (click)="showOrderEntry = false">X</div> -->
                        <app-svg-icons class="closebtn" [icon]="'cancel-icon'" [width]="'15'" [height]="'15'"
                            (click)="showOrderEntry = false; showSIP = false">
                        </app-svg-icons>
                    </div>
                    <app-sip [displaySearch]=true [Ccy]="this.data['Currency']"></app-sip>

                </div>
                <!--Added by AlolikaG on 17-02-2022. Assigned by ParikshitK --END-->

                <div *ngIf="this.product === 'Product_Maintenance'">
                    <div class="tabs tab-active">
                        <div >Insurance</div>
                        <!-- <div class="closebtn" (click)="showOrderEntry = false">X</div> -->
                        <app-svg-icons class="closebtn" [icon]="'cancel-icon'" [width]="'15'" [height]="'15'"
                            (click)="showOrderEntry = false">
                        </app-svg-icons>
                    </div>
                    <app-insurance [displaySearch]=true></app-insurance>
                </div>
                <div *ngIf="this.product === 'EquityAutocallableNote'">
                    <div class="tabs tab-active">
                        <div >Structured Notes</div>
                        <app-svg-icons class="closebtn" [icon]="'cancel-icon'" [width]="'15'" [height]="'15'"
                            (click)="showOrderEntry = false">
                        </app-svg-icons>
                    </div>
                    <app-structurednotes [displaySearch]=true [templateCode]=this.product></app-structurednotes>

                </div>

                <!-- <div *ngIf="this.product === 'EquityAutocallableNote'">
                    <div class="tabs tab-active">
                        <app-svg-icons [icon]="'xls'">
                        </app-svg-icons>
                        <div >Structured Notes</div>
                        <app-svg-icons class="closebtn" [icon]="'cancel-icon'" [width]="'15'" [height]="'15'"
                            (click)="showOrderEntry = false">
                        </app-svg-icons>
                    </div>
                    <app-payment-history></app-payment-history>

                </div> -->
            </div>
        </div>
    </div>
    <div *ngIf="showFolder">
        <div class="folder">
            <div class="heading"> Proposal Maintenance:</div>

            <div class="listGrid">
                <span>List Type </span>
                <select [(ngModel)]="listType">
                    <!-- <option selected>All</option> -->
                    <option selected>Private</option>
                    <option>Public</option>
                </select>
            </div>
            <div class="listGrid">
                <span>Existing Proposal </span>
                <select *ngIf="listType === 'All'" [(ngModel)]="all">
                    <option *ngFor="let item of allList">{{item.PF_Folder_Name}}</option>
                </select>
                <select *ngIf="listType === 'Private'" [(ngModel)]="private">
                    <option *ngFor="let item of privateList">{{item.PF_Folder_Name}}</option>
                </select>

                <select *ngIf="listType === 'Public'" [(ngModel)]="public">
                    <option *ngFor="let item of publicList">{{item.PF_Folder_Name}}</option>
                </select>
            </div>
            <div class="listGrid">
                <span>Create New Proposal </span>
                <input type="text" [(ngModel)]="folderName">
            </div>
            <div class="listGridMessage">
                <span> </span>
                <button class="button" (click)="saveFolder()">Save</button>
                <span>{{message}}</span>
            </div>

        </div>
    </div>

<!-- Added on 25th JUL 2022 -->
    <div *ngIf="showStressTest" class="overlay">
        <div class="page-content-container-popup">
            <div>
                <div  class="tabs tab-active">
                    {{data.Product_Code}}
                </div>
                <div> 
                    <app-svg-icons class="closebtn" [icon]="'cancel-icon'" [width]="'15'" [height]="'15'"
                    (click)="showStressTest = false">
                    </app-svg-icons>
                </div>
            </div>
            <app-stress-test [productDetails] = "data"></app-stress-test>
        </div>
    </div>

</div>