
<div class="insideCard-gridview">
    <div class="cls-td">
        <label>Product</label>
    </div>
    <div class="productDiv">
        <label class="productName">
            Mutual Funds
        </label>
    </div>

    <div class="cls-td">
        <label>Fund Name</label>
    </div>
    <div class="underlying">
        <input type = "text" value="AB CONCENTRATED US EQUITY PORTFOLIO CLASS A" class="InputClass"/>
    </div>
    <!-- <div class="cls-td">
        
    </div> -->

    <div class="cls-td">
        <label>Rating / Code</label>
    </div>
    <div class="cls-td">
        <label>3</label>
    </div>
    <div class="cls-td">
        <label>ABCPU</label>
    </div>

    <div class="cls-td">
        <label>Contract Amt</label>
    </div>
    <div>
        <input type="text" value="1,000,000.00" class="InputClass">
    </div>
    <div class="cls-td">
        <label>USD</label>
    </div>

    <div class="cls-td">
        <label>Annual / Trailer Fees(%)</label>
    </div>
    <div class="cls-td">
        <label>2</label>
    </div>
    <div class="cls-td">
        <label>0.75</label>
    </div>
   
    <div class="cls-td">
        <label>Sector / Units</label>
    </div>
    <div class="cls-td">
        <label>Equity</label>
    </div>
    <div class="cls-td">
        <label>-</label>
    </div>

    <div class="cls-td">
        <label>Reports</label>
    </div>
    <div>
        <!-- <input type = "text" value="1.1558" class="InputClass"/> -->
    </div>
    <div>
        <!-- <input type = "text" value="1.1905" class="InputClass"/> -->
    </div> 

</div>

<div class="pricingTile">
    <div class="pricing-div">
        <div>

        </div>
        <div></div>
        <div>
            <button class="btn-price">Current NAV</button>
        </div>
        <div>
            <button class="btn-price">Subscribe</button>
        </div>
    </div>   

    <div class="pricing-card">
        <div>

        </div>
    </div>
</div> 