.SelectorBox > a {
  line-height: 2em;
}

.SelectorBox > a > div {
  padding-left: 0.5em;
}

.HoverSuggestion {
  background: #5f5f5f;
  color: white;
}

.SelectorBox {
  // display: grid !important;
  // align-items: center !important;
  // height: auto;
  // max-height: 10em;
  // margin-left: 0px !important;
  // padding-left: 2px;
  // overflow-y: scroll;
  // position: fixed;
  // float: left;
  // z-index: 20;
  // background: white;
  // border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  // border-bottom: 1px ridge #ccc;
  // cursor: pointer;
  // border: none !important;
  // background-color: rgb(238, 238, 238);
  // padding-top: 0.275em;
  // padding-bottom: 0.275em;
  // margin-top: 12.4em;
  // color: #676765;
  // border-radius: 0.3em;
  // text-align: left;
  // font-size: 1em;
  height: auto;
  max-height: 10em;
  margin-left: 0px !important;
  padding-left: 2px;
  overflow-y: scroll;
  // position: fixed;
  float: left;
  z-index: 20;
  background: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px ridge #ccc;
  cursor: pointer;
  border: none !important;
  background-color: rgb(238, 238, 238);
  padding-top: 0.275em;
  padding-bottom: 0.275em;
  margin-top: 12.4em;
  color: #676765;
  border-radius: 0.3em;
  text-align: left;
  font-size: 1em;
  min-width: 150px !important;
  max-width: 150px !important;
  position: fixed;
  display: grid !important;
  min-width: 15em !important;
}

.underlying-container {
  position: relative;
}

.UnderlyingSearch {
  display: flex;
  align-self: flex-end;
  /* padding-top: 2em; */
  position: absolute;
  width: 100%;
  color: white;
  padding-right: 2.2em;
  margin-right: 0 !important;
}

// tr:nth-child(odd) {
//     background-color: #d6d6d67c;
// }

// tr:hover {
//     background-color: #bbbbbbce
// }

// tr:nth-child(odd):hover {
//     background-color: #bbbbbbce;
// }

// td,
// th {
//     width: auto;
//     padding: 5px;
// }

// th {
//     background-color: #AB9F93;
//     color: #ffffff;
//     font-weight: 500;
//     margin: 5px !important;
//     padding: 5px 15px;
//     border-radius: 2px;
//     text-align: center;
// }

// td {
//     background-color: rgba(243, 241, 241, 0.425);
//     margin: 10px !important;
//     padding: 5px 5px;
//     border-radius: 2px;
//     text-align: left;
//     color: #343a40;
// }

// table {
//     border-collapse: separate;
//     border-spacing: 0.2em 0.2em;
//     font-size: 15px !important;
//     width: 100%;
// }

.tdRight {
  text-align: right;
}

.tdCenter {
  text-align: center;
}

// table+.lpprice {
//     border-collapse: separate;
//     border-spacing: 1em 0em !important;
//     font-size: 16px !important;
//     width: 100%;
// }

.lpprice th,
.lpprice td {
  background-color: lightgray;
  color: #ffffff;
  font-weight: 500;
  margin: 5px !important;
  padding: 5px 15px;
  border-radius: 2px;
  text-align: center;
}

.lpname {
  display: grid !important;
  background-color: var(--select-bg);
  box-shadow: var(--neumorphic-up);
  text-align: center;
  padding: 13px;
  max-width: 100px;
  min-width: 110px;
  height: 180px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.lpname:hover {
  box-shadow: 0px 0px 1px 1px var(--active);
}

.card {
  min-width: 110px !important;
  height: 180px;
  background-color: var(--select-bg);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 35px 30px auto 45px;
  // grid-template-rows: 1fr 0.5fr 0.8fr 0.5fr;
  padding: 10px;
  box-shadow: var(--neumorphic-up);

  .card-lp-logo {
    display: flex;
    justify-content: center;
  }

  .card-header {
    margin: auto;
    font-size: 15px;
    color: var(--heading-label);
  }

  .card-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
  }

  .card-buttons {
    display: flex;
    justify-content: center;
  }

  .card-timer {
    display: flex;
    justify-content: center;
    color: var(--heading-label);
  }
}

.highlight-card {
  box-shadow: 0px 0px 8px 3px var(--active) !important;

  .card-header {
    color: var(--active);
    font-size: 21px;
  }

  .card-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: var(--active);
  }
}

.bookBtn {
  background: #9e8c8b;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 2em;
  min-width: 5em;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-align: center;
  font-size: 15px;
  border-radius: 0.3em;
  cursor: pointer;
  margin: 0.2em;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.loading {
  pointer-events: none !important;
  position: fixed;
  cursor: not-allowed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* display: none; */
  z-index: 2050;
  background-color: #ffffff77;
  text-align: center;
  /* -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s; */
  opacity: 1;
}

.main-container {
  min-height: 180px !important;

  .cards-section {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0px 0px 0px;
    flex-wrap: wrap;
  }

  .loading-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.loadingImg {
  margin: 40vh auto;
  width: 150px;
}

// table+.lpprice {
//     border-collapse: separate;
//     border-spacing: 1em 0em !important;
//     font-size: 16px !important;
//     width: 100%;
//   }

//   .lpprice th,
//   .lpprice td {
//     background-color: lightgray;
//     color: #ffffff;
//     font-weight: 500;
//     margin: 5px !important;
//     padding: 5px 15px;
//     border-radius: 2px;
//     text-align: center;
//   }
//   .lpname {
//     display: grid !important;
//     background-color: var(--select-bg);
//     box-shadow: var(--neumorphic-up);
//     text-align: center;
//     padding: 13px;
//     max-width: 100px;
//     min-width: 110px;
//     height: 180px;
//     margin: 10px;
//     font-size: 15px;
//     border-radius: 5px;
// }

.lpname:hover {
  box-shadow: 0px 0px 1px 1px var(--active);
}

.bookBtn {
  background: #9e8c8b;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 2em;
  min-width: 5em;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-align: center;
  font-size: 15px;
  border-radius: 0.3em;
  cursor: pointer;
  margin: 0.2em;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.FXD-row {
  grid-template-columns: 1fr 0.7fr 1fr 0.7fr !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 13em;
  height: 35px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--select-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--active);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--active);
}

input:focus + .slider {
  //   box-shadow: 0 0 1px var(--active);
}

input:checked + .slider:before {
  -webkit-transform: translateX(10.7em);
  -ms-transform: translateX(10.7em);
  transform: translateX(10.7em);
  background-color: var(--select-bg) !important;
}

input:checked + .toogle-value-left {
  display: none;
}
.toogle-value-right {
  position: absolute;
  top: 8px;
  left: 60px;
  color: var(--btn-text);
}
.toogle-value-left {
  position: absolute;
  top: 8px;
  right: 20px;
  color: var(--gray);
}
.switch-disabled {
  background-color: var(--disabled) !important;
  color: var(--gray) !important;
}
.suitability-input {
  width: 192px;
}
.highlight-card {
  box-shadow: 0px 0px 8px 3px var(--active) !important;
  .card-header {
    color: var(--active);
    font-size: 21px;
  }
  .card-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: var(--active);
  }
}
