.component {
  display: flex;
  background-color: var(--main-bg-color);
  flex-direction: column;
  font-size: 15px;
}
.main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--containers);
  letter-spacing: 0.72px;
  border-radius: 4px;
  width: 70%;
  box-shadow: var(--box-shadow-thin);
  margin-bottom: 15px;
  margin-left: 40px;
}
.main-container:hover {
  box-shadow: var(--box-shadow-hovered);
}
.sub-content{
  display: grid;
//     grid-template-columns:minmax(50px,10%) minmax(25px,5%) minmax(50px,10%) minmax(25px,5%) minmax(100px,12%) minmax(100px,12%)
//     minmax(25px,5%) minmax(100px,13%) minmax(100px,13%) minmax(50px,10%) minmax(50px,10%);
//  padding: 10px 0px;
grid-template-columns: 15% auto 15% 20% 20%;
//    gap: 10px;
  text-align: center;
}
.mainGrid{
  // margin-top: 10px;
  padding: 10px 0px;

}
.INSName{
  padding: 10px;
  color: var(--content);
}
.headers{
  color: darkgray;
  margin-top: 15px;
}
.value{
  padding: 10px 0px;
}
.ccy{
 margin-left: 10px;
}
