<div class="maple-gridview">
    <div class="Dark-grass cardView">
        <div>
           <app-fx-option></app-fx-option>
        </div>
    </div>
    <div class="Dark-blue cardView">
        <div>
            <app-maple-strategy></app-maple-strategy>
        </div>
    </div>
    <div class="Dark-cacao cardView">
        <div>
            <app-fx-dci></app-fx-dci>
        </div>
    </div>
    <div class="Dark-Vermillion cardView">
        <div>
            <app-fx-trf></app-fx-trf>
        </div>
    </div>

    <div class="Dark-Verde cardView">
        <div>
            <app-fx-pivot></app-fx-pivot>
        </div>
    </div>
    <div class="Dark-purpleFlash cardView">
        <div>
            <app-fx-aq></app-fx-aq>
        </div>
    </div>
    <div class="Dark-Saint cardView">
        <div>
            <app-fx-dq></app-fx-dq>
        </div>
    </div>

</div>
