<div class="statementComponent">
    <div class="page-title">Credit Summary Report</div>
    <div class="main-container">
        <div class="content-container">
            <div class="grid-container">
                <!-- <div class="page-title">
        Portfolio Statement
    </div> -->
                <div class="grid-filter">

                    <div class="grid-filter-fileformatsendvia">
                        <div class="grid-filter-label">
                            Format
                        </div>
                        <div class="grid-filter-label">
                            Send as
                        </div>
                        <div class="grid-filter-dates-select">
                            <select >
                                <option value="PDF">PDF</option>
                                <option value="EXCEL">EXCEL</option>
                            </select>
                        </div>
                        <div class="grid-filter-dates-select">
                            <select >
                                <option value="Download">Download</option>
                                <option value="Email">Email</option>
                            </select>
                        </div>
                    </div>

                    <div class="grid-filter-generate-btn">
                        <input class="button" type="button" value="Generate" (click)="GeneratePortfolioStatement()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>