<apx-chart
    [series]="ChartOptions.series"
    [chart]="ChartOptions.chart"
    [dataLabels]="ChartOptions.dataLabels"
    [plotOptions]="ChartOptions.plotOptions"
    [yaxis]="ChartOptions.yaxis"
    [xaxis]="ChartOptions.xaxis"
    [stroke]="ChartOptions.stroke"
    [grid]="ChartOptions.grid"
    [fill]="ChartOptions.fill"
    [annotations]="ChartOptions.annotations"
    [noData]="ChartOptions.noData"
    [title]="ChartOptions.title"
    [colors]="ChartOptions.colors"
    [legend]="ChartOptions.legend"
  ></apx-chart>