$assetPath: "http://52.187.114.119";

.news-box {
  // height: 440px;
  overflow-y: auto;
  max-height: 325px;
}

.news-box::-webkit-scrollbar {
  width: 2px;
}

.data-container:hover {
  box-shadow: var(--box-shadow-hovered);
}

.data-container {
  padding: 10px;
  // box-shadow: 2px 2px 2px 1px #04172726;
  border-radius: 4px;
  // border: 1px solid #eeeeee;
  box-shadow: var(--box-shadow-thin);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-right: var(--gap);
  margin-bottom: var(--gap);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-size: 100% 100%;

  // border-radius: 12px;
  .header {
    width: 100%;
    overflow-y: hidden;
    padding: 5px;

    .header-text {
      font-size: 20px;
      color: var(--headers);
      letter-spacing: 0.9px;
      padding-bottom: 0.1rem;
      // font-weight: 500;
    }
  }
}

.line {
  width: 100%;
  display: flex;
  // margin: 2px auto;
  border-bottom: 1px solid orange;
}

// .maincontainer-opacity {
//   opacity: 0.5;
// }
.gridTable {
  display: grid;
  grid-template-columns: 1fr 30px 0.8fr;
  font-size: 15px; // 14px;;
  align-items: baseline;
  padding: 5px;
}

.gridTable2 {
  display: grid;
  grid-template-columns: 37% 10% 40% 15%;
  font-size: 15px; // 14px;
  align-items: baseline;
  margin-bottom: 10px;
}

.gridTableINS {
  display: grid;
  grid-template-columns: 1fr 30px 0.8fr;
  font-size: 15px; //  14px;
  align-items: baseline;
  padding: 5px;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.gridTableHead {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  font-size: 15px; // 14px;
  align-items: center;
  margin-bottom: 10px;
}

.balance {
  padding-left: 5px;
  font-size: 12px;
}

.transactiongrid {
  display: grid;
  grid-template-columns: 1fr 30px 0.8fr;
  // font-size: 12px;'
  align-items: baseline;
  margin-bottom: 5px;
}

.date {
  margin-top: 10px;
  // font-size: 12px;
}

.smalltile {
  background: #cacaca26;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 50px auto;
  cursor: pointer;
  gap: 10px;
  // font-size: 12px;
}

.ccy {
  // padding-top: 12px;
  font-size: 15px; // 14px;
}

.holdingTable {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px; // 14px;
}

.tablehead {
  // background-color: var(--table-header-bg);
  color: var(--table-header-text);
  text-align: center;
  padding: 3px;
  height: 26px;
  border-bottom: 1px solid var(--table-header-text);
  // font-weight: 500;
}

// span {
//     // padding: 0px 5px;
// }

.chartArea {
  padding: 5% 0% 10% 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartArea1 {
  padding-left: 5%;
}

// .chartArea1 {
//     padding: 0% 5% 0% 0%;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.content-header {
  height: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: 97% 3%;
  background-color: var(--content-header);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .content-header-name {
    font-size: 18px;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;

    img {
      margin: 0px 5px;
      width: 25px;
      height: 25px;
      // filter: invert(1);
    }
  }

  // .line {s
  //   border: 0.1px solid var(--headers);
  //   box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.25);
  //   -webkit-box-shadow: 0px 3px 6px -0.6px rgba(0, 0, 0, 0.25);
  //   -moz-box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.25);
  // }
}

.popuptab1 {
  position: absolute;
  border: 1px solid var(--containers);
  border-radius: 5px;
  background-color: var(--containers);
  z-index: 999;
  height: 81%;
  width: 81%;
  top: 14%;
  left: 16%;

  .closebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    font-size: 18px;
    color: var(--text);
    font-weight: 800;
    // margin-top: 7px;
  }
}

.popuptab2 {
  position: absolute;
  border: 1px solid var(--containers);
  border-radius: 5px;
  background-color: var(--containers);
  z-index: 999;
  height: 81%;
  width: 81%;
  top: 10%;
  left: 10%;

  .closebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    font-size: 18px;
    color: var(--text);
    font-weight: 800;
    // margin-top: 7px;
  }
}

.btngrid2 {
  display: none;
}

.popupHeader {
  background-color: var(--beige);
  width: 100%;
}

.popupContent {
  width: 100%;
}

.subcontent {
  padding: 0px 15px 10px 15px;
}

.performance-table {
  display: grid;
  width: 100%;
  grid-template-columns: 40px 1.5fr 1fr 1fr 1fr;
  // grid-template-rows: repeat(2, 25px);
  // font-size: 12px;
  margin-top: 1em;
  padding-right: 5px;

  .table-title {
    display: grid;
    // background-color: var(--table-header-bg);
    color: var(--table-header-text);
    padding: 2px;
    // color: white;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    align-items: center;
    border-bottom: 1px solid var(--table-header-text);
  }

  // .table-content {
  //     // display: flex;
  //     // align-items: center;
  //     // justify-content: flex-end;
  //     // padding: 5px;
  // }
}

.assetdetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
  text-align: center;

  .datarow1 {
    display: flex;
    flex-direction: row;

    .ccy {
      font-size: 15px; // 14px;
      padding: 5px;
      display: flex;
      align-items: flex-end;
    }

    .amt {
      font-size: 22px;
      padding: 5px;
    }
  }

  .datarow2 {
    .amount {
      font-size: 17px;
      padding-left: 5px;
    }
  }
}

.tableCenter {
  padding: 15px;
}

.buttonspace {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 0px;
}

.bestbtn {
  border: 1px solid gray;
  background-color: whitesmoke;
  border-radius: 3px;
}

.active-bestbtn {
  background-color: var(--headers);
  border: 1px solid var(--headers);
  color: whitesmoke;
}

.error {
  text-align: center;
  padding: 2em;
}

.containerFundDetails {
  display: grid;
  grid-template-columns: 5% 18% 18% 18% 15% 15% auto;
  width: 100%;
  font-size: 26px; // 14px;
  margin-top: 1%;
  color: var(--off-color);
}

.name {
  margin-top: 0.2em;
}

.profile {
  display: flex;
  flex-direction: column;

  span {
    margin-top: 5px;
  }
}

.content {
  overflow-y: scroll;
  scrollbar-width: 5px;
  height: 90%;
  margin: 10px 0px;
}

.mail {
  color: var(--links);
  cursor: pointer;
  padding: 10px;

  u {
    a {
      color: var(--links);
    }
  }
}

.verified {
  display: grid;
  grid-template-columns: 30% 60% 10%;
}

// .content-header {
//     height: 50px;
//     padding: 10px;
//     display: grid;
//     grid-template-columns: 97% 3%;
//     background-color: var(--content-header);
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//     .content-header-name {
//         font-size: 18px;
//         color: white;
//         display: flex;
//         margin: 0;
//         padding: 0;
//         padding-bottom: 5px;
//         img {
//             margin: 0px 5px;
//             width: 25px;
//             height: 25px;
//             // filter: invert(1);
//         }
//     }
//     // .line {s
//     //   border: 0.1px solid var(--headers);
//     //   box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.25);
//     //   -webkit-box-shadow: 0px 3px 6px -0.6px rgba(0, 0, 0, 0.25);
//     //   -moz-box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.25);
//     // }
// }

.column2 {
  width: 325px;
}

.column3 {
  width: 350px;
}

.column4 {
  width: 350px;
}

.AUM {
  color: var(--inline-label);
  text-align: right;
  // font-size: 20px;
}

.graphcontent {
  padding-left: 50px;
}

.headercolor {
  color: var(--inline-label);
  font-size: 15px; // 14px;
  white-space: break-spaces;
  text-align: left;
}

.allocation {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* top: 40%; */
  left: 115px;
  z-index: 10;
  width: 10em;
  height: 3em;
}

.holding {
  font-size: 24px;
  color: var(--content);
}

.marketWatch {
  height: 180px;
  overflow-y: scroll;
  font-size: 12px;
}

.flexalign {
  display: flex;
  align-items: flex-end;
}

.transactions {
  max-height: 325px;
  overflow-y: scroll;
  margin-top: 5px;
  padding-right: 10px;
}

.fundname {
  color: var(--content);
  font-size: 15px;
  align-items: center;
  display: flex;
  gap: 1%;
}

.outerdiv {
  display: grid;
  grid-template-columns: auto 30%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.expand-icon {
  float: right;
  padding: 0px !important;
  min-width: 30px !important;
  min-height: 30px !important;
  margin: 0px 15px 0px 10px !important;
  background: url(#{$assetPath}/assets/enabled_add.jpg) no-repeat scroll calc(100%) center/20px auto !important;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.tabsgrid {
  display: grid;
  grid-template-rows: auto;
  font-size: 15px;
  align-items: baseline;
  margin-top: 2px;
}

.btngrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
}

.btnBuy {
  // background-color: #0f9d55;
  border: 1px solid #0f9d55;
  color: #0f9d55 !important;
  background-color: transparent;
  font-size: 12px;
}

// .btnBuy:hover {
//     // color: black;
//     // background-color: #11b161;
//     // border: solid 1px darkgray;
// }

.btnSell {
  // background-color: #d23f31;
  border: 1px solid #d23f31;
  color: #d23f31 !important;
  background-color: transparent;
  font-size: 12px;
}

// .btnSell:hover {
//     // color: black;
//     // background-color: #eb4739;
//     // border: solid 1px darkgray;
//     // border: solid 1px var(--disabled);
// }

.btnPledge {
  // background-color: #ffb100;
  border: 1px solid #ffb100;
  color: #ffb100 !important;
  background-color: transparent;
  font-size: 12px;
}

// .btnPledge:hover {
//     // border: solid 1px darkgray;
// }

.graph-selection {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 40%;
  column-gap: 20%;
  height: 50px;
  align-items: center;
  align-content: center;

  .togglediv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.togglebtn {
  border: 1px solid var(--disabled);
  background-color: var(--disabled);
  border-radius: 3px;
  color: var(--text) !important;
  width: 80px !important;
  padding: 5px;
  border: none;
  // box-shadow: var(--box-shadow);
  font-size: 12px;
}

.active-togglebtn {
  color: var(--btn-text) !important;
  cursor: pointer;
  box-shadow: var(--neumorphic-down);
  background-color: var(--btn-bg) !important;
  font-size: 12px;
}

.largeFont {
  margin-left: 10px;
}

.profilegrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px; // 14px;
}

/* added by Vedika M.*/

/**********************************************************************************/

.cancel-icon {
  float: right;
  padding: 0px !important;
  min-width: 21px !important;
  min-height: 20px !important;
  // margin:-7px -8px -20px 10px !important;
  background: url(#{$assetPath}/assets/cancel.png) no-repeat scroll calc(50%) center/16px auto !important;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  margin: -5px;
  cursor: pointer;
  filter: grayscale(1) brightness(1.5);
}

.port-allco-empty-state {
  padding: 7.6em 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions::-webkit-scrollbar {
  width: 2px;
}

.marketWatch::-webkit-scrollbar {
  width: 2px;
}

// .onHoverShow{
//   display: none;
// }
// .hoverAction:hover .onHoverRemove{
//   display: none;
// }
// .hoverAction:hover .onHoverShow{
//   display: block;
//   margin: auto;
//   position: relative;
// }
// .onHoverShow button{
//   position: absolute;
//   margin: -5px -30px;
// }
@media screen and (max-width: 1440px) {
  .popuptab1 {
    position: absolute;
    border: 1px solid var(--containers);
    border-radius: 5px;
    background-color: var(--containers);
    z-index: 99999;
    height: 60%;
    width: 58%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .outerdiv {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .popuptab1 {
    position: absolute;
    border: 1px solid var(--containers);
    border-radius: 5px;
    background-color: var(--containers);
    z-index: 99999;
    height: 60%;
    width: 58%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btnBuy,
  .btnPledge,
  .btnSell {
    border-width: 2px;
    border-radius: 50%;
  }

  .btngrid {
    display: none;
  }

  .btngrid2 {
    display: flex;
    gap: 8px;
  }

  .outerdiv {
    display: grid;
    grid-template-columns: 85% 15%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

//Old FX classes --START
// .FX {
//     border-radius: 4px;
//     // box-shadow: var(--box-shadow-thin);
//     border: solid 1px #7d7d7d;
// }

// .FXHeader {
//     background-color: var(--fx-tile);
//     color: var(--icon-active);
//     border-top-left-radius: 4px;
//     border-top-right-radius: 4px;
//     padding: 10px;
//     font-size: 15px;
// }

// .FxGrid {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-gap: 10px;
//     gap: 10px;
//     text-align: center;
//     margin-top: 20px;
// }

// .FXValue {
//     padding: 10px;
//     // border-bottom: solid 1px var(--containers);
//     // border-left: solid 1px var(--containers);
//     // border-right: solid 1px var(--containers);
// }
//
.FX {
  border-radius: 4px;
  // box-shadow: var(--box-shadow-thin);
  border: 1px solid var(--border);
}

.FXHeader {
  background-color: var(--fx-tile);
  color: var(--icon-active);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px;
  font-size: 15px;
  text-align: -webkit-center;
}

.FxGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  gap: 10px;
  text-align: center;
  margin-top: 20px;
}

.border {
  border-right: 1px solid var(--border);
}

.FXValue {
  // padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // border-bottom: solid 1px var(--containers);
  // border-left: solid 1px var(--containers);
  border-right: solid 1px var(--containers);
  border-top: 1px solid var(--border);
}

.bidAskgrid {
  display: grid;
  padding: 3px;
  height: 50px;
}

.chart {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  /* margin: 10px; */
  text-align: center;
  padding: 2%;
  margin-left: 5%;
}

.chartlayout {
  // width: 97%;
  margin: 10px;
  border: solid 1px var(--border);
  position: relative;
}

.close {
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
  /* height: 20px; */
  /* width: 25px; */
  border-radius: 2px;
  font-size: 18px;
  color: white;
  font-weight: 800;
  float: right;
  text-align: right;
  margin: 10px;
  position: absolute;
  right: 12px;
  z-index: 99;
}

.grid {
  display: grid;
  align-items: baseline;
  justify-content: space-around;
  line-height: 25px;
  direction: rtl;
  gap: 1%;
  padding: 5px 10px 0px 10px;
  font-size: 15px;
}

.close-icon {
  z-index: 99;
}

.imgClass {
  cursor: pointer;
  margin: 5px;
}

.marginTop {
  margin-top: 25px;
}

.box {
  width: 50px;
  height: 50px;
}

.ccyFlag {
  width: 28px;
  height: 28px;
  // background: transparent url('img/USD.png') 0% 0% no-repeat padding-box;
  border: 2px solid var(--fx-tile);
  border-radius: 20px;
  opacity: 1;
}

.flagPos {
  position: relative;
  left: 4%;
}

// .flagGrid {
//     // display: grid;
//     // padding: 3px;
//     // grid-template-columns: 1fr 1fr;
//     // width: fit-content;
//     // align-items: center;
// }
.btnAdd {
  width: 30px;
  height: 30px;
  background: #303030 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  padding: 8px;
}

.watchlist {
  display: flex;
  justify-content: space-between;
  // grid-template-columns: 50% 8% 30% 5%;
  grid-gap: 1%;
  gap: 2%;
  align-items: center;
  padding-bottom: 10px !important;
}

.search-customer-div {
  padding: 10px 0px;
}

.searchsvgAlign {
  top: 5px;
  left: 10px;
  z-index: 9999;
  position: relative;
}

.txtWatchlist {
  width: 300px;
  margin-left: -15px;
  padding-left: 30px;
}

.watchlistGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 10px;
}

.box {
  border-radius: 2px;
  opacity: 1;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.code {
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
}

.name {
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #e1dfdf;
  text-transform: capitalize;
  max-width: 160px;
  overflow: auto;
}

.bidask {
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
}

.change {
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
}

// Added by Akhilesh D on 03/12/2021 as told by Parikshit Sir
.info-img {
  background-image: url(#{$assetPath}/assets/Exclamation.png);
  background-repeat: no-repeat;
  // background-color: var(--nav-header);
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-position: left;
  // margin: auto;
  filter: invert(100%);
}

.holdinghistory_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.historydiv {
  background-color: var(--content-header);
  position: relative;
  margin: 20px;
}

.containerholdinghistoryDetails {
  width: 200px;
  font-size: 15px;
  margin-left: 10px;
  color: var(--text);
  text-align: left;
}

.holdinghistorypopuptab {
  position: absolute;
  border: 1px solid var(--containers);
  border-radius: 5px;
  background-color: var(--containers);
  z-index: 99999;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
}

// End Add Akhilesh D on 03/12/2021
#chart {
  position: relative;
}

.hollow-value {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(63%, 152%);
  width: 10em;
}

.chartArea .hollow-value {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .hollow-value span:first-child {
//   font-size: 24px;
//   font-weight: 500;
//   color: var(--text);
// }

// .hollow-value span {
//   font-size: 12px;
//   font-weight: 500;
//   color: #676767;
// }

.square {
  height: 10px;
  width: 10px;
  margin: 0px 10px;
}

.details-grid {
  min-height: 230px;
  display: grid;
  // grid-template-columns: 2fr 1fr;
}

.details-grid .body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details-grid .body .content {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0px;
  gap: 5px;
  height: auto !important;
}

.details-grid .body>.content>.title {
  font-size: 13px !important;
  font-weight: 500;
  text-align: left;
  color: #676767;
  display: grid;
  grid-template-columns: 2em 2em;
  align-items: center;
}

.details-grid .body>.content>.value {
  font-size: 13px !important;
  font-weight: 500;
  text-align: right;
}

.watchlist-inner {
  display: flex;
  gap: 10px;
}

.FXRatesLabel {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

//Added by Uddesh on 1 Feb 2022
.newWLOverlay {
  height: 50px;
  width: 50px;
  background-color: red;
}