<div class="maple-gridview" >
    <div class="Dark-grass cardView">
        <div>
            <app-eln></app-eln>
        </div>
    </div>
    <div class="Dark-blue cardView">
        <div>
            <app-fcn></app-fcn>
        </div>
    </div>
    <div class="Dark-cacao cardView">
        <div>
            <app-dra></app-dra>
        </div>
    </div>
    <div class="Dark-purpleFlash cardView">
        <div>
            <app-option></app-option>
        </div>
    </div>
    <div class="Dark-Saint cardView">
        <div>
            <app-ben></app-ben>
        </div>
    </div>
    <div class="Dark-Vermillion cardView">
        <div>
            <app-aqdqmaple></app-aqdqmaple>
        </div>
    </div>

    <div class="Dark-Verde cardView">
        <div>
            <app-phoenix></app-phoenix>
        </div>
    </div>


</div>
