$assetPath: "http://52.187.114.119";
:host {
  position: absolute;
  // top: 55px;
  left: 232.5px;
  right: 0;
  bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  // padding: 1% 0% 1% 2%;
}

.validateusercomponent {
  display: grid;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-right: 35px;

  .timeline-outer {
    position: relative;
    display: flex;
    align-items: flex-end;

    .stack-top {
      z-index: 9;
      margin: 0px;
    }

    .timeline {
      counter-reset: test 0;
      position: relative;
      width: 100%;
      padding: 0;
    }

    .timeline li {
      list-style: none;
      float: left;
      width: 25%;
      position: relative;
      text-align: center;
      font-size: 13px;
    }

    ul:nth-child(1) {
      color: #d4d4d4;
    }

    .timeline li:before {
      counter-increment: test;
      content: counter(test);
      width: 30px;
      height: 30px;
      border: 3px solid #d4d4d4;
      border-radius: 50%;
      display: block;
      text-align: center;
      line-height: 30px;
      margin: 0 auto 10px auto;
      background: #fff;
      color: #0000;
      transition: all ease-in-out 0.3s;
      // cursor: pointer;
    }

    .timeline li:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #d4d4d4;
      top: 15px;
      left: -50%;
      z-index: -999;
      transition: all ease-in-out 0.3s;
    }

    .timeline li:first-child:after {
      content: none;
    }

    .timeline li.active-tl {
      color: var(--label);
    }

    .timeline li.checked-tl {
      background: var(--label);
      border: 3px solid var(--label);
    }

    .timeline li.active-tl:before {
      background: var(--label);
      border: 3px solid var(--label);
      // color: #f1f1f100;
    }
  }

  .BI-maindata-outer {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: repeat(auto, 50px);

    // padding: 10px 20px !important;
    // grid-gap: 20px;
    // height: 550px;
    .portfoliocard {
      position: relative;
    }

    .verticle-tab {
      float: right;

      // border: 1px solid #ccc;
      // width: 15%;
      .dotunselected {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: flex;
        margin: 20%;
      }

      .dotselected {
        height: 15px;
        width: 15px;
        background-color: var(--green);
        color: white;
        border-radius: 50%;
        display: flex;
        margin: 20%;
      }
    }

    .verticle-tabcontent {
      float: right;
      // padding: 0px 8px;
      padding-left: 20px; // 15-Mar-2021 || Viplav T. || Add property padding-left
      padding-right: 5px;
      margin-left: 20px;
      width: -webkit-fill-available;
      overflow: scroll;

      .BI-card {
        .BI-card-header {
          font-size: 20px;
          width: 100%;
          padding: 20px 0px;
          letter-spacing: 1px;
          color: var(--headers);
          letter-spacing: 1.35px;
          text-align: start;
          font-variant: small-caps;
          font-family: var(--font-secondary);
        }

        .BI-card-content:hover {
          box-shadow: var(--box-shadow-hovered);
        }

        .BI-card-content {
          box-shadow: var(--box-shadow-thin);
          transition: 0.3s;
          margin-left: 2px;
          // border-radius: 15px;
          padding: 20px;
          background-color: var(--containers);

          .BI-rowcontent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // padding: 0.5% 5%;
            grid-gap: 1% 5%;

            .content {
              width: 100%;
            }
          }

          .BI-rowbutton {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          }
        }
      }

      .Summary-card {
        background-color: var(--containers);
        box-shadow: var(--box-shadow-thin);
        transition: width 235ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 4px;
        padding: 0px !important;
        margin-bottom: 20px;

        .Summary-card-header {
          color: var(--label);
          font-variant: small-caps;
          letter-spacing: 1.4px;
          height: 70px;
          font-size: 20px;
          text-align: start;
          padding: 0% 3%;

          .Summary-card-header-label {
            padding-top: 20px;
            padding-bottom: 5px;
            font-family: var(--font-secondary);
          }

          // hr {
          //     margin-top: 5px;
          //     margin-bottom: 5px;
          // }
          // margin-top: 1.5%;
        }

        .Summary-card-content {
          // padding: 20px;
          .Summary-rowcontent {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            padding: 0.5% 3%;

            // grid-gap: 1% 10%;
            .content {
              width: 100%;
            }
          }
        }
      }
    }

    .verticle-tabcontent::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .verticle-tabcontent {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }

  .btnPortfolio {
    margin-right: 15px;
    float: right;
  }

  .CI-maindata-outer {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(auto, 50px);

    // #portfolioInfo {
    //   margin-left: 5px;
    // }

    // padding: 10px 20px !important;
    // grid-gap: 20px;
    // height: 550px;
    .verticle-tab {
      float: right;

      // border: 1px solid #ccc;
      // width: 15%;
      .dotunselected {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: flex;
        margin: 20%;
      }

      .dotselected {
        height: 15px;
        width: 15px;
        background-color: var(--green);
        color: white;
        border-radius: 50%;
        display: flex;
        margin: 20%;
      }
    }

    .verticle-tabcontent {
      float: right;
      // padding: 0px 8px;
      // width: -webkit-fill-available;
      overflow: scroll;

      .CI-card {
        padding-left: 20px; // 15-Mar-2021 || Viplav T. || Add Property : padding-left

        .CI-card-header {
          color: var(--label);
          // line-height: 80px;
          height: 60px;
          padding-top: 22px;
          font-size: 20px;
          text-align: start;
        }

        .CI-card-content {
          display: grid;
          grid-template-columns: 50% 50%;
          box-shadow: var(--box-shadow-thin);
          margin-right: 10px;
          transition: 0.3s;
          padding: 10px;
          background-color: var(--containers);
          border-radius: 5px;
          margin-left: 20px;
          overflow-x: scroll;

          .CI-rowcontent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // padding: 0.5% 5%;
            grid-gap: 1% 5%;
            padding: 5px;

            .content {
              width: 100%;
            }
          }

          .CI-rowbutton {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          }
        }

        .CI-card-content:hover {
          box-shadow: var(--box-shadow-hovered);
        }
      }

      // ended by Chitra
      .Summary-card {
        box-shadow: var(--box-shadow-thin);
        transition: 0.3s;
        border-radius: 4px;
        padding: 0px !important;
        background: var(--containers);

        .Summary-card-header {
          color: var(--label);
          // line-height: 80px;
          height: 70px;
          font-size: 22px;
          text-align: start;
          padding: 0% 5%;
          font-weight: bold;
          // border-top: 1px solid lightgrey;
          // margin-top: 1.5%;
        }

        .Summary-card-content {
          // padding: 20px;
          .Summary-rowcontent {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            padding: 0.5% 5%;

            // grid-gap: 1% 10%;
            .content {
              width: 100%;
            }
          }
        }
      }
    }

    .verticle-tabcontent::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .verticle-tabcontent {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }

  .BI-maindata-outer::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .BI-maindata-outer {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .AI-maindata-outer {
    display: grid;
    grid-template-rows: repeat(8, 50px);
    width: 40%;
    margin: 0px auto;
    padding-top: 10px;

    .AI-rowcontent {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .AI-rowButton {
      display: flex;
      justify-content: center;
      padding: 10px 0px;
    }
  }

  .ACS-maindata-outer {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin-top: 3%;

    .AI-rowcontent {
      display: flex;
      justify-content: center;
      // align-items: center;
      align-items: flex-end;
      margin: 1%;

      .emailID {
        color: var(--links);
        text-align: center !important;
        font-size: 17px;
        padding: 0;
      }
    }

    .textnewentry {
      font-size: 26px !important;
      color: var(--label);
      font-weight: 400;
    }
  }

  .CK-maindata-outer {
    display: flex;

    // margin-top: 40px;
    // overflow: scroll;
    .CK-questiondata {
      .CK-rowcontent {
        display: flex;
        justify-content: flex-start;
        grid-template-rows: auto;
        // margin-bottom: 10px;
      }

      .CK-rowoptions {
        min-height: 200px;
        margin-bottom: 5px;
        text-align: left;
        margin-left: 5px;
        margin-right: 5px;
      }

      .singleoption {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  .Summary-maindata-outer {
    display: flex;
    // grid-template-columns: 85% 15%;
    // grid-template-rows: repeat(auto, 50px);
    padding: 0% 8%;

    // grid-gap: 20px;
    .Summary-Section-Header {
      font-size: 35px;
    }

    .Summary-Key-value-container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(auto, 50px);
      padding: 0% 8%;
      grid-gap: 20px;
    }
  }
}

.VKYC-card {
  .VKYC-card-header {
    color: var(--label);
    // line-height: 80px;
    height: 45px;
    font-size: 22px;
    text-align: start;
    padding: 10px 15px;
  }

  .VKYC-card-content {
    box-shadow: var(--box-shadow-thin);
    transition: 0.3s;
    margin-left: 40px; // 15-Mar-2021 || Viplav T. || CHange 20px to 40px
    padding: 10px 20px;
    background: var(--containers);

    .VKYC-rowcontent {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0.5% 0%;

      .content {
        width: 100%;
      }
    }
  }

  .Summary-card {
    box-shadow: var(--box-shadow-thin);
    transition: 0.3s;
    // border-radius: 15px;
    padding: 20px;
    background: var(--containers);
    margin-left: 20px !important;
    margin-bottom: 24px;
    border-radius: 4px;
    margin: 0px 2px;

    .Summary-card-header {
      color: var(--label);
      // line-height: 80px;
      height: 50px;
      font-size: 22px;
      text-align: start;
      padding: 0% 1%;
      font-weight: normal;
      // border-top: 1px solid lightgrey;
      margin-top: 1.5%;
    }

    .Summary-card-content {
      // padding: 20px;
      .Summary-rowcontent {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        padding: 0.5% 1%;

        // grid-gap: 1% 10%;
        .content {
          width: 100%;
        }
      }
    }
  }
}

.VKYC-card-content:hover {
  box-shadow: var(--box-shadow-hovered) !important;
}

.page-header {
  font-weight: 100;
  font-size: 21px;
  padding: 10px 20px;
}

.lbl {
  // font-size: 17px;
  font-size: 15px;
  line-height: 26px;
  // padding-left: 4%;
  text-align: initial;
  color: var(--heading-label);
}

// select {
//   outline: none;
//   // border: none !important;
//   // background-color: #eeeeee;
//   padding-top: 0.275em;
//   padding-bottom: 0.275em;
//   width: 100%;
//   padding-left: 2%;
//   color: #676765;
//   height: 35px;
//   // padding-left: 0.5em;
//   // border-radius: 0.2em;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   background-image: linear-gradient(45deg, transparent 50%, gray 50%),
//     linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
//   background-position: calc(100% - 20px) calc(1em + 0px), calc(100% - 15px) calc(1em + 0px), 100% 0;
//   background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
//   background-repeat: no-repeat;
// }

.txt {
  width: 100.5%;
  text-align: left;
}

.textarea {
  resize: none;
  border: none !important;
  background-color: rgb(238, 238, 238);
  // padding-top: 0.275em;
  // padding-bottom: 0.275em;
  width: 100%;
  padding-left: 2%;
  color: #676765;
  border-radius: 0.2em;
  // padding: 0;
  // padding-left: 0.5em;
  // padding-right: 0.5em;
  height: 50px;
}

// input[type="text"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="date"] {
//     // border: none !important;
//     // background-color: rgb(238, 238, 238);
//     // padding-top: 0.275em;
//     // padding-bottom: 0.275em;
//     // width: 100%;
//     // padding: 0% 1%;
//     // color: #676765;
//     // border-radius: 0.2em;
//     // height: 35px;
//     // padding: 0;
//     // padding-left: 0.5em;
//     // padding-right: 0.5em;
//     // text-align: left;
// }
// .btnPrice {
//     background: var(--label);
//     background-size: 100% 100%;
//     // background-position-x: center;
//     // background-position-y: center;
//     // background-repeat: no-repeat;
//     height: 30px;
//     // min-height: 2.5em;
//     // min-width: 5.5em;
//     vertical-align: middle;
//     text-align: center;
//     color: white;
//     text-align: center;
//     // font-size: 1em;
//     // border-radius: 0.5em;
//     cursor: pointer;
//     // margin: 0.5em;
//     border: none;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin: 5px;
//     width: 100px !important;
// }
.BI-card {
  position: relative;

  .add-port-icon {
    float: right;
    padding: 10px !important;
    /* min-width: 30px !important; */
    /* min-height: 25px !important; */
    /* margin: 5px 10px 0px 5px !important; */
    position: absolute;
    right: 0;
    top: 60px;
    color: var(--fund-details);
  }

  .disable-add-port-icon {
    float: right;
    padding: 10px !important;
    /* min-width: 30px !important; */
    /* min-height: 25px !important; */
    /* margin: 5px 10px 0px 5px !important; */
    position: absolute;
    right: 0;
    top: 60px;
    color: var(--shadow);
  }
}

.add-port-icon {
  float: left;
  position: relative;
  padding: 0px !important;
  min-width: 20px !important;
  min-height: 20px !important;
  margin: 5px 10px 0px 5px !important;
  color: var(--fund-details);
  cursor: pointer;
  // background-color: green;
  // color: white;
  // padding: 10px;
  // width: 20px;
  // height: 20px;
  // position: absolute;
  // right: -20px;
  // top: -20px;
}

.add-port-icon {
  background: url(#{$assetPath}/assets/Graph_Alloc.png) no-repeat scroll
    calc(50%) center/20px auto !important;
}

.chartArea {
  height: 265px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // padding: 5% 0% 11.2% 5%;
  // margin-top: 31px;
}

.btnPrice {
  cursor: pointer;
  height: 30px;
  width: 100px;
  border: none;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border-radius: 5px;
  text-align: center;
}

.btnPrice:hover {
  // font-weight: 500;
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
  cursor: pointer;
  // box-shadow: 0px 2px 7px rgba(136, 136, 136, 0.4);
  box-shadow: var(--box-shadow);
}

.btnPrice:focus {
  box-shadow: var(--box-shadow);
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

.btncompletekyc {
  width: 200px !important;
}

// .btnPrice:hover,
// .btnPrice:focus {
//     color: var(--button);
//     cursor: pointer;
//     // box-shadow: 0px 2px 7px rgba(136, 136, 136, 0.4);
//     box-shadow: var(--box-shadow);
//     background-color: var(--white) !important;
//     /* transform: translateY(-2px); */
// }
.radiostyle {
  margin-top: 4px;
}

.checkboxstyle {
  margin: 12px 0px;
}

.textnewentry {
  font-size: 20px !important;
  font-weight: 300 !important;
  margin: 0;
}

.scorenumber {
  // position: absolute;
  // top: 9px;
  // left: 16px;
  // font-size: 20px;
  // color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding-top: 20px;
  // padding: 8px;
  background: #fff;
  border: 2px solid grey;
  color: grey;
  text-align: center;
  font: 27px Arial, sans-serif;
}

.input-dob {
  position: relative;
  width: 100%;
  height: 35px;
  color: white;
}

.input-dob:before {
  position: absolute;
  top: 10px;
  left: 5px;
  content: attr(data-date);
  display: inline-block;
  color: black;
}

.input-dob::-webkit-datetime-edit,
.input-dob::-webkit-inner-spin-button,
.input-dob::-webkit-clear-button {
  display: none;
}

.input-dob::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 8px;
  right: 0;
  color: black;
  opacity: 1;
}

.CKSuccess {
  // display: grid;
  // justify-content: center;
  align-items: center;
  padding: 5% 0%;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  // border-radius: 15px;
  padding: 20px;
  // margin: 20px;
  margin: 5px;
  margin-left: 40px; // 15-Mar-2021 || Viplav T. || Add Property margin-left
  background-color: var(--containers);
  width: -webkit-fill-available;
  overflow: scroll;
}

.account-deatails-grid {
  display: grid;
  // grid-template-columns: repeat(6, 16.66%);
  // grid-template-columns: 16% 14% 12% 7% 13% 24% 14%;
  grid-template-columns: 10% 14% 12% 9% 5% 8% 21% 10%;
  // Row gap not working So used padding temp
  padding-top: 10px;
  // padding: 5px 5%;
  // column-gap: 10px;
  input {
    margin: 0px 5px;
  }
  // .AI-rowcontent {
  //     // display: grid;
  //     // grid-template-columns: 1fr 1fr 1fr 1fr;
  //     // .content {
  //     //     width: 100%;
  //     // }
  //     // margin: 3%;
  // }
  // .BI-rowbutton {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-direction: row;
  // }
}

@media screen and (max-width: 1600px) {
  .account-container {
    zoom: 90%;
  }
}

@media screen and (max-width: 1440px) {
  .account-container {
    zoom: 82%;
  }
}

.buttonsdiv {
  display: flex;
  justify-content: center;
  margin-top: 40px; // 15-Mar-2021 || Viplav T. || change 10px to 40px
}

// .buttonsdiv:last-child{
//   color: red;
//   display: flex;
//   justify-content: right;
// }
.question-count {
  text-align: right;
  color: gray;
}

.verticleCenter {
  padding: 0;
  display: flex;
  align-items: center;
}

.form-container4060 {
  display: grid;
  width: 100%;
  grid-template-columns: 80% 20%;
}

.form-container2080 {
  display: grid;
  width: 100%;
  grid-template-columns: 2% 98%;
}

.dot-text {
  font-size: 10px;
  white-space: nowrap;
  text-align: start;
  padding: 7%;
}

.KYC-card {
  box-shadow: var(--box-shadow-thin);
  transition: 0.3s;
  margin-left: 40px; // 15-Mar-2021 || Viplav T. || change 20px to 40px
  transition: 0.3s;
  padding: 20px;
  margin-bottom: var(--gap);
  background-color: var(--containers);
  border-radius: 4px;

  .KYC-card-header {
    color: var(--label);
    line-height: 80px;
    font-size: 20px;
    text-align: start;
  }

  .KYC-card-content {
    .KYC-rowcontent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0.5% 10%;
      grid-gap: 1% 10%;

      .content {
        width: 100%;
      }
    }
  }
}

.KYC-card:hover {
  box-shadow: var(--box-shadow-hovered) !important;
}

.RR-card-Header {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  padding: 2% 5px;
  text-align: center;
}

.RR-circle {
  color: var(--grey);
  font-size: 23px !important;
  margin: auto;
  border: 1px solid var(--white);
  width: 200px;
  min-height: 200px;
  border-radius: 50%;
  // padding-top: 50px;
  // line-height: 132%;
  color: var(--nav-header);
  background: var(--containers);
  font-weight: 500;
  .riskProfile {
    padding: 10px 0px;
    color: #6c8a9e;
    font-size: 20px;
  }
  .RR-circle-content {
    display: inline-grid;
    min-height: 200px;
    grid-template-rows: 30% 40% 30%;
    .RR-circle-content-line-1 {
      line-height: 90px;
    }
    .RR-circle-content-line-2 {
    }
    .RR-circle-content-line-3 {
    }
  }
}

.RR-circle:hover h3 {
  animation: icon1 0.5s ease 0.8s forwards;
}

@keyframes icon1 {
  0% {
    top: -25px;
  }

  100% {
    top: 10px;
  }
}

.legend-section {
  display: flex;
  max-height: 30px;
  /* padding: 10px; */
  margin: auto;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: 1.5%;
}

.legend-label {
  padding-right: 20px;
  padding-left: 15px;
}

@media only screen and (max-width: 600px) {
  :host {
    position: absolute;
    top: 55px;
    left: 0px;
    right: 0;
    bottom: 0;
  }

  .validateusercomponent {
    display: grid;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-right: 20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 5%;
    grid-template-rows: 100px min(700px);
    // overflow: scroll;
  }

  .form-container100 {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
  }

  .form-container4060 {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
  }

  .dot-text {
    white-space: pre-wrap;
  }

  .form-container2080 {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 90%;
  }

  .BI-maindata-outer {
    display: grid !important;
    grid-template-columns: 85% 15%;
    grid-template-rows: repeat(auto, 100px) !important;
    // margin-top: 5em;
    padding: 0px 0px !important;

    // .BI-card {
    //     box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    //     transition: 0.3s;
    //     border-radius: 15px;
    //     padding: 20px;
    //     .BI-card-header {
    //         color: var(--label);
    //         height: 50px;
    //     }
    //     .BI-rowcontent {
    //         display: grid !important;
    //         grid-template-columns: 50% 50% !important;
    //     }
    // }
    .BI-card {
      .BI-card-header {
        color: var(--label);
        line-height: 50px;
        font-size: 20px;
        font-family: var(--font-secondary);
      }

      .BI-card-content {
        box-shadow: var(--box-shadow-thin);
        transition: 0.3s;
        margin-left: 20px;
        // border-radius: 15px;
        padding: 20px;
        background-color: var(--containers);

        .BI-rowcontent {
          display: grid !important;
          grid-template-columns: 100% !important;
        }
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 1% 0% 1% 2%;
  }

  .account-deatails-grid {
    // display: grid;
    // grid-template-columns: repeat(1, 90%);
    // grid-template-rows: repeat(1, 100px) !important;
    // padding: 10px 170px;
    display: grid;
    grid-template-columns: repeat(6, 120px);
    padding: 0;
    width: 550px;

    .AI-rowcontent {
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      // .content {
      //     width: 100%;
      // }
      margin: 3%;
    }
  }

  .verticleCenter {
    padding: 0;
    display: block;
    align-items: center;
  }

  .verticle-tab {
    float: right;
    // border: 1px solid #ccc;
    // width: 15%;
  }

  .verticle-tabcontent {
    float: right;
    padding: 0px 8px;
    width: 85%;
    overflow: scroll;
  }
}

.BI-card-content {
  box-shadow: var(--box-shadow-hovered);
}

.form-container5050 {
  display: grid;
  // width: 100%;
  grid-template-columns: 50% 50%;
}

// .form-container2525 {
//   display: grid;
//   width: 100%;
//   grid-template-columns: 25% 25% 25% 25%;
// }

.form-container2525 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.checkmark {
  font-size: 15px;
  color: darkslategrey;
}

.VKYC-card-answer {
  display: grid;
  width: 100%;
  grid-template-columns: 40px 96%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .validateusercomponent {
    display: grid;
    // height: 90%;
    // width: 80%;
    border-radius: 5px;
    // margin: auto;
    // margin-top: 5%;
    // grid-template-rows: 600px min(1200px);
    // overflow: scroll;
  }

  .form-container100 {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
  }

  .form-container4060 {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
  }

  .form-container2080 {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 90%;
  }

  .form-container5050 {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
  }

  .dot-text {
    white-space: pre-wrap;
  }

  .BI-maindata-outer {
    display: grid !important;
    grid-template-columns: 85% 15%;
    grid-template-rows: repeat(auto, 100px) !important;
    // margin-top: 5em;
    padding: 0px 0px !important;

    .BI-card {
      .BI-card-header {
        color: var(--label);
        line-height: 50px;
        font-size: 20px;
        font-family: var(--font-secondary);
      }

      .BI-card-content {
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        // border-radius: 15px;
        padding: 20px;
        background-color: var(--containers);

        .BI-rowcontent {
          display: grid !important;
          grid-template-columns: 50% 50% !important;
        }
      }
    }
  }

  .validateusercomponent {
    .AI-maindata-outer {
      display: grid;
      grid-template-rows: repeat(8, 50px);
      width: 95%;
      margin: 0px auto;
      margin-top: 10px;

      // padding-top: 5%;
      .AI-rowcontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .AI-rowButton {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 1% 0% 1% 2%;
  }

  .verticle-tab {
    float: right;
    // border: 1px solid #ccc;
    // width: 15%;
  }

  .verticle-tabcontent {
    float: right;
    padding: 0px 8px;
    width: 85%;
    overflow: scroll;
  }

  // .account-deatails-grid {
  //     display: grid;
  //     grid-template-columns: repeat(1, 90%);
  //     grid-template-rows: repeat(1, 100px) !important;
  //     padding: 10px 170px;
  //     .AI-rowcontent {
  //         // display: grid;
  //         // grid-template-columns: 1fr 1fr 1fr 1fr;
  //         // .content {
  //         //     width: 100%;
  //         // }
  //         margin: 3%;
  //     }
  // }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.progress-timeline {
  text-align: center;
  // padding-top: 30%;
  box-shadow: var(--box-shadow-thin);
  transition: 0.3s;
  border-radius: 4px;
  background-color: var(--containers);
  // margin-top: 15px;
  // margin-left: 5px;
  padding: 0px;
  width: 95%;
  // margin-top: 70px;
  margin-top: 48px;
}

.progress-timeline:hover {
  box-shadow: var(--box-shadow-hovered);
}

.editProfilediv {
  // display: flex;
  // justify-content: flex-end;
  // margin-bottom: 10px;
  // // margin-right: 15.3%;
  // margin-right: 23%;
  display: grid;
  grid-template-columns: 86% 14%;
  padding-left: 40px;
}

.account-container {
  box-shadow: var(--box-shadow-thin);
  transition: 0.3s;
  padding: 5px;
  background-color: var(--containers);
  margin-left: 40px; // 15-Mar-2021 || Viplav T. || Change 20px to 40px
  border-radius: 4px;
}

.account-container:hover {
  box-shadow: var(--box-shadow-hovered);
}

.accountInfoReadmode {
  .AI-rowButton {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }
}

.Summary-card:hover {
  box-shadow: var(--box-shadow-hovered) !important;
}

.loaderdiv {
  display: flex;
  justify-content: center;
}

.Summary-card {
  box-shadow: var(--box-shadow-thin);
  transition: 0.3s;
  // border-radius: 15px;
  padding: 20px;
  background: var(--containers);
  margin-bottom: 24px;
  border-radius: 4px;
  margin: 0px 2px;

  .Summary-card-header {
    color: var(--label);
    // line-height: 80px;
    height: 50px;
    font-size: 22px;
    text-align: start;
    padding: 0% 1%;
    font-weight: normal;
    // border-top: 1px solid lightgrey;
    margin-top: 1.5%;
  }

  .Summary-card-content {
    // padding: 20px;
    .Summary-rowcontent {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      padding: 0.5% 1%;

      // grid-gap: 1% 10%;
      .content {
        width: 100%;
      }
    }
  }
}

//media queries
@media only screen and (max-width: 600px) {
  .VKYC-card-answer {
    display: grid;
    width: 100%;
    grid-template-columns: 40px 90%;
  }

  .validateusercomponent {
    display: grid;
    height: 100%;
    width: 85vw;

    .timeline-outer {
      position: relative;
      display: flex;
      align-items: flex-end;

      .stack-top {
        z-index: 9;
        margin: 0px;
      }

      .timeline {
        counter-reset: test 0;
        position: relative;
        width: 100%;
        padding: 0;
      }

      .timeline li {
        list-style: none;
        float: left;
        width: 25%;
        position: relative;
        text-align: center;
        font-size: 13px;
      }

      ul:nth-child(1) {
        color: #d4d4d4;
      }

      .timeline li:before {
        counter-increment: test;
        content: counter(test);
        width: 30px;
        height: 30px;
        border: 3px solid #d4d4d4;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 30px;
        margin: 0 auto 10px auto;
        background: #fff;
        color: #0000;
        transition: all ease-in-out 0.3s;
        // cursor: pointer;
      }

      .timeline li:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #d4d4d4;
        top: 15px;
        left: -50%;
        z-index: -999;
        transition: all ease-in-out 0.3s;
      }

      .timeline li:first-child:after {
        content: none;
      }

      .timeline li.active-tl {
        color: var(--label);
      }

      .timeline li.checked-tl {
        background: var(--label);
        border: 3px solid var(--label);
      }

      .timeline li.active-tl:before {
        background: var(--label);
        border: 3px solid var(--label);
        // color: #f1f1f100;
      }
    }

    .btnPortfolio {
      margin-right: 40px;
      float: right;
    }

    .chartArea {
      height: 265px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      // padding: 5% 0% 11.2% 5%;
      // margin-top: 31px;
    }

    .BI-maindata-outer {
      display: grid;
      grid-template-columns: 100% 0%;
      grid-template-rows: repeat(auto, 50px);

      // padding: 10px 20px !important;
      // grid-gap: 20px;
      // height: 550px;
      .portfoliocard {
        position: relative;
      }

      .verticle-tab {
        float: right;

        // border: 1px solid #ccc;
        // width: 15%;
        .dotunselected {
          height: 15px;
          width: 15px;
          background-color: #bbb;
          border-radius: 50%;
          display: flex;
          margin: 20%;
        }

        .dotselected {
          height: 15px;
          width: 15px;
          background-color: var(--green);
          color: white;
          border-radius: 50%;
          display: flex;
          margin: 20%;
        }
      }

      .verticle-tabcontent {
        float: right;
        width: -webkit-fill-available;
        overflow: scroll;

        .BI-card {
          .BI-card-header {
            font-size: 20px;
            width: 100%;
            padding: 20px 0px;
            letter-spacing: 1px;
            color: var(--headers);
            letter-spacing: 1.35px;
            text-align: start;
            font-variant: small-caps;
            font-family: var(--font-secondary);
          }

          .BI-card-content:hover {
            box-shadow: var(--box-shadow-hovered);
          }

          .BI-card-content {
            box-shadow: var(--box-shadow-thin);
            transition: 0.3s;
            // margin-left: 20px;
            // border-radius: 15px;
            padding: 20px;
            background-color: var(--containers);

            .BI-rowcontent {
              display: grid;
              grid-template-columns: 1fr 1fr;
              // padding: 0.5% 5%;
              grid-gap: 1% 5%;

              .content {
                width: 100%;
              }
            }

            .BI-rowbutton {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
            }
          }
        }

        .Summary-card {
          background-color: var(--white);
          box-shadow: var(--box-shadow-thin);
          transition: width 235ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
          border-radius: 4px;
          padding: 0px !important;
          margin-bottom: 20px;

          .Summary-card-header {
            color: var(--label);
            font-variant: small-caps;
            letter-spacing: 1.4px;
            height: 70px;
            font-size: 20px;
            text-align: start;
            padding: 0% 3%;

            .Summary-card-header-label {
              padding-top: 10px;
              padding-bottom: 5px;
            }

            // hr {
            //     margin-top: 5px;
            //     margin-bottom: 5px;
            // }
            // margin-top: 1.5%;
          }

          .Summary-card-content {
            // padding: 20px;
            .Summary-rowcontent {
              display: grid;
              grid-template-columns: 1fr 1.5fr;
              padding: 0.5% 3%;

              // grid-gap: 1% 10%;
              .content {
                width: 100%;
              }
            }
          }
        }
      }

      .verticle-tabcontent::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .verticle-tabcontent {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
      }
    }

    .CI-maindata-outer {
      display: grid;
      grid-template-columns: 80%;
      grid-template-rows: repeat(auto, 50px);

      // #portfolioInfo {
      //   margin-left: 5px;
      // }

      .portfoliocard {
        position: relative;
      }

      // padding: 10px 20px !important;
      // grid-gap: 20px;
      // height: 550px;
      .verticle-tab {
        float: right;

        // border: 1px solid #ccc;
        // width: 15%;
        .dotunselected {
          height: 15px;
          width: 15px;
          background-color: #bbb;
          border-radius: 50%;
          display: flex;
          margin: 20%;
        }

        .dotselected {
          height: 15px;
          width: 15px;
          background-color: var(--green);
          color: white;
          border-radius: 50%;
          display: flex;
          margin: 20%;
        }
      }

      .verticle-tabcontent {
        float: right;
        // padding: 0px 8px;
        // width: -webkit-fill-available;
        overflow: scroll;

        .CI-card {
          .CI-card-header {
            color: var(--label);
            // line-height: 80px;
            height: 60px;
            padding-top: 22px;
            font-size: 20px;
            text-align: start;
          }

          .CI-card-content {
            display: grid;
            grid-template-columns: 50% 45%;
            box-shadow: var(--box-shadow-thin);
            margin-right: 10px;
            transition: 0.3s;
            padding: 10px;
            background-color: var(--containers);
            border-radius: 5px;
            margin-left: 20px;
            overflow-x: scroll;

            .CI-rowcontent {
              display: grid;
              grid-template-columns: 1fr 1fr;
              // padding: 0.5% 5%;
              grid-gap: 1% 5%;
              padding: 5px;

              .content {
                width: 100%;
              }
            }

            .CI-rowbutton {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
            }
          }

          .CI-card-content:hover {
            box-shadow: var(--box-shadow-hovered);
          }
        }

        // ended by Chitra
        .Summary-card {
          box-shadow: var(--box-shadow-thin);
          transition: 0.3s;
          border-radius: 4px;
          padding: 0px !important;
          background: var(--containers);

          .Summary-card-header {
            color: var(--label);
            // line-height: 80px;
            height: 70px;
            font-size: 22px;
            text-align: start;
            padding: 0% 5%;
            font-weight: bold;
            // border-top: 1px solid lightgrey;
            // margin-top: 1.5%;
          }

          .Summary-card-content {
            // padding: 20px;
            .Summary-rowcontent {
              display: grid;
              grid-template-columns: 1fr 1.5fr;
              padding: 0.5% 5%;

              // grid-gap: 1% 10%;
              .content {
                width: 100%;
              }
            }
          }
        }
      }

      .verticle-tabcontent::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .verticle-tabcontent {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
      }
    }

    .BI-maindata-outer::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .BI-maindata-outer {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }

    .CI-maindata-outer::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .CI-maindata-outer {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }

    .AI-maindata-outer {
      display: grid;
      grid-template-rows: repeat(8, 50px);
      width: 40%;
      margin: 0px auto;
      padding-top: 10px;

      .AI-rowcontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .AI-rowButton {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
      }
    }

    .ACS-maindata-outer {
      display: grid;
      grid-template-rows: 20% 20% 20% 20% 20%;
      margin-top: 3%;

      .AI-rowcontent {
        display: flex;
        justify-content: center;
        // align-items: center;
        align-items: flex-end;
        margin: 1%;

        .emailID {
          color: var(--links);
          text-align: center !important;
          font-size: 17px;
          padding: 0;
        }
      }

      .textnewentry {
        font-size: 26px !important;
        color: var(--label);
        font-weight: 400;
      }
    }

    .CK-maindata-outer {
      display: flex;

      // margin-top: 40px;
      // overflow: scroll;
      .CK-questiondata {
        .CK-rowcontent {
          display: flex;
          justify-content: flex-start;
          grid-template-rows: auto;
          // margin-bottom: 10px;
        }

        .CK-rowoptions {
          min-height: 200px;
          margin-bottom: 5px;
          text-align: left;
          margin-left: 5px;
          margin-right: 5px;
        }

        .singleoption {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }

    .Summary-maindata-outer {
      display: flex;
      // grid-template-columns: 85% 15%;
      // grid-template-rows: repeat(auto, 50px);
      padding: 0% 8%;

      // grid-gap: 20px;
      .Summary-Section-Header {
        font-size: 35px;
      }

      .Summary-Key-value-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(auto, 50px);
        padding: 0% 8%;
        grid-gap: 20px;
      }
    }
  }
}

.chngPassword {
  margin-left: 150px !important;
  width: auto;
  // height: auto;
  padding: 0px 10px 0px 10px;
}

//AnujaD || DocUpload || Start
.custom-file-input::-webkit-file-upload-button {
  background-color: var(--btn-bg);
  border: var(--btn-bg);
  color: var(--btn-text);
  border-radius: 5px;
  text-align: center;
  height: 25px;
  width: 100px;
}

.btnGrid {
  display: grid;
  grid-template-columns: 20% 20% 60%;
}

.filegrid {
  display: grid;
  // align-items: baseline;
  grid-template-columns: 10% 40% 50%;
}

.gridEvent {
  display: grid;
}

//AnujaD || DocUpload || End

.loginCard {
  width: 430px !important;
  height: 290px !important;
  margin-left: 10px;
  display: grid;
}

.loginCardelement {
  display: grid;
  grid-template-columns: 90% 10%;
}

.show-password {
  position: relative;
  right: 40px;
  top: 8px;

  span {
    cursor: pointer;
  }
}

.loginPage {
  display: flex;
  align-items: center;
  padding-top: 50px;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  letter-spacing: 1px;

  .input-check-username {
    position: relative;

    .show-password {
      position: absolute;
      right: 8px;
      top: 8px;

      span {
        cursor: pointer;
      }
    }
  }

  .input-password {
    position: relative;

    .show-password {
      position: absolute;
      right: 8px;
      top: 8px;

      span {
        cursor: pointer;
      }
    }
  }

  .form-header {
    font-size: 20px;
  }

  .form-group {
    width: auto;
  }

  .override-btn-options {
    display: flex;
  }

  .footer {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    color: white;
  }

  .btn-login {
    background-color: var(--btn-bg) !important;
    border: none !important;
    color: var(--btn-text);
    text-align: center;
    font-size: 15px;
    cursor: pointer;
  }

  .btn-login:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--btn-hover-bg) !important;
    color: var(--btn-hover-text);
  }

  .login-form {
    margin: 0px 20px;
  }

  a {
    // color: var(--brown);
    // color: black;
    color: var(--black);
  }

  .login-options {
    position: relative;

    .remember-me {
      position: absolute;
      left: 0;
      font-size: 13px;
    }

    .forgot-password {
      position: absolute;
      right: 0;
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: 13px;
      color: var(--black);
    }
  }

  .register {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    padding: 10px;
    color: var(--black);
    // box-shadow: var(--box-shadow);
    font-size: 15px;
    border-radius: 5px;
  }

  .loginCard {
    width: 400px;
    height: 350px;
    text-align: center;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    background-color: var(--main-bg-color);
  }

  .login-card-header {
    position: absolute;
    top: -28px;
    background-color: #fff;
    // box-shadow: 2px 2px 2px 1px rgba(131, 131, 131, 0.6);
    padding: 10px;
    border-radius: 10px;
    left: 0px;
    width: 100px;
    z-index: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .username,
  .password {
    text-align: left !important;
  }

  .remember {
    background-color: var(--brown);
  }

  input[type="checkbox"] {
    visibility: hidden;
  }

  label {
    cursor: pointer;
  }

  input[type="checkbox"] + label:before {
    border: 1px solid var(--brown);
    content: "\00a0";
    display: inline-block;
    font: 13px/1em sans-serif;
    height: 16px;
    margin: 2px 0.25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
  }

  input[type="checkbox"]:checked + label:before {
    background: var(--brown);
    color: #fff;
    content: "\2713";
    text-align: center;
  }

  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  input[type="search"],
  input[type="date"],
  input[type="password"],
  button {
    // font-family: "Montserrat", sans-serif !important;
    border: none !important;
    border-bottom: var(--btn-border-bottom) !important;
    background: transparent !important;
    outline: none;
    padding-top: 0.275em;
    padding-bottom: 0.275em;
    width: 100%;
    /* min-width: 10em; */
    margin-right: 0.5em;
    border-radius: 0.2em;
    height: 35px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: right;
    margin-top: 0.1em;
    margin-bottom: 1em;
  }

  // input[type="text"]:focus:focus,
  // input[type="number"]:focus,
  // input[type="search"]:focus,
  // input[type="date"]:focus,
  // input[type="password"]:focus,
  // button:focus {
  //     box-shadow: 0 0 0 0.2rem var(--light-brown);
  // }
  label {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  input:hover {
    box-shadow: 0px 2px 7px rgba(136, 136, 136, 0.4);
  }

  .loader {
    img {
      height: 100px;
      width: 100px;
    }
  }

  .error-message {
    color: var(--red);
    margin: 0px 20px;
    font-size: 12px;
    font-weight: 500;
  }

  .success-message {
    color: var(--green);
    margin-top: 0px;
    font-size: 12px;
    font-weight: 500;
  }

  .login-header {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0px;
    }

    span {
      padding: 0px 5px;
    }
  }
}

.chartDiv {
  display: grid;
  grid-template-rows: 15% 85%;
  .portfolioActionbtn {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    flex-direction: row;
  }
  .chartArea {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .alignchart {
      display: flex;
      justify-content: center;
    }
  }
}

.closebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 25px;
  border-radius: 2px;
  font-size: 18px;
  color: var(--text);
  font-weight: 800;
  float: right;
  // margin-top: 7px;
}
