<div [ngClass]="{'mutualfundComponentrmw': isUserRM === true, 'mutualfundComponent': isUserRM === false}">
    <div class="fundname-row" *ngIf="isUserRM">
        <div class="middle">Customer</div>
        <div class="middle">
           <!-- Added by Mayuri D. | 07-Feb-2022 ... START.... -->
           <div *ngIf="isUserRM && !ShowCustName" class="middle"> 
            <app-common-customer-search (selectedCustomerValue)="selectedCustomerValue1($event)"></app-common-customer-search>
          </div>
            <!--(sendCustomerDetails)="getCustomerDetails($event)"-->

            <!-- <input type="text" [tabindex]=1 placeholder="Search" [(ngModel)]="selectedCustomer"
        (keydown.enter)="selectCustomer1($event); showSuggestions = false ;"
        (keydown.ArrowUp)="selectedCustomerIndex = cfs.moveUpSelection($event, selectedCustomerIndex)"
        (keydown.ArrowDown)="selectedCustomerIndex = cfs.moveDownSelection($event, selectedCustomerIndex)"
        (keypress)="showSuggestions = true ; " (keyup)="filterFun($event)">
      <div class="UnderlyingSearch " *ngIf="selectedCustomer && showSuggestions">
        <div id="CustomerNameList" class="SelectorBox" (clickOutside)="onClickedOutside($event)">
          <a #CustomerNamesList
            *ngFor="let customer of (customersOfRMArray | search: selectedCustomer: 'CustomerName'); let i = index"
            (keypress)="ChangeIndex($event)">
            <div *ngIf="customer" [attr.data-mf]="customer" (click)="selectCustomer(customer) ; "
              (keydown.enter)="selectCustomer(customer)" [ngClass]="{'HoverSuggestion': (i === selectedCustomerIndex)}">
              <span>{{ customer }}</span>
            </div>
          </a>
        </div>
      </div> -->
      <div *ngIf="ShowCustName && isUserRM" class="middle">
        <input type="text" disabled [(ngModel)]="SelectedCustomerName">
    </div>
<!-- Added by Mayuri D. | 07-Feb-2022 ... END.... -->
        </div>
    </div>

    <!-- <div class="fundname-row" *ngIf="!displaySearch">
        <div class="middle">Fund</div>
        <div class="middle"> -->

            <!-- <input type="text" [tabindex]=1 placeholder="Search" [(ngModel)]="mutualFund"
        (keydown.enter)="selectShare1($event); showSuggestions = false ;"
        (keydown.ArrowUp)="selectedMFIndex = cfs.moveUpSelection($event, selectedMFIndex)"
        (keydown.ArrowDown)="selectedMFIndex = cfs.moveDownSelection($event, selectedMFIndex)"
        (keypress)="showSuggestions = true ; " (keyup)="filterFun($event)">
      <div class="UnderlyingSearch " *ngIf="mutualFund && showSuggestions">
        <div id="FundNameList" class="SelectorBox" (clickOutside)="onClickedOutside($event)">
          <a #FundNameList *ngFor="let mf of (mfList | search: mutualFund:'FundDetails'); let i = index"
            (keypress)="ChangeIndex($event)">
            <div *ngIf="mf" [attr.data-mf]="mf" (click)="selectShare(mf) ; " (keydown.enter)="selectShare(mf)"
              [ngClass]="{'HoverSuggestion': (i === selectedMFIndex)}">
              <span>{{ mf }}</span>
            </div>
          </a>
        </div>
      </div> -->
      
            <!-- <input type="text" [tabindex]=1 placeholder="Search" [(ngModel)]="mutualFund"
                (keydown.enter)="selectShare1($event); showSuggestions = false ;"
                (keydown.ArrowUp)="selectedMFIndex = cfs.moveUpSelection($event, selectedMFIndex)"
                (keydown.ArrowDown)="selectedMFIndex = cfs.moveDownSelection($event, selectedMFIndex)"
                (keypress)="showSuggestions = true ; " (keyup)="filterFun($event)">

            <div class="UnderlyingSearch " *ngIf="mutualFund && showSuggestions">
                <div class="SelectorBox">
                    <a *ngFor="let mf of mfList; let i = index" (keypress)="ChangeIndex($event)">
                        <div *ngIf="mf" [attr.data-mf]="mf['FundDetails']" (click)="selectShare(mf['FundDetails']) ; "
                            (keydown.enter)="selectShare(mf)" [ngClass]="{'HoverSuggestion': (i === selectedMFIndex)}">
                            <span>{{mf['FundDetails']}}</span>
                        </div>
                    </a>
                </div>
            </div> -->
        <!-- </div> -->
    <!-- </div> -->

    <div class="gridInfo">
        <div class="funddetails">
            <div *ngIf="data['Name']" class="fundtitlerow">
                <span id="fundname" class="bondName">{{data['Name']}}</span>
                <span class="button btnSIP" (click)="clickSIP(data['ISIN'],data['Ccy'])">Start SIP</span>
            </div>
            <div *ngIf="data['Fund']">
                <span id="fundname" class="bondName">{{data['Fund']}}</span>
            </div>
            <div class="fundinfo" *ngIf="data['Manager']">
                <span id="fundManager" class="medium">{{data['Manager']}}</span>
                <span class="medium value-top">|</span>
                <span class="medium value-top"> {{data['Ccy']}} </span>
                <span class="medium value-top">|</span>
                <span class="fs12 heading"> Min. Investment </span>
                <span class="medium value-top">{{data['Min_Inv_Amt'] | number}}</span>
                <span class="medium value-top">|</span>
                <span class="fs12 heading"> Fund Code </span>
                <span class="medium value-top">{{data['Code']}}</span>
            </div>
        </div>
        <div class="funddetails " style="color: red;" *ngIf="data['Name']">{{msg}}
        </div>
    </div>
    <div class="param-cols">
        <div class="column1">
            <div class="fund-details">
                <div> Trade Parameters &nbsp;: :</div>
            </div>
            <div class="fundparams-row">
                <div class="middle">Application Type</div>
                <div class="middle">
                    <select [(ngModel)]="ApplicationType" (click)="ApplicationTypeChange($event)">
                        <option selected>Subscription
                        </option>
                        <option>Redemption
                        </option>
                    </select>
                </div>
            </div>
            <div class="fundparams-row">
                <div class="middle">NAV </div>
                <div class="middle">
                    <input type="text " class="right" disabled="disabled" (focus)="cfs.UnformatNumber($event)"
                        (blur)="cfs.FormatNumber($event)" value="{{data['BidNAV']| number:'1.6-6'}}"
                        (change)="nominal = cfs.NotionalChange($event);" (keypress)=" cfs.NotionalValidate($event)" />

                </div>
            </div>
            <div class="fundparams-row">
                <div class="middle">Notional</div>
                <div class="middle">
                    <input type="text" class="right" [disabled]="ApplicationType === 'Redemption'"
                        [(ngModel)]="notional" placeholder="Notional" maxlength="12" tabindex="2"
                        (onload)="unitCalculations(notional , data['BidNAV'])" (blur)="cfs.FormatNumber($event)"
                        (change)="notional = cfs.NotionalChange($event); unitCalculations(notional , data['BidNAV'])"
                        (focus)="cfs.UnformatNumber($event);cfs.SelectFullText($event);"
                        (keypress)=" cfs.NotionalValidate($event)">

                </div>
            </div>
            <div class="fundparams-row">
                <div class="middle">Units</div>
                <div class="middle">
                    <input type="text" class="right" [(ngModel)]="Units" [disabled]="ApplicationType === 'Subscription'"
                        (blur)="cfs.FormatNumber($event)"
                        (focus)="cfs.UnformatNumber($event);cfs.SelectFullText($event);"
                        (keypress)=" cfs.NotionalValidate($event)"
                        (change)="Units = cfs.NotionalChange($event); calculateNotional(data['BidNAV']);" />

                </div>
            </div>
            <!--Added by AlolikaG on 1st Feb 2022. Assigned by Parikshit K-->
            <div class="fundparams-row" *ngIf="ApplicationType === 'Subscription'">
                <div class="middle">Funding Mode</div>
                <div class="middle">
                    <select [(ngModel)]="FundMode" (change)="FundingModeChange(FundMode)">
                        <option *ngFor="let item of FundingModeData" (selected)="item.DATA_VALUE === FundMode"
                            [value]="item.DATA_VALUE">{{item.DATA_VALUE}}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="ApplicationType === 'Subscription'">
                <div class="fundparams-row" *ngIf="FundVal === 'PL' || FundVal === 'TL'">
                    <div class="middle">Loan Amount</div>
                    <div class="middle">
                        <input type="text" class="right" [(ngModel)]="LoanAmt" maxlength="12" tabindex="2"
                            (blur)="cfs.FormatNumber($event)" (change)="LoanAmt = cfs.NotionalChange($event);"
                            (focus)="cfs.UnformatNumber($event);cfs.SelectFullText($event);"
                            (keypress)=" cfs.NotionalValidate($event)" [disabled]="FundVal === 'TL'">
                    </div>
                </div>
            </div>


            <div class="fundparams-row" *ngIf="ApplicationType === 'SIP'">
                <div class="middle">No. Of Installments </div>
                <div class="middle">
                    <input type="text" class="right" [(ngModel)]="Installments" placeholder="No. of Installments"
                        maxlength="3" tabindex="2">

                </div>
            </div>
            <div class="fundparams-row" *ngIf="ApplicationType === 'SIP'">
                <div class="middle">Start Date</div>
                <div class="middle">
                    <input type="text" class="center" [(ngModel)]="startDate" disabled />

                </div>
            </div>
            <div *ngIf="this.moredetails !== 'More Details'">
                <div class="fundparams-row">
                    <div class="middle">Customer</div>
                    <!-- <div class="middle" *ngIf="!isUserRM">
                        <input type="text" [(ngModel)]="CustomerName" disabled placeholder="Customer" />
                      </div>
                      <div class="middle" *ngIf="isUserRM">
                        <input type="text" [(ngModel)]="CustName" disabled placeholder="Customer" />
                      </div> -->
                    <div class="middle">
                        <!-- Added by Mayuri D. | 07-Feb-2022 ... START.... -->
                        <input type="text" [(ngModel)]="CustomerName" disabled placeholder="Customer"
                            *ngIf="!ShowCustName" />
                        <input type="text" [(ngModel)]="SelectedCustomerName" disabled placeholder="Customer"
                            *ngIf="ShowCustName" />
                        <!-- Added by Mayuri D. | 07-Feb-2022 ... END.... -->
                    </div>
                </div>
                <div class="fundparams-row">
                    <div class="middle">Portfolio</div>
                    <div class="middle">
                        <select [(ngModel)]="portfolio" (change)="updatePortfolio()" [disabled]="!enablePortfolio">
                            <option *ngFor="let arr of portfolioList;" [value]="arr.FacDesc">{{arr.PortfolioName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column2">
            <div class="fund-details">
                <div> Product Information &nbsp;: : {{ExistingHoldings}}</div>
            </div>
            <div class="fundparams-row">
                <div class="middle">Rating</div>
                <div class="middle">
                    <input class="input-txt right" type="text" disabled="disabled" (focus)="cfs.UnformatNumber($event)"
                        (blur)="cfs.FormatNumber($event)" value="{{data['Rating']}}"
                        (change)="nominal = cfs.NotionalChange($event);" (keypress)=" cfs.NotionalValidate($event)" />

                </div>
            </div>
            <div class="fundparams-row">
                <div class="middle">Sector</div>
                <div class="middle">
                    <input type="text" disabled="disabled"
                        (focus)="cfs.UnformatNumber($event);cfs.SelectFullText($event);"
                        (blur)="cfs.FormatNumber($event)" value="{{data['Sector']}}"
                        (change)="nominal = cfs.NotionalChange($event);" (keypress)=" cfs.NotionalValidate($event)" />
                </div>
            </div>
            <div class="fundparams-row">
                <div class="middle">Annual Fees (%)</div>
                <div class="middle">
                    <input type="text" class="  right" disabled="disabled"
                        (focus)="cfs.UnformatNumber($event);cfs.SelectFullText($event);"
                        (blur)="cfs.FormatNumber($event)" value="{{data['AnnualFees']  | number:'1.2-2'}}"
                        (change)="nominal = cfs.NotionalChange($event);" (keypress)=" cfs.NotionalValidate($event)" />
                </div>
            </div>
            <div class="fundparams-row">
                <div class="middle"> {{FrontExitLoad}} (%) </div>
                <div class="middle">
                    <input type="text" class="right" (focus)="cfs.UnformatNumber($event);cfs.SelectFullText($event);"
                        (blur)="cfs.FormatNumber($event)" value="{{data['TrailerFees'] | number:'1.2-2'}}"
                        disabled="disabled" (change)="nominal = cfs.NotionalChange($event);"
                        (keypress)=" cfs.NotionalValidate($event)" />
                </div>
            </div>
            <div class="fundparams-row" *ngIf="FundMode === 'Fully Funded' && ApplicationType === 'Subscription'">
                <div class="middle"> Available Cash </div>
                <div class="middle">
                    <input type="text" class="right" [(ngModel)]="remainingBalance" maxlength="3" tabindex="2"
                        [disabled]="true" (blur)="cfs.FormatNumber(remainingBalance)"
                        (focus)="cfs.UnformatNumber(remainingBalance);cfs.SelectFullText(remainingBalance);">
                </div>
            </div>
            <div *ngIf="ApplicationType === 'Subscription'">
                <div class="fundparams-row" *ngIf="FundVal === 'PL' || FundVal === 'TL' ">
                    <div class="middle"> Available for Drawdown </div>
                    <div class="middle">
                        <input type="text" class="right" [(ngModel)]="Drawdown" maxlength="3" tabindex="2"
                            [disabled]="true" (blur)="cfs.FormatNumber($event)"
                            (focus)="cfs.UnformatNumber($event);cfs.SelectFullText($event);">
                    </div>
                </div>
            </div>
            <div *ngIf="ApplicationType === 'Subscription'">
                <div class="fundparams-row" *ngIf="FundVal === 'PL' || FundVal === 'TL'">
                    <div class="middle"> Loan Tenor </div>
                    <div class="middle">
                        <select [(ngModel)]="LoanTenor">
                            <option *ngFor="let item of TenorData" (selected)="item.DATA_VALUE === LoanTenor"
                                [value]="item.DATA_VALUE">{{item.DATA_VALUE}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="fundparams-row" *ngIf="ApplicationType === 'SIP'">
                <div class="middle">Frequency</div>
                <div class="middle">
                    <select [(ngModel)]="Frequency">
                        <option *ngFor="let item of FrequencyData">{{item.DATA_VALUE}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="fundparams-row" *ngIf="ApplicationType === 'SIP'">
                <div class="middle"> Last Installment Date </div>
                <div class="middle">
                    <input type="text" class="center" [(ngModel)]="lastDate" disabled />
                </div>
            </div>
            <div *ngIf="this.moredetails !== 'More Details'">
                <div class="fundparams-row">
                    <div class="middle">Currency</div>
                    <div class="middle">
                        <!-- <select [(ngModel)]="this.data.Ccy" disabled>
              <option *ngFor="let arr of CurrencyList;">{{arr}}
              </option>

                </select> -->
                        <input type="text" class="left" [(ngModel)]="this.data.Ccy" disabled />
                    </div>
                </div>
                <div class="fundparams-row">
                    <div class="middle">Account Number</div>
                    <div class="middle">
                        <select class="right paddingR_30px" [(ngModel)]="Account_Number" (change)="cashBalance()">
                            <!-- [disabled]="isUserRM === false"-->
                            <option *ngFor="let arr of accountList;">{{arr.Param1}}
                            </option>
                        </select>
                        <!-- <input type="text " class="right" disabled="disabled" [(ngModel)]="Account_Number"  /> -->

                    </div>
                </div>

                <!--Added by AlolikaG on 4th Feb 2022. Assigned by Parikshit K--START-->
                <div class="fundparams-row" *ngIf="FundVal === 'PL' && ApplicationType === 'Subscription'">
                    <div class="middle"> Available Cash </div>
                    <div class="middle">
                        <input type="text" class="right" [(ngModel)]="remainingBalance" maxlength="3" tabindex="2"
                            [disabled]="true" (blur)="cfs.FormatNumber(remainingBalance)"
                            (focus)="cfs.UnformatNumber(remainingBalance);cfs.SelectFullText(remainingBalance);">
                    </div>
                </div>
                <!--Added by AlolikaG on 4th Feb 2022. Assigned by Parikshit K--END-->


            </div>
            <!--Added by AlolikaG on 7th Feb 2022. Assigned by Parikshit K--START-->
            <div class="fundparams-row">
                <div class="middle"> Check Suitability </div>
                <div class="middle">
                    <label class="switch" style="margin-top: 5px;">
                        <input type="checkbox" [(ngModel)]="checkSuitability">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <!--Added by AlolikaG on 7th Feb 2022. Assigned by Parikshit K--END-->
        </div>
    </div>

    <div class="fund-button-row">
        <div class="details right" style="justify-content: end !important;">

            <div class="link" (click)="moredetailsCheck()"> <u>
                    {{moredetails}}</u></div>
            <div>
                <button class="button btn" value="Buy" (click)="loadflag=true; subscribed(notional); "
                    tabindex="3">Submit</button>
            </div>


        </div>
        <div class="details right">
            <div>
                <button class="button  btn" (click)=" clearBtn('subscribe');" tabindex="4">Clear</button>
            </div>
            <div [ngStyle]="{'color':note_Master_Id===''?'var(--disabled-text)':'var(--links)', 'pointer-event': note_Master_Id===''?'none':'initial'}"
                class="link" (click)="openSuitablityPopup()"> <u>
                    View Suitability Check</u></div>
        </div>

    </div>
    <div class="fund-message-row">
        <div *ngIf="loadflag">
            <img [src]="isProd?'assets/loading_dots.gif':'../../assets/loading_dots.gif'" height="100px" width="100px">
        </div>
        <div *ngIf="!loadflag">
            {{successMsg}}
        </div>
    </div>

</div>
<div [ngClass]="{'overlay':popUpflag}">
    <div class="popuptab1 " *ngIf="popUpflag">
        <div class="content-header" *ngIf="popUpflag" [ngClass]="{'maincontainer-opacity':!popUpflag}">
            <div class="content-header-name">
                <span>Customer {{CustomerName}}|{{CustomerID}}</span>
            </div>
            <div class="closebtn" (click)="showdetailsPopUp(0)">X</div>
        </div>
        <div class="content">
            <div class="gridclass">
                <span class="link">Target Asset Allocation</span>
                <button class="button  btn">Apply</button>
            </div>

            <div class="content-container">
                <table style="width: 100%;">
                    <thead>
                        <tr class="tableheadGrid">
                            <th class="minwidth600">Parameters</th>
                            <th class="maxwidth150 display" style="padding-left: 40px;">
                                <input type="checkbox" value="CIF A" />
                                <span style="    padding-left: 10px;">CIF A</span>
                            </th>
                            <th class="maxwidth120">Eligible Y/N</th>
                            <th class="minwidth450">Failed Reason</th>
                            <th class="maxwidth100">Ref.</th>
                            <th class="maxwidth100 display">
                                <input type="checkbox" value="CIF A" />
                                <span style="    padding-left: 10px;">Override</span>
                            </th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr class="tableGrid" *ngFor="let item of finalSuitabilityData">
                            <td class="minwidth600">{{item.Parameter}}</td>
                            <td class="maxwidth160"> <input type="text" disabled value={{item.CIF}}></td>
                            <td class="maxwidth120">{{item.EligibleYN}}</td>
                            <td class="minwidth450">{{item.Reason}}</td>
                            <td class="maxwidth100">{{item.Ref}}</td>
                            <td class="maxwidth120" style="    padding-left: 40px;"><input type="checkbox"
                                    [disabled]="item.Override" value="" /></td>
                        </tr>
                        <!-- <tr class="tableGrid">
              <td class="minwidth600">Account Currency</td>
              <td class="maxwidth160"><input type="text" disabled value="USD"/></td>
              <td class="maxwidth120"><input type="text" disabled value="Y"/></td>
              <td class="minwidth450"></td>
              <td class="maxwidth100">Ref:USD</td>
              <td class="maxwidth120"><input type="checkbox" disabled value=""/></td>
            </tr>
            <tr class="tableGrid">
              <td class="minwidth600">Customer Age Cap</td>
              <td class="maxwidth160"><input type="text" disabled value="60"/></td>
              <td class="maxwidth120"><input type="text" disabled value="N"/></td>
              <td class="minwidth450">Customer Age is greater than 55</td>
              <td class="maxwidth100">Ref:55</td>
              <td class="maxwidth120"><input type="checkbox"  value=""/></td>
            </tr> -->
                    </tbody>

                </table>



            </div>

        </div>

    </div>
</div>
<!-- Added by Rohit T. | 03-Feb-2021 -->
<div [ngClass]="{'overlay':showSuitabilityPopup}">
    <div class="popuptab1 suitability-overlay" *ngIf="showSuitabilityPopup">
        <div class="content-header" *ngIf="showSuitabilityPopup"
            [ngClass]="{'maincontainer-opacity':!showSuitabilityPopup}">
            <div class="content-header-name">
                <span>Suitability Check</span>
            </div>
            <app-svg-icons [icon]="'close-icon'" class="closebtn" [width]="'32'" [height]="'32'"
                (click)="closeSuitablityPopup()"></app-svg-icons>
        </div>
        <app-suitability [NoteMasterId]="note_Master_Id"></app-suitability>
    </div>
</div>
<!-- Ended by Rohit T. | 03-Feb-2021 -->