<div class="dashboard-container" id="dashboard">
  <div class="page-controls">
    <label class="page-header" style="height: fit-content;">{{Welcome | translate}} {{username}}</label>
    <button class="Save-layout-btn"  (click)="SaveDashboardTile()">
      <!-- Save-layout-btn -->
      <app-svg-icons [icon]="'Save-layout-btn'" [width]="'35'" [height]="'37'" [title]="'Save Layout'">
      </app-svg-icons>
      <!-- Save Layout -->
    </button>
  </div>
  <div class="cards-container" cdkDropListGroup>
    <div id="column1">
      <div cdkDropList #column1List="cdkDropList" [cdkDropListData]="column[0]"
        [cdkDropListConnectedTo]="[column2List, column3List, column4List]" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let card of column[0]">
          <div *ngIf="card && card.display" class="cards-item" cdkDrag [cdkDragDisabled]="card.disabled">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <ng-container [ngSwitch]="card.category">
              <ng-template [ngSwitchCase]="'EQ'">
                <app-tile-new (showCardEvent)="displayCard($event)" [hiddenCards]="hiddenCards" [svg]="card.svg"
                  (closeCardEvent)="closeCard($event, 0)" [selectedSegment]="0" [productsChartData]="EQProductData "
                  [underlyingsChartData]="EQUnderlyingData" [tenorsChartData]="EQTenorData" [card]="card"
                  cdkDragHandle>
                </app-tile-new>
              </ng-template>
             
              <ng-template ngSwitchDefault>
                <app-tile-new (showCardEvent)="displayCard($event)" [hiddenCards]="hiddenCards" [svg]="card.svg"
                  (closeCardEvent)="closeCard($event, 0)" [card]="card" cdkDragHandle></app-tile-new>
              </ng-template>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>  
    <div id="column1">
      <div cdkDropList #column2List="cdkDropList" [cdkDropListData]="column[1]"
        [cdkDropListConnectedTo]="[column1List, column3List, column4List]" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let card of column[1]">
          <div *ngIf="card && card.display" class="cards-item" cdkDrag [cdkDragDisabled]="card.disabled">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <ng-container [ngSwitch]="card.category">
              <ng-template [ngSwitchCase]="'EQ'">
                <app-tile-new (showCardEvent)="displayCard($event)" [hiddenCards]="hiddenCards" [svg]="card.svg"
                  (closeCardEvent)="closeCard($event, 1)" [selectedSegment]="0" [productsChartData]="EQProductData "
                  [underlyingsChartData]="EQUnderlyingData" [tenorsChartData]="EQTenorData" [card]="card"
                  cdkDragHandle></app-tile-new>
              </ng-template>
            
              <ng-template ngSwitchDefault>
                <app-tile-new (showCardEvent)="displayCard($event)" [hiddenCards]="hiddenCards" [svg]="card.svg"
                [productsChartData]="EQProductData" (closeCardEvent)="closeCard($event, 1)" [card]="card" cdkDragHandle></app-tile-new>
              </ng-template>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div id="column1">
      <div cdkDropList #column3List="cdkDropList" [cdkDropListData]="column[2]"
        [cdkDropListConnectedTo]="[column2List, column1List, column4List]" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let card of column[2]">
          <div *ngIf="card && card.display " class="cards-item" cdkDrag [cdkDragDisabled]="card.disabled">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <ng-container [ngSwitch]="card.category">
              <ng-template [ngSwitchCase]="'EQ'">
                <app-tile-new (showCardEvent)="displayCard($event)" [hiddenCards]="hiddenCards" [svg]="card.svg"
                  (closeCardEvent)="closeCard($event, 2)" [selectedSegment]="0" [productsChartData]="EQProductData "
                  [underlyingsChartData]="EQUnderlyingData" [tenorsChartData]="EQTenorData" [card]="card"
                  cdkDragHandle></app-tile-new>
              </ng-template>
          
              <ng-template ngSwitchDefault>
                <app-tile-new (showCardEvent)="displayCard($event)" [hiddenCards]="hiddenCards" [svg]="card.svg"
                [productsChartData]="EQProductData" (closeCardEvent)="closeCard($event, 2)" [card]="card" cdkDragHandle></app-tile-new>
              </ng-template>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div id="column1">
      <div cdkDropList #column4List="cdkDropList" [cdkDropListData]="column[3]"
        [cdkDropListConnectedTo]="[column2List,column3List,column1List]" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let card of column[3]">
          <div *ngIf="card && card.display" class="cards-item" cdkDrag [cdkDragDisabled]="card.disabled">

            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <ng-container [ngSwitch]="card.category">
              <ng-template [ngSwitchCase]="'EQ'">
                <app-tile-new (showCardEvent)="displayCard($event)" [hiddenCards]="hiddenCards" [svg]="card.svg"
                  (closeCardEvent)="closeCard($event, 3)" [selectedSegment]="0" [productsChartData]="EQProductData "
                  [underlyingsChartData]="EQUnderlyingData" [tenorsChartData]="EQTenorData" [card]="card"
                  cdkDragHandle></app-tile-new>
              </ng-template>
        
              <ng-template ngSwitchDefault>
                <app-tile-new (showCardEvent)="displayCard($event)" [hiddenCards]="hiddenCards"  [svg]="card.svg"
                [productsChartData]="EQProductData"  (closeCardEvent)="closeCard($event, 3)" [card]="card" cdkDragHandle></app-tile-new>
              </ng-template>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
   
  </div>
</div>