<div id="VerticalSubMulti" *ngIf="commonfunctions.getLayout()">
    <!-- sticky-col first-col -->
    <div class="deleteCol submultiDiv" *ngIf="ProductName!=='CreditTranche'" (click)="deleteRow();" style="text-align: center !important;">
        <!-- <img src="{{asseturl}}delete.png" width="30px" style="filter: invert(50%);cursor: pointer;margin: auto;" title="Delete"> -->
        <app-svg-icons [icon]="'delete'" [width]="'20'" [height]="'20'">
        </app-svg-icons>
    </div>
    <!-- deleteCol sticky-col first-col -->
    <div class="deleteCol submultiDiv" *ngIf="ProductName==='CreditTranche'" (click)="deleteCreditRow();" style="text-align: center !important;">
        <!-- <img src="{{asseturl}}delete.png" width="30px" style="filter: invert(50%);cursor: pointer;margin: auto;" title="Delete"> -->
        <app-svg-icons [icon]="'delete'" [width]="'20'" [height]="'20'">
        </app-svg-icons>
    </div>


    <!-- sticky-col second-col -->
    <!-- RESULT -->


    <!-- <div class="submultiDiv" style="height: 170px; display: block;"> -->
    <div class="submultiDiv" style="height: 150px; display: block; position: relative; padding: 15px 5px">
        <!-- <div class="verticalTopCorner" [matMenuTriggerFor]="menu" #menuTrigger *ngIf="this.AllPrices.length > 0" -->
        <div class="verticalTopCorner" (click)="displaySortedLpPopup()" *ngIf="this.sortedAllPrices.length > 0" style="cursor: pointer; position: absolute; float: right;" id="menucontainer">
            <!-- {{this.AllPrices.length}} -->
            {{this.sortedAllPrices.length}}

            <div class="lp-list-popup" *ngIf="showSortedLpPopup">
                <div style="width: max-content; max-height: 130px; overflow-y: auto;">
                    <div class="ddlitem" *ngFor="let s of sortedAllPrices;let i=index;">
                        <span class="multiReplyList">
              {{ s.Price === 'Rejected' ? s.Price :
              s.Price === '' ? '-' : s.Price | number:'1.2-2'}} {{ s.Price !== '' && s.Price !== 'Rejected' ? '%' :
              ''}}
            </span> &nbsp; / &nbsp;
                        <span style="color: grey;font-size: 14px;">{{s.lp}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="verticalTopCorner" (click)="displayToggleSortedLpPopup()" *ngIf="this.togglesortedAllPrices.length > 0" style="cursor: pointer; position: absolute; float: right;">
            <!-- {{this.AllPrices.length}}</div> -->
            {{this.togglesortedAllPrices.length}}

            <div class="lp-list-popup" id="menucontainer" *ngIf="showToggleSortedLpPopup">
                <div style="width: max-content; max-height: 130px; overflow-y: auto;">
                    <div class="ddlitem" *ngFor="let s of togglesortedAllPrices;let i=index;">
                        <span class="multiReplyList">
              {{ s.Price === 'Rejected' ? s.Price :
              s.Price === '' ? '-' : s.Price | number:'1.2-2'}} {{ s.Price !== '' && s.Price !== 'Rejected' ? '%' :
              ''}}
            </span> &nbsp; / &nbsp;
                        <span style="color: grey;font-size: 14px;">{{s.lp}}</span>
                    </div>
                </div>
            </div>

        </div>


        <!-- <mat-menu #menu="matMenu">
      <div>
        <div class="ddlitem" *ngFor="let s of sortedAllPrices;let i=index;">
          <span class="multiReplyList">
            {{ s.Price === 'Rejected' ? s.Price :
            s.Price === '' ? '-' : s.Price | number:'1.2-2'}} {{ s.Price !== '' && s.Price !== 'Rejected' ? '%' : ''}}
          </span>
          &nbsp; / &nbsp;
          <span style="color: grey;font-size: 14px;">{{s.lp}}</span>
        </div>
      </div>
    </mat-menu> -->
        <!-- <mat-menu #menuToggle="matMenu">
      <div>
        <div class="ddlitem" *ngFor="let s of togglesortedAllPrices;let i=index;">
          <span class="multiReplyList">
            {{ s.Price === 'Rejected' ? s.Price :
            s.Price === '' ? '-' : s.Price | number:'1.2-2'}} {{ s.Price !== '' && s.Price !== 'Rejected' ? '%' : ''}}
          </span>
          &nbsp; / &nbsp;
          <span style="color: grey;font-size: 14px;">{{s.lp}}</span>
        </div>
      </div>
    </mat-menu> -->
        <img src="{{asseturl}}loading_dots.gif" alt="" width="70px" style="margin-top: -5px;margin: auto;" *ngIf="loadflag">
        <span [ngClass]="this.togglesortedAllPrices[0].Price === 'Rejected' ? 'multiRejectMsg' : 'multiReply'" *ngIf="this.togglesortedAllPrices.length > 0 ">
      <span style="color: var(--header);font-size: 15px;font-family:var(--font-family)">{{ this.togglesortedAllPrices[0].lp }}</span>  {{ this.togglesortedAllPrices[0].Price === 'Rejected' ? this.togglesortedAllPrices[0].Price : this.togglesortedAllPrices[0].Price | number:'1.2-2'}}
        </span>

        <span [ngClass]="this.sortedAllPrices[0].Price === 'Rejected' ? 'multiRejectMsg' : 'multiReply'" *ngIf="this.sortedAllPrices.length > 0 ">
      <span style="color: var(--header);font-size: 15px;font-family:var(--font-family)">{{ this.sortedAllPrices[0].lp }}</span>  {{ this.sortedAllPrices[0].Price === 'Rejected' ? this.sortedAllPrices[0].Price : this.sortedAllPrices[0].Price | number:'1.2-2'}}
        </span>
        <!-- <span *ngIf="timerinSec >= 0" style="color: #4180c3;font-weight: 500;">{{timerinSec}}</span>
      </div> -->

        <h6 class="multiRejectMsg" *ngIf="timeoutMsg!=='' && !this.sortedAllPrices.length && !this.togglesortedAllPrices.length">
            {{timeoutMsg}}
        </h6>
        <!-- <h6 *ngIf="rfqID" style="white-space: nowrap;">
      RFQs generated.
     
    </h6> -->
        <!-- : {{rfqID}} -->
        <!-- <h6 style="white-space: nowrap;" *ngIf="this.sortedAllPrices.length > 0"> RFQ ID: {{this.sortedAllPrices[0].NoteMasterID}} </h6 > -->
        <h6 style="white-space: nowrap;" *ngIf="noteMasterID && noteMasterID.length > 0"> RFQ ID {{this.noteMasterID}}
        </h6>
        <!-- <h6 *ngIf="timerinSec >= 0" style="color: #4180c3;">
        {{timerinSec}}
      </h6> -->
        <h6 *ngIf="orderID" style="white-space: nowrap;">
            Cpty Ref {{orderID}}
        </h6>
        <ng-container *ngIf="TSFlag;  then shwViewTS; else shwReqTS">
        </ng-container>
        <ng-template #shwReqTS>
          <!-- Changed by Amogh K | 20apr2022 | request TS config check | assigned by pranav D -->
            <a class="TSlink" *ngIf="(ProductName !== 'Accumulator' && ProductName !== 'Decumulator') && this.sortedAllPrices.length > 0 && this.sortedAllPrices[0].Price !== 'Rejected' && timeoutMsg === '' 
              &&(EQ_Show_Termsheet_Button === 'YES' || EQ_Show_Termsheet_Button === 'Y' || EQ_Show_Termsheet_Button === 'Yes')&& !TSFlag && reqSuccessMsg===''" (click)="RequestTermsheet()" routerLinkActive="active-link">Request TS
      </a>
            <!-- Added by Suvarna P | 28Apr2022 | request TS button when toggle between Horizontal/Vertical layout || assigned by pranav D -->
            <a class="TSlink" *ngIf="(ProductName !== 'Accumulator' && ProductName !== 'Decumulator') && this.togglesortedAllPrices.length > 0 && this.togglesortedAllPrices[0].Price !== 'Rejected' && timeoutMsg === '' 
              &&(EQ_Show_Termsheet_Button === 'YES' || EQ_Show_Termsheet_Button === 'Y' || EQ_Show_Termsheet_Button === 'Yes')&& !TSFlag && reqSuccessMsg===''" (click)="RequestTermsheet()" routerLinkActive="active-link">Request TS
            </a>
            <span *ngIf="reqSuccessMsg!=='' && ProductName !== 'Accumulator' && ProductName !== 'Decumulator'">{{reqSuccessMsg}}</span>
            <!-- Changed by Amogh K | 20apr2022 | request TS config check | assigned by pranav D -->
            <a class="TSlink" *ngIf="(ProductName === 'Accumulator' || ProductName === 'Decumulator') && this.sortedAllPrices.length > 0 && this.sortedAllPrices[0].Price !== 'Rejected' && timeoutMsg === '' 
              &&(EQ_Show_Termsheet_Button === 'YES' || EQ_Show_Termsheet_Button === 'Y' || EQ_Show_Termsheet_Button === 'Yes')&& !TSFlag && reqSuccessMsg===''" (click)="GenerateDocument()" routerLinkActive="active-link">Request TS
            </a>
            <!-- Added by Suvarna P | 28Apr2022 | request TS button when toggle between Horizontal/Vertical layout || assigned by pranav D -->
            <a class="TSlink" *ngIf="(ProductName === 'Accumulator' || ProductName === 'Decumulator') && this.togglesortedAllPrices.length > 0 && this.togglesortedAllPrices[0].Price !== 'Rejected' && timeoutMsg === '' 
              &&(EQ_Show_Termsheet_Button === 'YES' || EQ_Show_Termsheet_Button === 'Y' || EQ_Show_Termsheet_Button === 'Yes')&& !TSFlag && reqSuccessMsg===''" (click)="GenerateDocument()" routerLinkActive="active-link">Request TS
            </a>
               <span *ngIf="reqSuccessMsg!=='' && ProductName === 'Accumulator' && ProductName === 'Decumulator'">{{reqSuccessMsg}}</span>
        </ng-template>

        <br *ngIf="ProductName !== 'Accumulator' && ProductName !== 'Decumulator'" />
        <ng-container *ngIf="KIDFlag;  then shwViewKID; else shwReqKID">
        </ng-container>
        <ng-template #shwReqKID>
          <!-- Changed by Amogh K | 21apr2022 | request KID config check | assigned by pranav D -->
            <a class="TSlink" *ngIf="this.sortedAllPrices.length > 0 && this.sortedAllPrices[0].Price !== 'Rejected' && timeoutMsg === '' 
         && (EQ_Show_KID_Button === 'YES' || EQ_Show_KID_Button === 'Y' || EQ_Show_KID_Button === 'Yes')&& !KIDFlag && reqKIDSuccessMsg==='' && ProductName !== 'Accumulator' && ProductName !== 'Decumulator'" (click)="RequestKID()" routerLinkActive="active-link">Request KID
      </a>
            <span *ngIf="reqKIDSuccessMsg!=='' && ProductName !== 'Accumulator' && ProductName !== 'Decumulator'">{{reqKIDSuccessMsg}}</span>
        </ng-template>

        <br />
        <ng-template #shwViewTS>
            <a class="TSlink" *ngIf="TSFlag" (click)="ViewTermsheet() && ProductName !== 'Accumulator' && ProductName !== 'Decumulator'" routerLinkActive="active-link">View TS
      </a>
        </ng-template>

        <br *ngIf="TSFlag && ProductName !== 'Accumulator' && ProductName !== 'Decumulator'" />
        <ng-template #shwViewKID>
            <a class="TSlink" *ngIf="KIDFlag && ProductName !== 'Accumulator' && ProductName !== 'Decumulator'" (click)="ViewKID()" routerLinkActive="active-link">View KID
      </a>
        </ng-template>
        <div>
            <!-- [ngStyle]="{'margin-left': timerinSec > 0 ? '2em' : ''}" -->
            <a class="TSlink" *ngIf="this.sortedAllPrices.length > 0 && quoteEmailSuccessMsg == ''" (click)="emailQuote(sortedAllPrices[0].rfq)"> Mail best Quote </a>
            <a class="TSlink" *ngIf="this.togglesortedAllPrices.length > 0 && quoteEmailSuccessMsg == ''" (click)="emailQuote(togglesortedAllPrices[0].rfq)"> Mail best Quote </a>
            <span *ngIf="quoteEmailSuccessMsg!==''">{{quoteEmailSuccessMsg}}</span>
        </div>
        <div class="verticalBottomCorner" *ngIf="timerinSec > 0">
            <!--  style="color: #4180c3;" -->
            {{this.timerinSec}}
        </div>

    </div>

    <!-- Participation Type -->
    <div class="submultiDiv" *ngIf="ProductName==='Participation'">
        <select [(ngModel)]="participationType" (change)="onchangeProduct()">
      <option value="Twin Win">Twin Win
      </option>
      <option value="Booster">Booster
      </option>
      <option value="Guaranteed Capital">
        Guarantd
        Capital
      </option>
    </select>
    </div>

    <!-- UNDERLYING  -->
    <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche'">
        <input type="text" placeholder="Please Enter Underlying" value="{{ShareName}}" class="longText" style="text-align: left;" [(ngModel)]="ShareName" maxlength="10" (keypress)="ChangeIndex($event); showSuggestions = true" (keydown.enter)="selectShare($event); flag=false;"
            (keydown.backspace)="backKeyPress($event)" (keydown.delete)="backKeyPress($event)" (keydown.tab)="setFocus();flag=false;" (keydown.ArrowUp)="selectedBIndex = commonfunctions.moveUpSelection1($event, selectedBIndex)" (keydown.ArrowDown)="selectedBIndex = commonfunctions.moveDownSelection1($event, selectedBIndex)"
            id="txtShare{{ComponentIndex}}" tabindex="1" [disabled]="enabledisablefields('Underlyings')"/>

    </div>
    <!-- Selector Box  -->
    <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche'" style="display: flow-root;height: 0;">
        <div class="SelectorBox" *ngIf="flag && showSuggestions" (clickOutside)="flag=false;">
            <a *ngFor="let share of (shares | searchUnderlying: ShareName); let i = index" (keypress)="ChangeIndex($event)" (keydown.enter)="selectShare($event)">
              <!-- HSBCECCLI-3 : Bulk Pricer - Underlying data discrepancy on enter and click action -->
                <div *ngIf="share" [attr.data-share]="share.Code" (click)="showUnderlying($event,share)" [ngClass]="{HoverSuggestion: i === selectedBIndex}">
                    <span>{{ share.LongName }}</span>
                </div>
            </a>
        </div>

    </div>
    <!-- Share Basket  -->
    <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche'" style="height: 60px;display: block;">
        <a *ngFor="let Selectedshare of ShareBasket; let rowIndex = index;">
            <button class="sharebasket" style="padding-right: 0 !important;" (click)="onclickShareBasket(Selectedshare)">
        {{Selectedshare.BloombergCode}} &nbsp;
        <img src="{{asseturl}}clear.png" width="20px" style="float: right;height: 20px;margin: auto;" (click)="removeShare(rowIndex);">
      </button>
        </a>
    </div>

    <ng-container *ngIf="(ProductName!=='Accumulator' && ProductName!=='Decumulator');  then oldProd; else AccDecProd">
    </ng-container>

    <ng-template #oldProd>
        <!-- CREDIT - Index Tranche  -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <select id="indexTranche{{ComponentIndex}}" [(ngModel)]="indexTranche" (change)="this.creditreset();changeIndexTranche()">
        <option value=""></option>
        <option *ngFor="let arr of indexTrancheArr" [value]="arr.LongName.split('-')[1]">
          {{ arr.LongName.split('-')[1] }}</option>
      </select>
        </div>

        <!-- format  -->
        <div class="submultiDiv">
          <!-- set focusable element || PriyaL || 28Apr2022 || Assigned by Pranav D  -->
            <select #focusable [(ngModel)]="format" (change)="formatChange()">
        <!-- <option value="Note">Note</option>
      <option value="Swap">Swap</option>
      <option value="BonoJ" *ngIf="ProductName!=='CreditTranche'">Bono J</option>
      <option value="Warrant" *ngIf="ProductName!=='CreditTranche'">Warrant</option>
      <option value="Option" *ngIf="ProductName === 'ReverseConvertible' || ProductName === 'Participation'">Option
      </option> -->
        <ng-container *ngFor="let f of mappedformatlist">
          <option *ngIf="f !== 'BonoJ' && f !== 'Warrant' && f !== 'Note'" value="{{f}}">{{f}}</option>
          <!-- <option *ngIf="f === 'Note'" value="{{f}}">Security</option> -->
          <option *ngIf="f === 'Note'" value="{{f}}">Note</option>
        </ng-container>
      </select>
        </div>

        <!-- solve for  -->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche'">
            <select [(ngModel)]="SolveForvalue" (change)="setSolveFor($event)">
        <option value="RebateCoupon" *ngIf="ProductName==='AutocallablePhoenix'">
          Autocall Coupon</option>
        <option value="KI"
          *ngIf="barrierType !== 'None' && (ProductName==='AutocallablePhoenix' || ProductName==='ReverseConvertible')">
          Barrier Level(%)</option>
        <option value="KO" *ngIf="ProductName==='AutocallablePhoenix'">
          Autocall Trigger</option>
        <option value="Coupon" *ngIf="cpnType !== 'No Coupon' && format!=='Option' && ProductName!=='Participation'">
          Coupon
          (%)
        </option>
        <option value="CouponBarrier"
          *ngIf="cpnType !== 'No Coupon' && cpnType !== 'Fixed Coupon' && format!=='Option' && ProductName!=='CreditTranche' && ProductName!=='Participation'">
          Coupon Trigger</option>
        <option value="IBPrice" *ngIf="ProductName!=='CreditTranche'">Price
        </option>

        <option value="Strike" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation'">
          Strike (%)
        </option>

        <option value="FundingRate" *ngIf="this.format === 'Swap' && ProductName!=='Participation'">Rate/Spread
          (%)</option>
      </select>
        </div>

        <!-- Credit solve for  -->
        <div class="submultiDiv" *ngIf="ProductName ==='CreditTranche'">
            <select [(ngModel)]="creditSolveFor" (change)="setCreditSolveFor($event)">
        <option value="Coupon">Coupon</option>
        <option value="Reoffer">Reoffer</option>
      </select>
        </div>

        <!-- Price / Issue Price -->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche'">
            <input type="text" [(ngModel)]="IBPrice" id="txtIBPrice{{ComponentIndex}}" maxlength="10" [disabled]="this.SolveForvalue === 'IBPrice' " (blur)="IBPricechange();this.IBPrice = commonfunctions.setDecimal($event)" (keypress)="(format === 'Swap' || format === 'Option') ? commonfunctions.InputNegativeNumber($event) :commonfunctions.InputNumber($event)"
            />

        </div>

        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche'">
            <!-- (keypress)="commonfunction.InputNumber($event)" -->
            <input type="text" [(ngModel)]="issuePrice" *ngIf="ProductName!=='CreditTranche'" (blur)="this.issuePrice = commonfunctions.setDecimal($event); IssuePricechange();" maxlength="10" (keypress)="commonfunctions.InputNumber($event)" [disabled]="format === 'Swap' || format === 'Option'"
            />
        </div>

        <!-- Ccy / Size-->
        <div class="submultiDiv">
            <select [(ngModel)]="ddlNoteCcy" (change)="currencyChange();" [disabled]="format === 'BonoJ' || format === 'Warrant'">
        <option *ngFor="let c of CCY" (selected)="c === UnderlyingCurrency" [value]="c">
          {{ c }}</option>
      </select>
        </div>

        <!-- Notional  -->
        <div class="submultiDiv">
            <input type="text" maxlength="14" id="txtnotional{{ComponentIndex}}" value="{{ Notional }}" (focus)="commonfunctions.UnformatNumber($event)" (blur)="(ProductName === 'CreditTranche' ? this.creditreset(): (ProductName === 'Participation' ? this.ptcreset():this.reset()));checkValidNotional($event);checkNotional($event);"
                (keypress)="commonfunctions.NotionalValidateKeys($event)" (keyup)="commonfunctions.chkNotionalFormat_keyUp($event) === false ? Notional = '': Notional=Notional"  placeholder="Enter Notional" [(ngModel)]="Notional" />
 <!-- Modified keyup event to handle invalid notional || Added by Priya L || 01Apr2022 || assigned by Pranav D. -->
            <!-- (blur)="this.reset();checkNotional($event);commonfunctions.FormatNumber($event);"
      (change)="commonfunctions.NotionalChange($event);setNotional($event);"
      (keypress)="commonfunctions.NotionalValidate($event)" -->

            <!-- (focus)="commonfunctions.UnformatNumber($event)" -->
        </div>

        <!-- Strike Date -->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche'">
            <span style="white-space: nowrap;">
        <input #focusable type="text" class="tenorBox" maxlength="4" style="min-width: 3em !important;"
          (blur)="txtTenorChange($event,'Strike');" (keypress)="this.commonfunctions.tenorDateValidation($event);"
          [(ngModel)]="stkshift"> /
        <input type="date" [(ngModel)]="stkdate" value="{{stkdate}}" *ngIf="ProductName!=='CreditTranche'"
          id="txtstkdate{{ComponentIndex}}"
          (change)="(ProductName === 'Participation' ? this.ptcreset() : this.reset());this.enableToggle();"
          (blur)="txtTenorDateChange('Payment');">
      </span>
        </div>

        <!-- Payment-->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche'">

            <span style="white-space: nowrap;">
        <input type="text" class="tenorBox" maxlength="4" (blur)="txtTenorChange($event,'Payment');"
          (keypress)="this.commonfunctions.tenorDateValidation($event);" style="min-width: 3em !important;"
          [(ngModel)]="paymentshift"> /
        <input type="date" [(ngModel)]="settdate" value="{{settdate}}" id="txtsettdate{{ComponentIndex}}"
          (change)="(ProductName === 'Participation' ? this.ptcreset():this.reset());this.enableToggle();"
          (blur)="txtTenorDateChange('Expiry');">
      </span>
        </div>

        <!-- Expiry-->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche'">
            <span style="white-space: nowrap;">
        <input type="text" class="tenorBox" maxlength="4"
          (blur)="txtTenorChange($event,'Expiry');changeAutoFreqOnTenor();"
          (keypress)="commonfunctions.TenorValidation($event)" style="min-width: 3em !important;"
          [(ngModel)]="expshift">
        <!-- /
      <input type="date" [(ngModel)]="expdate" value="{{expdate}}" id="txtexpdate{{ComponentIndex}}"
        (change)="(ProductName === 'Participation' ? this.ptcreset():this.reset());this.enableToggle();" disabled> -->
      </span>
        </div>

        <!-- Strike /  -->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation'">
            <input type="text" [(ngModel)]="Strike" class="tenorBox" id="txtStrike{{ComponentIndex}}" maxlength="8" (blur)="this.Strike = commonfunctions.setDecimal($event);PriceValidation($event,'Strike');strikeChange();" (keypress)="commonfunctions.InputNumber($event)"
                [disabled]="this.SolveForvalue === 'Strike' " *ngIf="ProductName!=='Participation'" style="max-width: none !important;width: 100% !important;">
        </div>
        <!-- Leverage -->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation'">
            <select id="ddlLeverage{{ComponentIndex}}" [(ngModel)]="LeverageYN" [disabled]="!LeverageFlag" (change)="this.reset(); this.enableToggle();">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
        </div>


        <!-- KI / KI Barrier Type  -->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation' ">

            <select [(ngModel)]="barrierType" (change)="barrierTypeChange()">
        <option value="None">None</option>
        <option value="At Expiry">At Expiry</option>
        <option value="Daily">Daily</option>
        <option value="Continuous">Continuous</option>
      </select>
        </div>
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation' ">
            <input type="text" [(ngModel)]="barrierLevel" id="txtKI{{ComponentIndex}}" maxlength="8" *ngIf="barrierType !== 'None'" (blur)="this.barrierLevel = commonfunctions.setDecimal($event);PriceValidation($event,'BarrierLevel');" (keypress)="commonfunctions.InputNumber($event)"
                [disabled]="this.SolveForvalue === 'KI'">
        </div>

        <!-- KO / KO Freq  -->
        <div class="submultiDiv" *ngIf="ProductName==='AutocallablePhoenix' || ProductName==='Autocallable'">
            <select [(ngModel)]="autoFreq" (change)="changeAutoFreq();">
        <option *ngFor="let a of autoFreqArr" (selected)="a === autoFreq" [value]="a">
          {{ a }}</option>
        <!-- <option value="1m">1m</option>
      <option value="2m">2m</option>
      <option value="3m">3m</option>
      <option value="4m">4m</option>
      <option value="6m">6m</option>
      <option value="12m">12m</option> -->
      </select>
        </div>
        <div class="submultiDiv" *ngIf="ProductName==='AutocallablePhoenix' || ProductName==='Autocallable'">
            <input type="text" [(ngModel)]="autoTrigger" id="txtKO{{ComponentIndex}}" maxlength="100" (keypress)="commonfunctions.AutocallTriggerInputNumber($event);" [disabled]="this.SolveForvalue === 'KO'" (blur)="PriceValidation($event,'AutoTrigger');">
            <span (clickOutside)="onClickedOutside('autoTrigger')" style=" position: relative;">
        <img src="{{asseturl}}info.jpg" class="info" *ngIf="autoTrigger !==''" (click)="GetTriggerValue('autoTrigger')">
        <div *ngIf="autoTriggerPopup" class="triggerTable">

          <table style="width: 100%;">
            <tr class="popuptr">
              <th class="popupth" style="width: 10em;">Periods</th>
              <th class="popupth" style="width: 10em;">
                Trigger</th>
            </tr>
            <tr *ngFor="let t of TriggerValueArr; let i = index; " class="popuptr" style="width: 100%;">

              <td class="popuptd tdRight" style="width:10em;">{{t.NoOfPeriods}} </td>
              <td class="popuptd tdRight" style="width: 10em;"> {{t.OutTrigger | number:'1.2-2'}}
              </td>

            </tr>
          </table>
        </div>
      </span>

        </div>

        <!-- Stepdown / non-call  -->
        <div class="submultiDiv" *ngIf="ProductName==='AutocallablePhoenix' || ProductName==='Autocallable'">
            <input type="text" [(ngModel)]="autoStepDown" id="txtautoStepDown{{ComponentIndex}}" maxlength="8" (blur)="this.reset();this.enableToggle();this.autoStepDown = commonfunctions.setDecimal($event)" (keypress)="commonfunctions.InputNumber($event)" [disabled]="this.SolveForvalue === 'KO'">

        </div>
        <!-- (blur)="autoNonCall = commonfunctions.FormatNumber($event)" -->
        <div class="submultiDiv" *ngIf="ProductName==='AutocallablePhoenix' || ProductName==='Autocallable'">
            <input type="text" [(ngModel)]="autoNonCall" id="txtautoNonCall{{ComponentIndex}}" (keypress)="commonfunctions.InputNumberForInteger($event)" (change)="this.reset();this.enableToggle();" maxlength="8">
            <!-- <img src="{{asseturl}}info.jpg" class="info" *ngIf="autoNonCall !==''">
    <div class="infodiv" *ngIf="autoNonCall !==''">
      <span class="infoNote" *ngIf="autoNonCall !==''" style="white-space: initial;">
        Autocall from {{ getNoncall() }} period.
      </span>
    </div> -->
        </div>

        <!-- PHOENIX - ER CPN / CPN Type  -->
        <div class="submultiDiv" *ngIf="ProductName==='AutocallablePhoenix' || ProductName==='Autocallable'">
            <select [(ngModel)]="autocallCouponType" (change)="this.reset();this.enableToggle();">
        <option value="Flat">Flat</option>
        <option value="Snowball">Snowball</option>
      </select>
        </div>
        <div class="submultiDiv" *ngIf="ProductName==='AutocallablePhoenix' || ProductName==='Autocallable'">
            <input type="text" [(ngModel)]="autocallCoupon" id="txtRebateCoupon{{ComponentIndex}}" maxlength="8" (blur)="this.reset();this.enableToggle();this.autocallCoupon = commonfunctions.setDecimal($event)" (keypress)="commonfunctions.InputNumber($event)" [disabled]="this.SolveForvalue === 'RebateCoupon' ">

        </div>

        <!-- Cpn Type / Memory Pds  -->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation'">
            <select [(ngModel)]="cpnType" (change)="cpnTypeChange()" [disabled]="this.format === 'Option'">
        <option value="No Coupon">No Coupon</option>
        <option value="Standard">Standard</option>
        <option value="Total Memory">Total Memory
        </option>
        <option value="Partial Memory">Partial Memory
        </option>
        <option value="Fixed Coupon">Fixed Coupon
        </option>
      </select>
        </div>
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation'">
            <input type="text" [(ngModel)]="MemoryPeriods" maxlength="8" (change)="this.reset();this.enableToggle();" (keypress)="commonfunctions.allowIntegerOnly($event)" *ngIf="cpnType === 'Partial Memory'" [disabled]="this.format === 'Option'">
        </div>

        <!-- CPN Trig / freq  -->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation'">
            <input type="text" [(ngModel)]="cpnTrigger" id="txtCouponBarrier{{ComponentIndex}}" maxlength="100" (blur)="PriceValidation($event,'CouponTrigger');" (keypress)="commonfunctions.AutocallTriggerInputNumber($event)" *ngIf="cpnType !== 'No Coupon' && cpnType !== 'Fixed Coupon'"
                [disabled]="this.SolveForvalue === 'CouponBarrier' || this.format === 'Option' ">
            <span (clickOutside)="onClickedOutside('cpnTrigger')" style=" position: relative;">
        <img src="{{asseturl}}info.jpg" class="info" *ngIf="cpnTrigger !==''" (click)="GetTriggerValue('cpnTrigger')">
        <div *ngIf="cpnTriggerPopup" class="triggerTable">

          <table style="width: 100%;">
            <tr class="popuptr">
              <th class="popupth" style="width: 10em;">Periods</th>
              <th class="popupth" style="width: 10em;">
                Trigger</th>
            </tr>
            <tr *ngFor="let t of TriggerValueArr; let i = index; " class="popuptr" style="width: 100%;">

              <td class="popuptd tdRight" style="width:10em;">{{t.NoOfPeriods}} </td>
              <td class="popuptd tdRight" style="width: 10em;"> {{t.OutTrigger | number:'1.2-2'}}
              </td>

            </tr>
          </table>
        </div>
      </span>
        </div>

        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation'">
            <select [(ngModel)]="cpnFreq" *ngIf="cpnType !== 'No Coupon' && ProductName==='AutocallablePhoenix'" (change)="this.reset();this.enableToggle();">
        <option value="1m">1m</option>
        <option value="2m"
          *ngIf="autoFreq === '2m'|| autoFreq === '3m' || autoFreq === '4m' || autoFreq === '6m'|| autoFreq === '12m'">
          2m
        </option>
        <option value="3m" *ngIf="autoFreq === '3m'|| autoFreq === '4m' || autoFreq === '6m'|| autoFreq === '12m'">3m
        </option>
        <option value="4m" *ngIf="autoFreq === '4m'|| autoFreq === '6m'|| autoFreq === '12m'">4m</option>
        <option value="6m" *ngIf="autoFreq === '6m'|| autoFreq === '12m'">6m</option>
        <option value="12m" *ngIf="autoFreq === '12m'">12m</option>

      </select>
            <select [(ngModel)]="cpnFreq" *ngIf="cpnType !== 'No Coupon' && ProductName==='ReverseConvertible'" [disabled]="this.format === 'Option'" (change)="this.reset();this.enableToggle();">
        <option value="1m">1m</option>
        <option value="2m">2m</option>
        <option value="3m">3m</option>
        <option value="4m">4m</option>
        <option value="6m">6m</option>
        <option value="12m">12m</option>
        <option value="At Maturity" *ngIf="ProductName === 'ReverseConvertible'">At
          Maturity</option>
      </select>
        </div>

        <!-- Cpn % / Observation  -->
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation'">
            <input type="text" id="txtCoupon{{ComponentIndex}}" [(ngModel)]="cpnCoupon" maxlength="8" (blur)="this.reset();this.enableToggle(); this.cpnCoupon = commonfunctions.setDecimal($event)" (keypress)="commonfunctions.InputNumber($event)" *ngIf="cpnType !== 'No Coupon'"
                [disabled]="this.SolveForvalue === 'Coupon' || this.format==='Option'">

        </div>
        <div class="submultiDiv" *ngIf="ProductName!=='CreditTranche' && ProductName!=='Participation'">
            <select [(ngModel)]="cpnObservation" *ngIf="cpnType !== 'No Coupon'" disabled>
        <option value="PerAnnum">p.a.</option>
        <option value="PerFreq">Per Freq.</option>
      </select>
        </div>

        <!-- Alt Cpn /  Obs -->
        <div class="submultiDiv" *ngIf="ProductName==='AutocallablePhoenix' || ProductName==='Autocallable'">
            <input type="text" [(ngModel)]="altCoupon" id="txtaltCoupon{{ComponentIndex}}" maxlength="8" (blur)="this.reset();this.enableToggle(); this.altCoupon = commonfunctions.setDecimal($event);" (keypress)="commonfunctions.InputNumber($event)">

        </div>

        <!-- CREDIT - Tenor -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <span style="white-space: nowrap;">
        <input #focusable type="text" name="" class="tenorBox" maxlength="4" style="min-width: 3em !important;"
          (keypress)="this.commonfunctions.tenorDateValidation($event);"
          (blur)="txtTenorChange_Credit($event,'Payment');" [(ngModel)]="paymentshift">
        /
        <input type="date" tabindex="4" [(ngModel)]="issueDate" id="issueDate" disabled>
      </span>
        </div>
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <select [(ngModel)]="creditTenor" (change)="this.creditreset();this.enableToggle();">
        <option value="3Y" *ngIf="indexTranche.toLowerCase().includes('main')">
          3Y</option>
        <option value="5Y">5Y</option>
        <option value="7Y" *ngIf="indexTranche.toLowerCase().includes('main')">
          7Y</option>
      </select>
        </div>

        <!-- CREDIT - Attach -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <span style="white-space: nowrap;">
        <input type="text" class="adTxt" style="min-width: 7em !important;" [(ngModel)]="AttachVal" maxlength="5"
          id="AttachVal{{ComponentIndex}}"
          (blur)="this.creditreset();this.enableToggle();getAttachDetachData();calculateAttachPercent()"
          (keypress)="commonfunctions.allowIntegerOnly($event)" (keyup)="commonfunctions.allowIntegerOnly($event)">
        &nbsp;/
        &nbsp;
        <input type="text" class="adTxt" style="min-width: 7em !important;" [(ngModel)]="Attach" maxlength="5"
          (blur)="Attach = commonfunctions.setDecimaltoFour($event);this.creditreset();this.enableToggle();"
          maxlength="10" (keypress)="commonfunctions.InputNumber($event)" disabled />
        %
      </span>
        </div>

        <!-- CREDIT - Detach -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <span style="white-space: nowrap;">
        <input type="text" class="adTxt" style="min-width: 7em !important;" [(ngModel)]="DetachVal" maxlength="5"
          id="DetachVal{{ComponentIndex}}"
          (blur)="this.creditreset();this.enableToggle();getAttachDetachData();calculateDetachPercent()"
          (keypress)="commonfunctions.allowIntegerOnly($event)" (keyup)="commonfunctions.allowIntegerOnly($event)">
        &nbsp;/
        &nbsp;
        <input type="text" class="adTxt" style="min-width: 7em !important;" [(ngModel)]="Detach"
          (blur)="Detach = commonfunctions.setDecimaltoFour($event);this.creditreset();this.enableToggle();"
          maxlength="10" (keypress)="commonfunctions.InputNumber($event)" disabled />
        %
      </span>
        </div>
        <!-- CREDIT - Reoffer Price  -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <input type="text" id="txtReoffer{{ComponentIndex}}" [disabled]="creditSolveFor!='Coupon'" [(ngModel)]="creditReofferPrice" (blur)="this.creditReofferPrice = commonfunctions.setDecimal($event); this.creditreset();this.enableToggle();" maxlength="10" (keypress)="(format === 'Swap' || format === 'Option') ? commonfunctions.InputNegativeNumber($event) :commonfunctions.InputNumber($event)"
            />
        </div>

        <!-- CREDIT - Issue Price  -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <input type="text" maxlength="10" [(ngModel)]="creditIssuePrice" (blur)="this.creditIssuePrice = commonfunctions.setDecimal($event); this.creditreset(); this.enableToggle();" [disabled]="format === 'Swap'">
        </div>

        <!-- CREDIT - Indicative/ Firm  -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <mat-button-toggle-group [(ngModel)]="toggleFlag" (change)="toggeleOnOff()">
                <mat-button-toggle value="Ind" style="width: 10.5em;">Ind.
                </mat-button-toggle>
                <mat-button-toggle value="Firm" style="width: 10.5em;">Firm
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <!-- CREDIT - cpn type  -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <select [(ngModel)]="creditcouponType" (change)="creditcouponTypeChange()">
        <option value="Fixed">Fixed</option>
        <option value="Floating">Floating</option>
      </select>
        </div>

        <!-- CREDIT - Floating Ref.  -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <select [(ngModel)]="floatingRef" [disabled]="creditcouponType!=='Floating'" (change)="changeFreq()">
        <option *ngFor="let arr1 of floatingRefArr" [value]="arr1.LongName.split('-')[1]">
          {{ arr1.LongName.split('-')[1] }}</option>

      </select>
        </div>

        <!-- CREDIT - Freq.  -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <select [(ngModel)]="creditcouponFreq" [disabled]="creditcouponType === 'Floating'" (change)="this.creditreset(); this.enableToggle();">
        <option value="Monthly">Monthly</option>
        <option value="Quarterly">Quarterly</option>
        <option value="Semi-Annual">Semi-Annual</option>
        <option value="Annual">Annual</option>
      </select>
        </div>

        <!-- CREDIT - Coupon Basis -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <select [(ngModel)]="creditcouponBasis" (change)="this.creditreset(); this.enableToggle();">
        <option value="30/360">30/360</option>
        <option value="Act/360">Act/360</option>
        <option value="Act/Act">Act/Act</option>
        <!-- <option value="Act/365">Act/365</option> -->
      </select>
        </div>

        <!-- CREDIT - Cpn/Spread  -->
        <div class="submultiDiv" *ngIf="ProductName==='CreditTranche'">
            <input type="text" id="txtCoupon{{ComponentIndex}}" [disabled]="creditSolveFor!='Reoffer'" [(ngModel)]="creditSpread" (blur)="this.creditSpread= commonfunctions.setDecimal($event);this.creditreset();this.enableToggle();" maxlength="10" (keypress)="commonfunctions.InputNumber($event)"
            />
        </div>


        <!-- Funding Type / Freq.  -->
        <div class="submultiDiv" *ngIf="ProductName!=='Participation'">
            <select [(ngModel)]="fundType" [disabled]="format !== 'Swap'" (change)="(ProductName==='CreditTranche' ? this.creditreset() : this.reset());this.enableToggle();">
        <option value="Fixed Rate">Fixed Rate</option>
        <option value="Floating Rate">Floating Rate
        </option>
      </select>
        </div>
        <div class="submultiDiv" *ngIf="ProductName!=='Participation'">
            <select [(ngModel)]="fundFreq" [(ngModel)]="fundFreq" [disabled]="format !== 'Swap'" (change)="(ProductName==='CreditTranche' ? this.creditreset() : this.reset());this.enableToggle();">
        <option value="1m">1m</option>
        <option value="3m" *ngIf="ProductName ==='ReverseConvertible' || ProductName ==='CreditTranche'">3m</option>
        <option value="6m" *ngIf="ProductName ==='ReverseConvertible' || ProductName ==='CreditTranche'">6m</option>
        <option value="12m" *ngIf="ProductName ==='ReverseConvertible' || ProductName ==='CreditTranche'">12m</option>
        <option value="3m"
          *ngIf="(ProductName ==='AutocallablePhoenix') && (autoFreq === '3m' || autoFreq === '6m' || autoFreq === '12m')">
          3m</option>
        <option value="6m" *ngIf="(ProductName ==='AutocallablePhoenix') && (autoFreq === '6m' || autoFreq === '12m')">
          6m
        </option>
        <option value="12m" *ngIf="(ProductName ==='AutocallablePhoenix') && (autoFreq === '12m')">12m</option>
      </select>
        </div>

        <!-- Index Rate / Spread -->
        <div class="submultiDiv" *ngIf="ProductName!=='Participation'">
            <input type="text" [(ngModel)]="fundRate" id="txtFundingRate{{ComponentIndex}}" maxlength="100" (blur)="(ProductName === 'CreditTranche'? this.creditreset() : this.reset());this.enableToggle();this.fundRate = commonfunctions.setDecimal($event);" (keypress)="commonfunctions.InputSpread($event)"
                [disabled]="format !== 'Swap' || this.SolveForvalue === 'FundingRate'">
            <span (clickOutside)="onClickedOutside('fundRate')" style=" position: relative;">
        <img src="{{asseturl}}info.jpg" class="info" *ngIf="format === 'Swap' && fundRate !==''"
          (click)="GetTriggerValue('fundRate')">
        <div *ngIf="fundRatePopup" class="triggerTable">

          <table style="width: 100%;">
            <tr class="popuptr">
              <th class="popupth" style="width: 10em;">Periods</th>
              <th class="popupth" style="width: 10em;">
                Trigger</th>
            </tr>
            <tr *ngFor="let t of TriggerValueArr; let i = index; " class="popuptr" style="width: 100%;">

              <td class="popuptd tdRight" style="width:10em;">{{t.NoOfPeriods}} </td>
              <td class="popuptd tdRight" style="width: 10em;"> {{t.OutTrigger | number:'1.2-2'}}
              </td>

            </tr>
          </table>
        </div>
      </span>

        </div>

        <!-- Participation Fields  -->

        <!-- Participation Strike  -->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" [(ngModel)]="upStrike" id="txtupStrike{{ComponentIndex}}" maxlength="8" (blur)="upStrike = commonfunctions.setDecimal($event);PTCPriceValidation($event,'upStrike');" (keypress)="commonfunctions.InputNumber($event)">
        </div>

        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" id="txtupGearing{{ComponentIndex}}" [(ngModel)]="upGearing" maxlength="8" (blur)="upGearing = commonfunctions.setDecimal($event);PTCPriceValidation($event,'upGearing');" [disabled]="upBarrierType!=='None'">
        </div>

        <!-- Participation Upper Strike/Min Cpn-->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" [(ngModel)]="upUpperStrike" id="txtupUpperStrike{{ComponentIndex}}" maxlength="8" (blur)="upUpperStrike = commonfunctions.setDecimalForBlank($event);PTCPriceValidation($event,'upUpperStrike');" (keypress)="commonfunctions.InputNumber($event)"
                (change)="upUpperStrikeChange();" [disabled]="upCoupon !==''">
        </div>

        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" [(ngModel)]="upCoupon" id="txtupCoupon{{ComponentIndex}}" [disabled]="upUpperStrike !==''" (blur)="upCoupon = commonfunctions.setDecimalForBlank($event);PTCPriceValidation($event,'upCoupon');txtupCouponChange();" maxlength="8">

        </div>

        <!-- Participation Upside Barrier Type-->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <select (change)="upbarrierTypeChange();" [(ngModel)]="upBarrierType" title="Up&In Barrier Type" [disabled]="upUpperStrike !== '' || upCoupon !== '0.00'">
        <option value="None">None</option>
        <option value="American">American
        </option>
        <option value="Daily">Daily
        </option>
        <option value="At Expiry">At Expiry
        </option>
      </select>
        </div>

        <!-- Participation Upside Barrier Level / Rebate -->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" title="Up&In Barrier Level" [(ngModel)]="upBarrierLevel" id="txtupBarrierLevel{{ComponentIndex}}" maxlength="8" (blur)="upBarrierLevel = commonfunctions.setDecimal($event);PTCPriceValidation($event,'upBarrierLevel');" (keypress)="commonfunctions.InputNumber($event)"
                [disabled]="upBarrierType === 'None'">
        </div>

        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" [(ngModel)]="upRebate" title="Rebate if Up&Out Barrier is touched" id="txtRebateCoupon{{ComponentIndex}}" maxlength="8" (blur)="upRebate = commonfunctions.setDecimal($event);PTCPriceValidation($event,'upRebate');" [disabled]="upBarrierType === 'None'">
        </div>

        <!-- Participation Downside Strike / Leverage-->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" [(ngModel)]="downStrike" id="txtdownStrike{{ComponentIndex}}" maxlength="8" (blur)="downStrike = commonfunctions.setDecimal($event);PTCPriceValidation($event,'downStrike');calculateLeverage();" (keypress)="commonfunctions.InputNumber($event)"
                title="Only for Put Spread" [disabled]="participationType === 'Guaranteed Capital'">
        </div>

        <!-- Participation Downside Lower Strike -->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" title="Only for Put Spread" [(ngModel)]="downLowerStrike" id="txtdownLowerStrike{{ComponentIndex}}" maxlength="8" (change)="changelowerStrikeYN()" (blur)="downLowerStrike = commonfunctions.setDecimalForBlank($event);PTCPriceValidation($event,'downLowerStrike');"
                (keypress)="commonfunctions.InputNumber($event);changelowerStrikeYN()" [disabled]="participationType !== 'Booster'">
        </div>

        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <select id="ddldownLeverageYN{{ComponentIndex}}" [(ngModel)]="downLeverageYN" (change)="this.ptcreset(); this.enableToggle();changedownLeverageYN();" [disabled]="participationType !== 'Booster'">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
        </div>

        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" [(ngModel)]="downLeverage" id="txtdownLeverage{{ComponentIndex}}" maxlength="8" (blur)="downLeverage = commonfunctions.setDecimal($event);PTCPriceValidation($event,'downLeverage');" (keypress)="commonfunctions.InputNumber($event)" [disabled]="participationType !== 'Booster' || downLowerStrike === '' || downLeverageYN === 'No'">
        </div>


        <!-- Participation Downside Barrier Type / Level -->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <select [(ngModel)]="downBarrierType" title="Down&In Barrier Type" (change)="downbarrierTypeChange();" [disabled]="participationType === 'Guaranteed Capital'">
        <option value="None" *ngIf="participationType === 'Booster'">None</option>
        <option value="At Expiry">At Expiry</option>
        <option value="Daily">Daily</option>
        <option value="Continuous">Continuous</option>
      </select>
        </div>

        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" title="Down&In Barrier Level" [(ngModel)]="downBarrierLevel" id="txtdownBarrierLevel{{ComponentIndex}}" maxlength="8" [disabled]="downBarrierType === 'None' || participationType === 'Guaranteed Capital'" (blur)="downBarrierLevel = commonfunctions.setDecimal($event);PTCPriceValidation($event,'downBarrierLevel');"
                (keypress)="commonfunctions.InputNumber($event)">
        </div>
        <!-- *ngIf="downBarrierType !== 'None' && participationType !== 'Guaranteed Capital'" -->

        <!-- Participation Guarateed Coupon Capital Guaranteed Level -->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'" style="height: 85px;">
            <input type="text" [(ngModel)]="capitalGuaranteed" id="txtcapitalGuaranteed{{ComponentIndex}}" maxlength="8" (blur)="capitalGuaranteed = commonfunctions.setDecimal($event);PTCPriceValidation($event,'Strike');" (keypress)="commonfunctions.InputNumber($event)"
                title="Only for Put Spread" disabled>
        </div>

        <!-- Participation  Guarateed Coupon Coupon / Coupon Freq-->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" [(ngModel)]="guaranteedCoupon" [disabled]="participationType !== 'Guaranteed Capital'" maxlength="8" (change)="this.ptcreset();this.enableToggle();">
        </div>

        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <select [(ngModel)]="guaranteedCouponFreq" [disabled]="participationType !== 'Guaranteed Capital'" (change)="this.ptcreset();this.enableToggle();">
        <option value="At Maturity">At
          Maturity</option>
      </select>
        </div>

        <!-- Participation Funding Type / Freq-->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <select [disabled]="format !== 'Swap'" [(ngModel)]="fundType" (change)="this.ptcreset();this.enableToggle();">
        <option value="Fixed Rate">Fixed
          Rate</option>
        <option value="Floating Rate">
          Floating Rate</option>
      </select>
        </div>

        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <select [(ngModel)]="fundFreq" [disabled]="format !== 'Swap'" [(ngModel)]="fundFreq" (change)="this.ptcreset();this.enableToggle();">
        <option value="1m">1m</option>
        <option value="3m">3m</option>
        <option value="6m">6m</option>
        <option value="12m">12m</option>
      </select>
        </div>

        <!-- Participation Funding Rate / Spread-->
        <div class="submultiDiv" *ngIf="ProductName==='Participation'">
            <input type="text" [(ngModel)]="fundRate" id="txtFundingRate{{ComponentIndex}}" maxlength="100" (blur)="this.ptcreset();this.enableToggle();this.fundRate = commonfunctions.setDecimal($event);" (keypress)="commonfunctions.InputSpread($event)" [disabled]="format !== 'Swap' || this.SolveForvalue === 'FundingRate'">
            <span (clickOutside)="onClickedOutside('fundRate')" style=" position: relative;">
        <img src="{{asseturl}}info.jpg" class="info" *ngIf="format === 'Swap' && fundRate !==''"
          (click)="GetTriggerValue('fundRate')">
        <div *ngIf="fundRatePopup" class="triggerTable">

          <table style="width: 100%;">
            <tr class="popuptr">
              <th class="popupth" style="width: 10em;">Periods</th>
              <th class="popupth" style="width: 10em;">
                Trigger</th>
            </tr>
            <tr *ngFor="let t of TriggerValueArr; let i = index; " class="popuptr" style="width: 100%;">

              <td class="popuptd tdRight" style="width:10em;">{{t.NoOfPeriods}} </td>
              <td class="popuptd tdRight" style="width: 10em;"> {{t.OutTrigger | number:'1.2-2'}}
              </td>

            </tr>
          </table>
        </div>
      </span>
        </div>
    </ng-template>

    <ng-template #AccDecProd>
        <!-- AccuDecu- Solve For -->
        <div class="submultiDiv">
            <select #focusable [(ngModel)]="accuSolveFor" (change)="setAccuDecuSolveFor($event)" [disabled]="enabledisablefields('SolveFor')">
        <option value="Strike">Strike (%) </option>
        <option value="Upfront">Upfront (%)</option>
      </select>
        </div>
        <!-- AccuDecu- Daily no. of Shares -->
        <div class="submultiDiv">
            <input type="text" maxlength="14" id="noOfShares{{ComponentIndex}}" value="{{ noOfShares }}" (focus)="commonfunctions.UnformatNumber($event)" (blur)="commonfunctions.FormatNumber($event)" (keypress)="commonfunctions.allowIntegerOnly($event)" 
            (keyup)="commonfunctions.chkNotionalFormat_keyUp($event) === false ? noOfShares = '': noOfShares=noOfShares" 
                [(ngModel)]="noOfShares" (change)="accuDecuReset();this.calculateNotional(this.shareCode, this.exchngCode,this.noOfShares);" [disabled]="enabledisablefields('Shares')"/>
            <!-- Modified keyup event to handle invalid notional || Added by Priya L || 01Apr2022 || assigned by Pranav D. -->
                <!-- (keypress)="commonfunctions.NotionalValidateKeys($event)" -->
        </div>

        <!-- AccuDecu- Estimated Notional -->
        <div class="submultiDiv">
            <input type="text" maxlength="14" id="estimatedNotional{{ComponentIndex}}" value="{{ estimatedNotional }}" (focus)="commonfunctions.UnformatNumber($event)" (keypress)="commonfunctions.NotionalValidateKeys($event)" 
            (keyup)="commonfunctions.chkNotionalFormat_keyUp($event) === false ? estimatedNotional = '': estimatedNotional=estimatedNotional" 
                [(ngModel)]="estimatedNotional" disabled />
                 <!-- Modified keyup event to handle invalid notional || Added by Priya L || 01Apr2022 || assigned by Pranav D. -->
        </div>

        <!-- AccuDecu- Tenor -->
        <div class="submultiDiv">
            <!-- <span style="white-space: nowrap;"> -->
            <input type="text" class="tenorBox" maxlength="2" id="accuTenor{{ComponentIndex}}" value="{{ accuTenor }}" (keypress)="this.commonfunctions.tenorDateValidation($event);" style="min-width: 2em !important;" [(ngModel)]="accuTenor" (change)="changeAccuTenor();this.calculateNotional(this.shareCode, this.exchngCode,this.noOfShares);"
            [disabled]="enabledisablefields('Tenor')">

            <select [(ngModel)]="accuTenorType" maxlength="4" style="min-width: 4em !important; margin-left: 0.5em !important; " (change)="changeAccuTenor();this.calculateNotional(this.shareCode, this.exchngCode,this.noOfShares);"
            [disabled]="enabledisablefields('TenorType')">
              <option value="Month">Month</option>
              <option value="Year">Year</option>
      </select>
            <!-- </span> -->
        </div>
        <!-- AccuDecu- Strike -->
        <div class="submultiDiv">
            <input type="text" [(ngModel)]="accuStrike" id="txtStrike{{ComponentIndex}}" maxlength="10" [disabled]="this.accuSolveFor === 'Strike' || enabledisablefields('Strike')" 
            (blur)="this.accuStrike = commonfunctions.setDecimal($event)" (keypress)="commonfunctions.InputNumber($event)" (change)="accuDecuReset()"
            />
        </div>
        <!-- AccuDecu- Upfront -->
        <div class="submultiDiv">
            <input type="text" [(ngModel)]="accuUpfront" id="txtUpfront{{ComponentIndex}}" maxlength="10" [disabled]="this.accuSolveFor === 'Upfront' || enabledisablefields('Upfront')" 
            (blur)="this.accuUpfront = commonfunctions.setDecimal($event)" (keypress)="commonfunctions.InputNumber($event)" (change)="accuDecuReset()" />
        </div>
        <!-- AccuDecu- KO % of Initial -->
        <div class="submultiDiv">
            <input type="text" [(ngModel)]="accuKOPerInit" id="txtaccuKOPerInit{{ComponentIndex}}" maxlength="10" 
            (blur)="this.accuKOPerInit = commonfunctions.setDecimal($event); checkKO(accuKOPerInit)" (keypress)="commonfunctions.InputNumber($event)" 
            (change)="accuDecuReset()"  [disabled]="enabledisablefields('AutoTrigger')"/>
        </div>
        <!-- AccuDecu- KO Sttl. Type -->
        <div class="submultiDiv">
            <!-- <input type="text" [(ngModel)]="accuKOSttlType" id="txtaccuKOSttlType{{ComponentIndex}}" 
      maxlength="10"/> -->
            <label type="text" id="txtaccuKOSttlType{{ComponentIndex}}" style="color: #676765;margin-bottom: 0.5em !important;" disabled>
        {{accuKOSttlType}}
      </label>
        </div>
        <!-- AccuDecu- 2x Gearing Leverage -->
        <div class="submultiDiv">
            <input type="checkbox" checked="checked" style="width: 10px !important;" [(ngModel)]="accuChkLeverage" (change)="this.accuDecuReset();chkLeverageChange();" 
            [disabled]="enabledisablefields('GearingLeverage')"/>
            <label type="text" style="color: #676765;margin-left: 0.5em !important;margin-bottom: 0.5em !important;" disabled>
        2x Gearing Leverage
      </label>
        </div>
        <!-- AccuDecu- Frequency -->
        <div class="submultiDiv">
            <select [(ngModel)]="accuFreq" (change)="accuDecuReset();this.calculateNotional(this.shareCode, this.exchngCode,this.noOfShares);"
            [disabled]="enabledisablefields('Frequency')">
        <option value="BIWEEKLY">Bi-Weekly</option>
        <option value="MONTHLY">Monthly</option>
      </select>
        </div>
        <!-- AccuDecu- Guarantee -->
        <div class="submultiDiv">
            <!-- <span style="white-space: nowrap;"> -->

            <select [(ngModel)]="accuGuarantee" class="tenorBox" maxlength="3" style="min-width: 3em !important;" (change)="accuDecuReset()" [disabled]="enabledisablefields('GuaranteePeriods')">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" *ngIf="accuFreq =='MONTHLY'">3</option>
        <option value="4" *ngIf="accuFreq =='BIWEEKLY'">4</option>
        <option value="6" *ngIf="accuFreq =='BIWEEKLY'">6</option>
      </select>

            <label type="text" maxlength="2" style="color: #676765;margin-left: 0.5em !important;" disabled> Settl. Periods
      </label>
            <!-- </span> -->
        </div>
    </ng-template>
</div>