<div>
  <div [formGroup]="form">
    <!-- <mat-form-field [ngStyle]="{'width': width}"> -->
      <!-- <input matInput placeholder="{{input.displayName}}" tabIndex={{input.tabIndex}} [ngxMatDatetimePicker]="picker"
        [formControl]="matSelectedTime" [formControlName]="input.fieldName" [disabled]="input.readOnly === 'Y' ? true : false"
        (dateChange)="udfFieldValueChange('change', input, matSelectedTime)"> -->

      <!-- <mat-datepicker-toggle [for]="picker" matSuffix (click)="hideCalendar()"></mat-datepicker-toggle> -->
      <!-- <ngx-mat-datetime-picker  [ngStyle]="{'width': width}"  #ref
      (opened)="toggle(ref)"
      (closed)="toggle(ref)" #picker [stepHour]="stepHour" [stepMinute]="stepMinute" color="primary" showSeconds="true"
        [stepSecond]="stepSecond" enableMeridian="true">
      </ngx-mat-datetime-picker> -->
    <!-- </mat-form-field> -->
  </div>
</div>

<!-- <div class="ngx-timepicker-field-example">
    <ngx-timepicker-field [defaultTime]="'11:11 am'"></ngx-timepicker-field>
</div> -->

<!-- <div>
    <mat-form-field [ngStyle]="{'width': width}">
        <input matInput placeholder="{{input.displayName}}" 
          [disabled]="input.readOnly === 'Y' ? true : false" [ngxTimepicker]="picker" [(ngModel)]="input.value "
          (change)="udfFieldValueChange()">
          <ngx-material-timepicker [enableKeyboardInput]="true" [showSeconds]="true" #picker></ngx-material-timepicker>
          <ngx-timepicker-field #picker ></ngx-timepicker-field>

      </mat-form-field>
</div> -->


<!-- <div>
    <mat-form-field [ngStyle]="{'width': width}">
        <input matTimepicker #t="matTimepicker" #time="ngModel" placeholder="{{input.displayName}}" 
          [disabled]="input.readOnly === 'Y' ? true : false" mode="12h"
          (timeChange)="udfFieldValueChange($event)" [(ngModel)]="input.value" [showSeconds]="true">
      </mat-form-field>
</div> -->

