
<div class="insideCard-gridview">
    <div class="cls-td">
        <label>Product</label>
    </div>
    <div class="">
        <label class="productName">
            FX DCI
        </label>
    </div>
    <div>
        <div class="">
            <select>
                <option>Vanilla Call</option>
                <option>Vanilla Put</option>         
            </select>
        </div>
    </div>

    <div class="cls-td">
        <label>Pair</label>
    </div>
    <div class="">
        <select>
            <option>
                EUR - USD
            </option>
        </select>
    </div>
    <div class="cls-td">
        <label>1.1558/1.1558</label>
    </div>

    <div class="cls-td">
        <label>Contract Amt</label>
    </div>
    <div>
        <input type = "text" value="1,000,000.00" class="InputClass"/>
    </div>
    <div  class="cls-td">
        <label>EUR</label>
    </div>
       

    <div class="cls-td">
        <label>Tenor</label>
    </div>
    <div>
        <select>
            <option>3M</option>
            <option>6M</option>
        </select>
    </div>
    <div class="cls-td">
        <label>18-Jan-2022</label>
    </div>

    <div class="cls-td">
        <label>Sales Spread</label>
    </div>
    <div class="sales_spread">
      <input type = "text" value="1.00" class="width InputClass"/>%
    </div>
    <!-- <div></div> -->
   

    <div class="cls-td">
        <label>Strike</label>
    </div>
    <div>
        <input type = "text" value="1.1558" class="InputClass"/>
    </div>
    <div>
    </div>
   
</div>

<div class="pricingTile">
    <div class="pricing-div">
        <div>

        </div>
        <div></div>
        <div>
            <button class="btn-price">Best Yield</button>
        </div>
        <div>
            <button class="btn-price">Book Request</button>
        </div>
        <!-- <div>
            <button class="btn-price">Order</button>
        </div> -->
    </div>   

    <div class="pricing-card">
        <div>

        </div>
    </div>
</div> 