.insideCard-gridview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    margin:10px;
    color : peachpuff !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", verdana, sans-serif, verdana !important;
    font-size: 12px;
    gap:10px;
}

.productName{
    font-size: 26px;
}

.productDiv{
    grid-column: 2/span 2;
}

.underlyingDiv{
    grid-column: 2/span 3;
}

.cls-td{
    vertical-align: middle !important;
    padding: 10px 6px;
}
select{
    background-color: #232323 !important;
    padding: 3px 5px 5px 5px;
    border-radius: 5px;
    color : peachpuff !important;
    border:none !important;
    -webkit-appearance: auto !important;
    background-image: none !important;
    height: 30px !important;
}

.select-tenor{
    background-color: #232323 !important;
    padding: 3px 5px 5px 5px;
    border-radius: 5px;
    color : peachpuff !important;
    border:none !important;
    width: 65px;
    height: 30px !important;
}
.InputClass{
 
    border-radius: 5px;
    padding: 3px 5px 5px 5px;
    text-align: right;
    outline: none !important;
    color : peachpuff !important;
    background-color: #232323 !important;
    height: 30px !important;

}
.btn-price{
   
    background-color: #0e0e0e !important;
    color: peachpuff !important;
    width: 100px !important;
    margin-right: 0px !important;
   
    box-shadow: 1px 1px 1px #333333;
    border: solid 0px #2c2c2c;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 8px;
    border-radius: 5px;
    
}

.pricing-div{
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr;
    gap:10px;
    margin: 0px 10px;
}
.pricing-card{
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 80px;
    margin-top: 10px;
    background-color: #0000008f;
    margin: 10px;
}

.underlying{
    grid-column: 2/ span 2;
}

.pricingTile{
    // margin-top: 25px;
}

.notional_dropdown{
    width: 57px;
    // margin-left: 5px;
}

.notional_div{
    display: flex;
}

.tenor_dropdown{
    width: 54px;
}
.row-merge{
    grid-row: 7/span 4;
}
.cls-notional{
    padding: 0px 6px;
}
.colspan{
    grid-column: 3/ span 2;
}
.columnspan{
    grid-column: 4/ span 2;
}
.tenorDiv{
    width: 50px;
}
.upfrontDiv{
    margin-right: 5px;
    width: 86px;
}
.bpsDiv{
    margin-right: 5px;
    width: 75px;
}