.mandate-fix {
  display: flex;
  justify-content: center;
  height: 32px;
}

.btnCustomTab {
  cursor: pointer;
}

.tdPadding {
  padding-left: 20px;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  /* pointer-events: none; */
}
.custom-tab-disabled {
  /* opacity: 0.5; */
  /* pointer-events: none; */
  color: white;
  cursor: not-allowed;
}
/* Added by RajeshC || 11-Oct-2023 || ThemeChanges */
.UCPCustomTabButtons{
  background-color: var(--ucp-customtabuttons) !important;
}