
.Portfoliodetails {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: column;
    font-size: 15px;
    width: 85vw;
  }
  
  .title {
    font-size: 18px;
    margin-bottom: 30px;
  }
