.column-filter{
    background-color: var(--bg-color);
    // width: 250px;
    display: inline-flex;
    gap:10px;
    align-items: center;
    position: absolute;
    top:-44px;
    left: 0px !important;
    width:220px ;
    
}